{js:my97date}
<script type="text/javascript" src="{theme:javascript/event.js}"></script>

<div class="headbar">
    <div class="position"><span>工具</span><span>></span><span>广告管理</span><span>></span><span>{if:isset($this->adRow['id'])}编辑{else:}添加{/if}广告</span></div>
</div>
<div class="content_box">
    <div class="content form_content">
        <form action='{url:/tools/ad_floor_save}' method='post' name='ad_floor_save' enctype="multipart/form-data">
            <table class='form_table'>
                <col width="150px" />
                <col />

                <tr>
                    <th>首页楼层广告设置：</th>
                    <td>

                        <table class='border_table' id='slide_box' >
                            <col width="100px" />
                            <col width="200px" />
                            <col />
                            <thead>
                            <tr>
                                <th>广告位</th>
                                <th>名称</th>
                                <th>链接地址</th>
                                <th>排序</th>
                                <th>图片文件</th>
                                <th>开始和结束时间</th>
                            </tr>
                            </thead>

                            <tbody>
                            {if:$this->adList}
                            {foreach:items=$this->adList item=$ad}
                            <tr class='td_c'>
                                <td>
                                <input type="hidden" name="position_id[]" value="{$ad['position_id']}">
                                <input type="hidden" name="id[]" value="{$ad['id']}">
                                {$ad['ap_name']}
                                </td>
                                <td><input type='text' name='name[]' class='small' value="{$ad['name']}" pattern='required' /></td>
                                <td><input type='text' name='link[]' class='middle' value='{$ad["link"]}' pattern='required' /></td>
                                <td><input type="text" name="order[]" class="small" value="{$ad['order']}" pattern='required'></td>
                                <td>
                                    {set:$temp = IFilter::addSlash($ad['content'])}
                                    <img src="{webroot:$temp}" width="150px" /><br/>
                                    <input type="hidden" name="content[]" value="{$ad['content']}" />
                                    <input type="file" name="img[]" class="file small" />
                                </td>
                                <td>
                                <input type='text' class='Wdate' onfocus='WdatePicker()' onblur="FireEvent(this,'onchange');" name='start_time[]' pattern='date' value="{$ad['start_time']}" /> ～
                                <input type='text' class='Wdate' onfocus='WdatePicker()' onblur="FireEvent(this,'onchange');" name='end_time[]' pattern='date'  value="{$ad['end_time']}"/>
                                </td>
                            </tr>
                            {/foreach}
                            {/if}
                            </tbody>
                        </table>
                        <label>设置首页楼层广告</label>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td><button type='submit' class='submit'><span>保存</span></button></td>
                </tr>
            </table>
        </form>
    </div>
</div>