@charset "utf-8";
/* 代码整理：懒人之家 lanrenzhijia.com */
* {
	margin:0;
	padding:0;
	list-style-type:none;
}
a, img {
	border:0;
}
body {
	font:12px/180% Arial, Helvetica, sans-serif, "宋体";
}
a {
	color:#333;
	text-decoration:none;
}

/* demo */
.demo {
	width:240px;
	position:relative;
}
.demo dl dt {
	font-size:14px;
	color:#ff6600;
	margin-top:30px;
	font-weight:800;
}
.demo dl dt, .demo dl dd {
	line-height:22px;
}
/* tabbtn */
.tabbtn {
	height:30px;
	background:url(../images/tabbg.gif) repeat-x;
	border-left:solid 1px #ddd;
	border-right:solid 1px #ddd;
}
.tabbtn li {
	float:left;
	position:relative;
	margin:0 0 0 -1px;
}
.tabbtn li a {
	display:block;
	float:left;
	height:30px;
	line-height:30px;
	overflow:hidden;
	width:59px;
	text-align:center;
	font-size:12px;
	cursor:pointer;
}
.tabbtn li.current a {
	height:30px;
	line-height:30px;
	background:#fff;
	color:#3366cc;
	font-weight:800;
}
/* tabcon */
.tabcon {
	border-width:0 1px 1px 1px;
	border-color:#fff;
	border-style:solid;
	position:relative;/*必要元素*/
	height:175px;
	overflow:hidden;
}
.tabcon .subbox {
	position:absolute;/*必要元素*/
	left:0;
	top:0;
}
.tabcon .sublist {
	padding:5px 10px;
	height:175px;
}
/* leftcon */
#leftcon .subbox {
	width:9999em;
}
#leftcon .subbox .sublist {
	float:left;
	width:664px;
}
/* sublist */
.sublist {
	padding:10px;
}
.sublist li {
	height:28px;
	line-height:28px;
	font-size:12px;
}
.sublist li span {
	margin:0 5px 0 0;
	font-family:"宋体";
	font-size:12px;
	font-weight:400;
	color:#ddd;
}
