@CHARSET "UTF-8";
#detail {
}
.tm-clear::after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
}
.tm-detail-meta {
    position: relative;
    z-index: 0;
}
.tm-clear {
}

#detail .tb-property {
    float: left;
    width: 100%;
}

#detail .tb-wrap {
    color: #666;
    margin: 0 0 0 10px;
}
.tb-detail-hd {
    color: #000;
    padding: 20px 10px 12px;
}

.tb-detail-hd h1 {
    color: #000;
    font-family: "microsoft yahei";
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    padding-bottom: 0.2em;
}

.tb-detail-hd p {
    color: #999;
}

#detail .tm-fcs-panel {
    background-color: #e9e9e9;
    background-repeat: no-repeat;
    font: 12px/1.5 "Microsoft Yahei",tahoma,arial;
    left: 0;
    margin-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    position: relative;
    z-index: 10;
}
#detail .tm-fcs-panel dl.tm-shopPromo-panel .tm-floater-Box .fold .hd, #detail .tm-fcs-panel{
	background-image:url('../images/price.png');
}

#detail .tm-fcs-panel dl::after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
}
#detail .tm-price-panel.tm-price-cur {
    line-height: 30px;
}
#detail .tm-fcs-panel dl {
}
.tm-price-panel {
    color: #333;
    padding-left: 0;
    position: static;
}

#detail .tm-fcs-panel dl dt.tb-metatit {
    color: #999;
    float: left;
    font-size: 12px;
    margin: 0 10px;
    text-align: left;
    width: 50px;
}
#detail .tb-metatit {
    float: left;
    text-align: left;
    width: 66px;
}

#detail .tm-fcs-panel dl dd {
    color: #333;
    font-family: Arial;
    margin-left: 70px;
}
#J_StrPriceModBox dd {
    position: relative;
}

#detail .tm-price-panel.tm-price-cur .tm-yen {
    color: #c40000;
    font-family: Arial;
    font-size: 18px;
    text-decoration: none;
    vertical-align: middle;
}
#detail .tm-yen {
    font-family: arial;
}
.tm-yen {
    font-family: arial;
}
address, cite, dfn, em, var {
    font-style: normal;
}

#detail .tm-price-panel.tm-price-cur .tm-price {
    color: #c40000;
    font-family: Arial;
    font-size: 24px;
    font-weight: bolder;
    text-decoration: none;
    vertical-align: middle;
}
.tm-price-panel .tm-price {
    font-size: 14px;
    text-decoration: line-through;
}

.tm-price-panel .staticPromoTip {
    color: #c40000;
    line-height: 16px;
}

#detail .tb-meta {
    margin: 5px 20px 5px 0;
}

#detail .tb-meta dl::after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
}
#detail .tb-meta dl {
    line-height: 24px;
}
.tm-delivery-panel {
    color: #333;
    position: relative;
}

#detail .tb-meta dl .tb-metatit {
    color: #999;
    float: left;
    font-size: 12px;
    margin: 0 10px;
    text-align: left;
    width: 50px;
}
#detail .tb-metatit {
    float: left;
    text-align: left;
    width: 66px;
}
.tm-delivery-panel .tb-metatit {
    line-height: 36px;
}
.tb-metatit {
    color: #999;
}
#detail .tb-meta dl dd {
    margin-left: 70px;
}
.tm-delivery-panel .tb-postAge {
    line-height: 18px;
    padding: 9px 0;
}
.tm-delivery-panel .tb-postAge .tb-deliveryAdd {
    margin: 0 6px 0 0;
}
.tm-delivery-panel .tb-postAge .mui_addr_tri .mui_addr_tri_1 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #333;
    cursor: pointer;
    margin-right: -12px;
    padding-right: 12px;
    position: relative;
    z-index: 2;
}.tm-delivery-panel .tb-postAge .mui_addr_tri .mui_addr_icon {
    color: #333;
    font-family: tm-detail-font;
    font-style: normal;
    position: relative;
    z-index: 1;
}
.tm-delivery-panel .tb-postAge .tb-postAge-info {
    color: #333;
    display: inline-block;
    padding: 0 5px 0 0;
    position: relative;
}
.tm-delivery-panel .tb-postAge .tb-postAge-info p {
    display: inline;
}
.tm-ind-panel {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #c9c9c9;
    border-image: none;
    border-style: dotted;
    border-width: 1px 0;
    clear: both;
    display: flex;
    margin: -1px 20px 0 0;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
}
.tm-ind-panel .canClick {
    cursor: pointer;
}
.tm-ind-item {
    border-left: 1px solid #e5dfda;
    flex: 1 1 0;
    float: left;
    left: -1px;
    line-height: 16px;
    position: relative;
    text-align: center;
    width: 33%;
}
.tm-ind-item .tm-label {
    color: #999;
    display: inline-block;
    height: 16px;
    line-height: 16px;
}
.tm-ind-panel .tm-count {
    color: #c40000;
    display: inline-block;
    font-weight: 700;
    height: 16px;
    line-height: 16px;
    margin-left: 3px;
}
.tm-ind-panel .canClick {
    cursor: pointer;
}
.tm-ind-item {
    border-left: 1px solid #e5dfda;
    flex: 1 1 0;
    float: left;
    left: -1px;
    line-height: 16px;
    position: relative;
    text-align: center;
    width: 33%;
}
.tm-ind-emPointCount .tm-indcon {
    display: inline-block;
    line-height: 16px;
    margin: 0 auto;
}
.tm-ind-emPointCount .tm-indcon a {
    text-decoration: none;
}
.tm-ind-item .tm-label {
    color: #999;
    display: inline-block;
    height: 16px;
    line-height: 16px;
}.tm-ind-emPointCount .tm-indcon .tm-count {
    color: #280;
}.tb-key {
    margin: 0 20px 0px 10px;
}
.tb-skin {
    padding: 10px 0;
}
#detail .tb-sku {
    padding: 5px 0 12px;
    position: relative;
}
.tm-clear::after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
}
.tb-prop {
    padding-bottom: 6px;
}
#detail .tb-metatit {
    float: left;
    text-align: left;
    width: 66px;
}
.tb-key .tb-metatit {
    color: #838383;
}
.tm-sale-prop dt {
    margin-top: 6px;
}
.tb-prop dt {
    float: left;
    margin-top: 4px;
}
.tb-metatit {
    color: #999;
}
.tm-sale-prop li {
    line-height: 28px;
}
.tb-prop li {
    float: left;
    line-height: 20px;
    margin: 0 4px 4px 0;
    padding: 1px;
    position: relative;
    vertical-align: middle;
}
.tb-prop li a {
    background-color: #fff;
    border: 1px solid #b8b7bd;
    color: #000;
    float: left;
    min-width: 10px;
    padding: 0 9px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    width: auto !important;
}
a {
    outline: 0 none;
}
.tb-prop li span {
    padding-left: 1px;
}
#detail .tb-metatit {
    float: left;
    text-align: left;
    width: 66px;
}
.tb-amount .tb-metatit {
    margin-top: 6px;
}
.tb-key .tb-metatit {
    color: #838383;
}
.tb-metatit {
    color: #999;
}
#content .tb-amount dd {
    color: #878787;
    height: 35px;
    line-height: 31px;
}
.tb-amount-widget .mui-amount-input {
    vertical-align: middle;
}
.tb-text {
    background-position: -406px -41px;
    border: 1px solid #a7a6ac;
    color: #666;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    margin: 0;
    padding: 3px 2px 0 3px;
    width: 36px;
}
button, input, select, textarea {
    font-size: 100%;
}
.tb-amount-widget .mui-amount-btn {
    display: inline-block;
    vertical-align: middle;
}
.tb-amount-widget .mui-amount-increase {
    border: 1px solid #a7a6ab;
    cursor: pointer;
    display: block;
    font-family: tm-detail-font;
    font-size: 16px;
    height: 12px;
    line-height: 12px;
    margin-bottom: 3px;
    overflow: hidden;
    width: 16px;
}
.tb-amount-widget .mui-amount-decrease {
    border: 1px solid #a7a6ab;
    cursor: pointer;
    display: block;
    font-family: tm-detail-font;
    font-size: 16px;
    height: 12px;
    line-height: 12px;
    overflow: hidden;
    width: 16px;
}
.tb-amount-widget .mui-amount-unit {
    margin-left: 5px;
    vertical-align: middle;
}
element.style {
    display: inline;
}
#content .tb-amount em {
    color: #878787;
    margin-left: 1.2em;
}
#detail .tb-hidden {
    display: none;
}
address, cite, dfn, em, var {
    font-style: normal;
}
.tb-gallery {
    float: left;
    position: relative;
    width: 460px;
}

.tb-gallery .tb-booth {
    display: table;
    height: 420px;
    margin: 20px auto 0;
    position: relative;
    table-layout: fixed;
    width: 420px;
    z-index: 1;
	cursor:crosshair;
}
.tb-gallery .tb-booth a {
    border: 1px solid rgba(0, 0, 0, 0.05);
    display: table-cell;
    height: 435px;
    text-align: center;
    vertical-align: middle;
    width: 435px;
}
a {
    outline: 0 none;
}
a {
    color: #35a;
}
a {
    text-decoration: none;
}.tb-gallery .tb-booth a .ks-imagezoom-wrap {
    margin: -1px 0 0 -1px;
}
.tb-gallery .tb-booth a img {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}
fieldset, img {
    border: 0 none;
}.ks-imagezoom-lens {
    background-image: url("../images/dot.png");
}.ks-imagezoom-lens {
    background-attachment: scroll;
    background-color: transparent;
    background-position: 0 0;
    background-repeat: repeat;
    cursor: move;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}
.tm-clear::after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
}
.tb-gallery .tb-thumb {
    margin-left: -16px;
    overflow: hidden;
    text-align: center;
}
.tb-gallery .tb-thumb li {
    display: inline-block;
    margin: 0 0 0 16px;
    padding-top: 22px;
}
.tb-gallery .tb-thumb a {
    float: left;
    height: 60px;
    overflow: hidden;
    position: relative;
    width: 60px;
}
.tb-gallery .tb-thumb img {
    max-height: 60px;
    max-width: 60px;
    position: relative;
}
fieldset, img {
    border: 0 none;
}

.ks-imagezoom-viewer {
    background-color: #fff;
    border: 1px solid #ccc;
    overflow: hidden;
    text-align: center;
    z-index: 1999;
}.ks-overlay {
    left: -9999px;
    position: absolute;
    top: -9999px;
}
element.style {
    left: -55.1148px;
    position: absolute;
    top: -652.244px;
}
.ks-imagezoom-viewer img {
    left: 0;
    position: absolute;
    top: 0;
}
fieldset, img {
    border: 0 none;
}
.mui-amount-btn span{
	background: rgba(0, 0, 0, 0) url("../images/front/sprites_2.gif") no-repeat scroll -25px -201px;
}
.mui-amount-decrease{
	background-position: -25px -207px;
}

.tm-clear::after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
}
.tm-ser {
    margin: 0 20px;
    padding-bottom: 20px;
    position: relative;
}
.tm-clear::after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
}
.tm-ser dl {
    margin-right: 67px;
}
#detail .tb-metatit {
    float: left;
    text-align: left;
    width: 66px;
}
.tb-metatit {
    color: #999;
}
.tm-ser .tm-laysku-dd {
    float: none;
    margin-left: 66px;
    width: auto;
}
.tm-laysku-dd {
    float: left;
    margin-left: -66px;
    width: 100%;
}
.tm-ser .tb-serPromise {
    overflow: hidden;
}
.tm-ser .tb-serPromise li {
    display: inline-block;
    padding-bottom: 5px;
	margin-top:-2px;
    padding-right: 20px;
    white-space: nowrap;
}
.tm-ser .tb-serPromise a {
    color: #666;
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 0 2px 0 0;
    white-space: nowrap;
}
.det_tuan{
	 line-height: 18px;
    padding: 9px 0;
	color:#333;
	font-size:16px;
	font-weight:bold;
}
.det_tuan span{
	color:#c40000;
}
.det_tuan span.sell_sum{
	margin-left:120px;
	color:#333;
}
