@charset "utf-8";
#beside {
	width: 120px;
	right: 0px;
	top:0;
	height:100%;
	position: fixed;
	z-index:10000000;
}
#beside li {
	width: 100%;
	height: 35px;
	list-style: none;
	margin-top: -1px;
	background-color: #959595;
	margin-left: 75px;
	cursor: pointer;
	margin-bottom:2px;
}
#beside li:hover {
	background-color: #F15A24;
}
#beside li a {
	font: 15px "微软雅黑", Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #fff;
	float: left;
	margin-left: 17px;
	margin-top: 5px;
}
.besideIco {
	width: 35px;
	height: 30px;
	margin-top: 3px;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
}