
 .n_bk{
	/*width: 90%;
	background: #fff;
	margin: 0px auto 20px auto;
	padding: 10px 0 35px 0;*/
	width: 82%;
	margin: 55px auto 20px 32px;
	padding: 10px 0 35px 0;
}

.n_bk .cont{
	margin-bottom: 10px;
}
.n_bk span{
	display: inline-block;
	line-height: 30px;
}
.n_bk span img{
	position: relative;
	top: 7px;
	left: 0px;
}
