@charset "utf-8";
/* form validate */
textarea.invalid-text,input.invalid-text{border:1px #DD0000 solid;}
textarea.valid-text,input.valid-text{border:1px #06AC87 solid;}
span.invalid-msg,label.invalid-msg{color:#DD0000;padding:3px 0px 3px 25px;background:url(images/error_msg_icon.gif) no-repeat 6px;}
span.valid-msg,label.valid-msg{color:#06AC87;padding:3px 0px 3px 25px;background:url(images/success_msg_icon.gif) no-repeat 6px;}

@charset "utf-8";
/* CSS Document */
img{vertical-align:middle;}
em{font-style:normal;}
a img, :link img, :visited img{border:0;}
a:hover{text-decoration:none;}
a:link, a:visited{text-decoration:none;color:#666666;}
a:focus{text-decoration:none;color:#0573bd;}
ul, ul li{list-style-type:none;}

.1190w{width:100%;height:26px;background:#F15A24;}
.top{width:1190px;height:26px;margin:0 auto;background:#F15A24;}

.nav_z{width:auto!important;height:26px;float:left;position:relative;z-index:999 ;}
#navul li{float:left;width:78px;height:26px;position:relative;text-align:center;line-height:26px;}
#navul li a:link, #navul li a:visited{color:#FFF;font-weight:500; }
#navul li ul{display:none;position:absolute;z-index:999;background:#F15A24;border-bottom:none;left:-1px;}
#navul li ul li{display:block;width:78px;float:none;height:26px;position:relative;line-height:26px;border-bottom:#c64a1e 1px solid;font-size:12px;overflow:hidden}
#navul li.navmoon{background:#F15A24;width:78px;height:26px;line-height:26px;}
#navul li.navmoon a{color:#fff;}
#navul li.navhome a:hover{color:#FCFF00;}
#navul li.navmoon ul{display:block;}
#navul li.navmoon ul a{display:block;width:78px;height:26px;line-height:26px;}
#navul li.navmoon ul a:hover{color:#0573bd;background:#FFF;}

#navul .erwei{width:25px;}
#navul .erwei ul{float:left; left:-50px;}
#navul .erwei:hover{width:25px;}