@charset "utf-8";
/* CSS Document */
.clearfix:after { content:"."; display:block; height:0; font-size:0; visibility:hidden; clear:both;}
.clearfix {*zoom:1; *display: inline-block;_height:1px;}

.tm_banner { background:url(../images/1789-kys.jpg) no-repeat center top; height:360px; width:100%}
.pp_tm_con { width:1190px;margin:0 auto;}
.pp_tm_con_fr { width:1190px; height:50px; border-bottom:1px dashed #f789b5; color:#f51972; margin-bottom:20px; overflow:hidden; margin-top:15px; }
.pp_tm_con_fr h3 { background:url(../images/pp_tm.png) no-repeat -20px 12px; padding-left:70px;font-size:30px; font-family:"΢���ź�"; line-height:50px; }
.pp_tm_con_fr i { font-weight:normal; font-style:normal}
.pp_tm_con_se {width:1190px; float:left;}
.pp_tm_con_se_l { width:922px; float:left; overflow:hidden; margin-bottom:-35px;}
.pp_tm_con_se_r {width:248px;float:right;overflow:hidden;}
.pp_tm_con_show { border:1px solid #e1e1e1; width:920px; height:210px; position:relative; margin-bottom:20px;}
.pp_tm_con_show .time{width:192px; height:210px; float:right;}
.pp_tm_con_show a:hover{color:#c71c60;}
.show_bg { position:absolute; left:0; bottom:-1px; height:30px; width:100%; opacity:0.6; filter:alpha(opacity:60); background:#333;}
.pp_tm_con_se_l .e7 { border:1px solid #d25428;}
.pp_tm_con_se_l .e7 .show_bg { background:#ff0066;}
.show_hidden_l { position:absolute; left:0; bottom:-1px; color:#fff; font-family:"΢���ź�"; line-height:30px;width:205px;text-align:center; font-size:14px; height:30px;}
.show_hidden_l .l_time {background:url(../images/pp_tm.png) no-repeat -74px -48px; display:inline-block; padding-left:20px; }
.show_hidden_r { position:absolute; right:0; bottom:-1px; width:510px; text-align:center; color:#fff; font-family:"΢���ź�"; line-height:30px; font-size:14px}
.tm_cn {  border:1px solid #d25428; margin-bottom:20px;width:246px;float:right;}
.tm_wb {float:right;}
.tm_cn img { display:block;}
.pp_tm_ad_lb { width:246px; height:320px; overflow:hidden; position:relative; margin-bottom:20px;}
.pp_tm_ad_lb ul { position:absolute;}
.pp_tm_ad_lb li { float:left}
.ad_lb_btn { position:absolute; right:12px; bottom:10px;height: 25px; text-align: right; z-index: 5;}
.ad_lb_btn li { color: #888888; cursor: pointer; display: inline-block; font-family: Verdana,Geneva,sans-serif; font-size: 30px; height: 20px; line-height: 25px; text-align: center; width: 20px;}
.ad_lb_btn li.on {  color: #EC1A5B;}

.tm_yg { border:1px solid #e1e1e1; margin-bottom:20px;width:246px;float:right;}
.tm_yg_top img  { display:block}
.tm_yg_con { padding:5px 9px 15px ; background:#fff}
.tm_yg li { width:114px; height:66px;  float:left}
.tm_yg_con li a { display:block;width:114px; height:65px; border-bottom:1px dashed #d25428;}
.tm_yg_con li a:hover {border-bottom:1px solid #d25428;}
.tm_yg_con2 { padding:5px 9px 15px ; background:#fff}
.tm_yg_con2 li a { display:block;width:114px; height:65px; border-bottom:1px dashed #b1b1b1;}
.tm_yg_con2 li a:hover {border-bottom:1px solid #646464;}
.tm_wq { margin-bottom:20px;}
.tm_wb img  { display:block}

.next_more { text-align:center; margin-bottom:20px;}
.next_more .next_more_btn { border-radius:4px; background:#EBEBEB; background:linear-gradient(#FAFAFA, #EBEBEB) repeat; display:inline-block; border:1px solid #b5b5b5; box-shadow:0 1px 0 rgba(255, 255, 255, 0.5) inset; text-shadow:0 1px 0px #fff; color:#949494; font-size:14px; font-family:"΢���ź�"; line-height:1em; cursor:pointer}
.next_more .next_more_btn:hover { background:linear-gradient(#f0f0f0,#e0e0e0); border-color:#bababa}
.next_more .next_more_btn span { width:500px; padding:12px 0; display:inline-block}
.next_more .loading span { text-indent:-3000px; background:url(../images/spinner-small.gif) no-repeat center;}

.shop_poto{ background-image:url(../images/yigou.png); height:60px; background-repeat: no-repeat;background-position: left top; background-size: 100% 85%;}
.deal-summary h2{margin: 15px 0 0 15px;font-size: 18px;}
.deal-summary-link .tit em{color:#FF9600}
.deal-summary
.tit{color:#2b2b2b;font-family:"微软雅黑";font-size:16px;line-height:26px;overflow:hidden;text-align:left; margin:0 0 0 15px;}
.deal-summary-link .tit b{ font-weight:normal; font-size:14px;}

.deal-summary .price-wrap{padding-top:18px;text-align:left}
.cnt.w1190 .pp_tm_con .pp_tm_con_se .pp_tm_con_se_l .today-deals-con div .deal-summary .deal-summary-link .shop_poto.one{ background-image:url(../images/yusale.png); height:60px; background-repeat: no-repeat;background-position: left top; background-size: 100% 85%;}
.brand_list .brand li .brand_title .price{ float:left;font-size: 14px; color: crimson; position: relative; top: 10px;left: 20px; font-weight:bold;}
.brand_list .brand li .brand_title .price b{ font-size:20px; margin-right:10px;}
.brand_list .brand li .brand_title .price del{ text-decoration:line-through; font-weight:normal; color:#999;}
.brand_list .brand li .brand_title .qiangg{ position: relative; top: 10px;left:138px; color:#999; float:left;}
.brand_list .brand li .brand_title .msqing{position: relative; top: 3px;left:155px;background: rgb(227, 55, 58); border-radius:3px;
    line-height: 35px;
    border: none;
    padding:5px 15px;
    float: initial;
    color: #fff;
    font-size: 12px;}
	
.today-deals-con.one{background:#f3f3f3;/*none repeat scroll 0 0 #fff;*/margin-bottom:20px;/*overflow:hidden;*/padding:10px;width:900px;}
.deal-summary.one{display:inline;float:left;height:350px;overflow:hidden;position:relative;width:515px; background:#fffff5;}	
.clearfix_right.one{ width:213px; float:left;height:200px;}
.today_end_time.countdown.one{color:#333;display:block;font-family:Arial;font-size:13px;font-weight:700;font-weight:700;border-bottom:#CCC dotted 1px;    padding: 0px 0 4px 8px; }
.today_end_time .icon.one{margin: 0 12px 15px 3px;}
.hpl_ypl.one {
    position: relative;
    top: 42px;
    left:-37px;}
.hpl_ypl .blue.one{ color:#09F; margin-left:10px; position: absolute; right:6px;}
.buy_num_con.one{color:#959595;position: absolute; top: 88px;left:385px;}
.clearfix_left.one{ width:300px; float:left; border-right:#f3f3f3 1px solid; height:200px;}
.clearfix_left .now_buy.one {
    background: #e65b08;
    line-height: 35px;
    border: none;
    padding: 0 33px;
    margin-top: 40px;
    float: initial;
    position: absolute;
    color: #fff;
    font-size: 16px;
    left: 15px;
}
.clearfix_left .in_join.one {
    background: #ff9024;
    line-height: 35px;
    border: none;
    padding: 0 25px;
    margin-top: 40px;
    float: initial;
    position: absolute;
    color: #fff;
    font-size: 16px;
    left: 157px;
}
