<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0, maximum-scale=1.0">
<title>查看物流</title>
<link rel="stylesheet" type="text/css" href="{skin:css/chakwl.css}">


</head>

<body>
<!--头部-->
<div class="jiben">
<div class="zhijia">
<div class="ddtou">
<h4><a href="javascript:history.go(-1);" title="返回">＜山城速购</a><b>查看物流</b></h4>
</div></div></div>
<!--头部结束-->
<div class="wuliu">
<h5>订单号：5810336585700</h5>
<div class="item">
<p><a>2015-9-28<i>15:20:12</i></a>发货完成</p>
<p><a>2015-9-28<i>17:45:23</i></a>山西省阳泉市山城公司已打包</p>
<p><a>2015-9-29<i>07:20:34</i></a>山西省阳泉市山城公司已发出</p>
<p><a>2015-9-29<i>10:40:33</i></a>山西太原转运公司已收入</p>
<p><a>2015-9-29<i>13:50:32</i></a>山西太原转运公司已发出 </p>
<p><a>2015-9-29<i>16:25:22</i></a>山西太原商城分拨公司已收入</p>
<p><a>2015-9-29<i>16:25:22</i></a>山西太原商城分拨公司已发出</p>
<p><a>2015-9-29<i>16:25:22</i></a>山西太原市公司已收入</p>


</div>


</div>



</body>
</html>
