<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0, maximum-scale=1.0">
<title>订单已提交</title>
<link rel="stylesheet" type="text/css" href="{skin:css/ddytj.css/ddytj.css}">
</head>

<body>
<div class="jiben">
<div class="zhijia">
<div class="ddtou">
<h4> <a href="javascript:history.go(-1);" title="返回">＜山城速购</a><b>订单详情</b></h4>
</div></div>
<div class="xinxi">
<ul>
<li class="huise"><span>基本信息</span> </li>
<li><span>订单编号</span><a href="#">5815867595500</a> </li>
<li><em>包裹1</em> <span>供应商直送</span></li>
<li class="tupn"><a class="zuo" href="detail"><img src="{skin:images/ddytj.img/ytj.jpg}" width="78" height="61" alt="图片"></a><a href="detail">Royalstar荣事达 电炖蛊RBC-15M</a> <br>
<a href="#">共1件 ></a><br>
<a class="hogse" href="#">￥65.00</a></li>
<li><span>下单时间</span><a href="#">2015-09-28 9:18:22</a></li>
<li class="shouzhi"><span>收货地址</span>
<a href="#">某某某</a><br>
<a href="#">山西 太原 杏花岭区</a><br>
<a href="#">山西 太原 杏花岭区某某街xx号</a><br>
<a href="#">150******78</a></li>
<li><span>包裹数</span><a href="#">1个（含1件商品）</a> </li>
<li><span>网上支付</span><a href="#">支付宝 ></a> </li>
<li class="huise yifu"><span>已付金额</span><a class="hogse" href="#"><a class="hogse" href="#">￥65.00</a></li>
<li class="huise"><span>发票信息</span> <a class="fapio" href="#">附带发票(1张)</a></li>

<!--<li><span>还需支付</span><a href="#"><i>￥0.00</i> (免运费)</a> </li>
--><li class="annu one"><a class="secsed" href="huiyuan3">支付成功</a></li>
 <li class="annu two"><a class="zhfu" href="order">支付出现问题</a></li>
<!--<li class="huise"><span>包裹及配送信息</span> </li>-->
<!--<li><em>包裹1</em> <span>供应商直送</span></li>-->
<!--<li class="tupn"><a class="zuo" href="../item/detail.html"><img src="ddytj.img/ytj.jpg" width="78" height="61" alt="图片"></a><a href="../item/detail.html">Royalstar荣事达 电炖蛊RBC-15M</a> <br>
<a href="#">共1件 ></a><br>
<a class="hogse" href="#">￥65.00</a></li>
<li class="one"> <span>已支付</span></li>-->

<!--<li class="huise"><span>价格清单</span> </li>
<li><span>商品金额</span><a href="#">￥65.00</a> </li>
<li><span>运费</span><a href="#">+￥0.00</a> </li>
<li><span>促销立减</span><a href="#">-￥0.00</a> </li>
<li><span>抵用券</span><a href="#">-￥0.00</a> </li>
<li><span>礼品卡</span><a href="#">-￥0.00</a> </li>
<li class="one"><span>积分</span><a href="#">+0积分</a> </li>-->
<!--<li class="huise yifu"><span>已付金额</span><a class="hogse" href="#">￥65.00</a> </li>-->
<!--<li class="huise"><span>发票信息</span> <a class="fapio" href="#">附带发票(1张)</a></li>
-->
</ul>

</div>





<div class="bottom">
<div class="dibu">
<button>关闭订单</button>

</div>

</div>



</div>   

</body>
</html>
