
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8" />
	<title>我的山城</title>
	<meta name="viewport" content="width=device-width,user-scalable=no,minimum-scale=1" />
        <link rel="apple-touch-icon" href="apple_logo" />
	<link rel="stylesheet" type="text/css" href="{skin:css/style/account-1.css}">
    
    <link rel="stylesheet" type="text/css" href="{skin:css/style/reset.css}">
    <link rel="stylesheet" type="text/css" href="{skin:css/style/style.css}">
	<script src="{theme:javascript/js/account-1.js/modernizr.js}"></script>
    
</head>
<body>
	<header>
		<div class="logo" role="heading">
			<a href="{url:/site/index?callback=}">山城速购</a><em class="nickname">我的山城</em>
		</div>

		<a href="{url:/simple/login?callback=}" class="login">返回</a>

	</header>



 <div class="caidan">
	<ul>
		<li class="qbys"><a href="{url:/site/huiyuan1?callback=}">全部</a></li>
		<li><a href="{url:/site/huiyuan2?}">待付款</a></li>
		<li><a href="{url:/site/huiyuan3?callback=}">待发货</a></li>
		<li><a href="{url:/site/huiyuan4?callback=}">待收货</a></li>
		<li><a href="{url:/site/huiyuan5?callback=}">待评论</a></li>
	 </ul>
 </div>  



<div class="qijiandian">
  
 <ul>
 
 <li><h3><a href="#">官方旗舰店 >></a></h3><h4>交易成功</h4></li>
 <li class="chanpin">
 <a class="tupian"  href="{url:/site/detail?callback=}""> 
 <img src="{skin:images/files/maoyi.jpg}" alt="毛衣"></a>
   
   <p><a href="{url:/site/detail?callback=}"">秋装外套2015韩版新款秋款潮女装套头毛衣秋季宽松厚…<br><b>颜色分类：米色；尺码：均码；厚薄：常规</b>
     <br><span>七天退换</span></a></p> 
  <b>￥69.00<br><span>×1</span></b> 
   
   </li>
  <li class="heji"><p>共两件商品 合计：￥<b>138</b>.00（含运费￥0.00）</p> </li> 
 
 <li><a class="hongzi" href="zjpl">追加评价</a>
    
     
  <a href="#0" class="cd-popup-trigger">删除订单</a>
  <div class="cd-popup" role="alert">
	<div class="cd-popup-container">
		<p>你确定要删除这个订单吗?</p>
		<ul class="cd-buttons">
			<li><a href="#">是</a></li>
			<li><a href="#" class="cd-popup-close image-repeat">否</a></li>
		</ul>
		<a href="#" class="cd-popup-close img-replace">关闭</a>
	</div> <!-- cd-popup-container -->
</div> <!-- cd-popup -->
  
     </li>
  <li class="huise"><hr/></li>
</ul>
<ul class="dianxin">
 
 <li><h3><a href="#">电信官方旗舰店>></a> </h3><h4>待付款</h4></li>
 <li class="chanpin">
 <a class="tupian" href="{url:/site/detail?callback=}""> <img src="{skin:images/files/dianxintu.jpg}" alt="充值卡"></a>
   
   <p><a href="{url:/site/detail?callback=}"">中国电信官方旗舰店 山西手机充值100元电信话费直充快充电…<br>
     <br><span>七天退换</span></a></p> 
  <b>￥69.00<br><span>×1</span></b> 
   
   </li>
  <li class="heji"><p>共1件商品 合计：￥<b>98</b>.40（含运费￥0.00）</p> </li> 
 
 <li><a class="hongzi wd-popup-trigger" href="#">立即结算</a>
      <div class="wd-popup" role="alert">
	<div class="wd-popup-container">
		<p>你确定立即结算吗?</p>
		<ul class="wd-buttons">
			<li><a href="order">是</a></li>
			<li><a style="    position: absolute;
    top: 99px;" href="#" class="wd-popup-close image-repeat">否</a></li>
		</ul>
		<a href="#" class="wd-popup-close img-replace">关闭</a>
	</div> <!-- cd-popup-container -->
</div> <!-- cd-popup -->

   
   <a class="qd-popup-trigger" href="#0">取消交易</a>
  <div class="qd-popup" role="alert">
	<div class="qd-popup-container">
		<p>你确定要取消交易吗?</p>
		<ul class="qd-buttons">
			<li><a href="shouhou">是</a></li>
			<li><a style="    position: absolute;
    top: 99px;" href="#" class="qd-popup-close image-repeat">否</a></li>
		</ul>
		<a href="#" class="qd-popup-close img-replace">关闭</a>
	</div> <!-- cd-popup-container -->
</div> <!-- cd-popup -->
     
     
     
     
     
     
     
    </li>
  <li class="huise"></li>
</ul>



</div>  


<footer id="footer">
		<nav>
			<a href="{url:/site/index?callback=}">首页</a>
			<!-- <a href="http://wap.zol.com.cn/">分类</a> --><a href="category">分类</a>
			<a class="badge" href="{url:/site/pro_lists?callback=}">搜索</a>
			<!-- <a href="http://app.zol.com.cn/">应用</a> --><a href="#">应用</a>
		</nav>

	<div class="f-qk-tl">
		<div class="f-login">
			<a href="{url:/simple/login?callback=}">登录</a><span>|</span><a href="{url:/simple/reg?callback=}">注册</a>
		<div class="f-go-top" id="goTop"><a href="#">TOP</a></div>
		</div>
	</div>
	<div class="f-ch-cp">
		<div class="item"><a href="{url:/site/index?callback=}">触屏版</a><a href="http://www.yqtvt.com/index.html">标准版</a></div>
		<div class="item"><span class="copyright_1">Copyright</span> <span class="copyright_2">2012-2015</span><span class="copyright_3">NAI.COM</span><span class="copyright_4">版权所有</span></div></div>
</footer>
 	
<script src="{theme:javascript/js/jquery-1.9.1.min.js}"></script>
<script src="{theme:javascript/js/account-1.js/main.js}"></script>   

    
    
    
</body>
</html>

