
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8" />
	<title>我的山城</title>
	<meta name="viewport" content="width=device-width,user-scalable=no,minimum-scale=1" />
        <link rel="apple-touch-icon" href="apple_logo" />
	
	
	<link href="{skin:css/account.css}" rel="stylesheet" />
</head>
<body>
	<header>
		<div class="logo" role="heading">
			<a href="{url:/site/index?callback=}">山城速购</a><em class="nickname">我的山城</em>
		</div>

		<a href="{url:/simple/login?callback=}" class="login">返回</a>

	</header>
		
		<div>
	<a href="{url:/site/userinfo}" class="profile menuitem" role="menuitem"><i>编辑</i>
			<div class="avatar">
				<img src="{skin:css/wap/scer.jpg}" width="50" height="50" alt="头像" />
			</div>
			<em class="name">LPF8090Y</em>
			<span class="rank">Lv.1</span></a>
			<span class="rank"><a href=""><img class="xximg" src="{skin:css/wap/app_mail_nav.png}"/></a></span>
		</div>
	
	<div  class="profile menuitem yh">
		<ul>
			<li><a href="" class="dfk"><p class="sj">0</p><p class="tex">代金券</p></a></li>
			<li><a href="" class="dfh"><p class="sj">￥0.00</p><p class="tex">账户余额</p></a></li>
			<li><a href="jifen" class="dsh"><p class="sj">200</p><p class="tex">积分</p></a></li>
			<li><a href="" class="dpl">
				  <span class="qdjf"><!--<p class="tex texs">签到</br>送积分</p>--></span>
					<!--<ul>
						<li><span class="jft"><img src="images/jf.png"/></span></li>
						<li><span class="qdjf"><p class="tex">签到</p><p class="tex">送积分</p></span></li>
					</ul>
					<div class="qdjf">
					<i class="sjf"></i>
					<span class="sjf2 tex">签到送积分</span>
					</div>-->
				</a>
			</li>
		</ul>
	</div>		

	<div class="account-menu menu" role="menu">
		<a role="menuitem" class="menuitem" href="{url:/site/huiyuan1?}">
               <i >暂无订单</i>
               <em class="comment">我的订单</em>
		</a>
	
			<div class="wa">
				<ul>
					<li><a href="{url:/site/huiyuan2}" class="dfk"><p>待付款</p></a></li>
					<li><a href="{url:/site/huiyuan3}" class="dfh"><p>待发货</p></a></li>
					<li><a href="{url:/site/huiyuan4}" class="dsh"><p>待收货</p></a></li>
					<li><a href="{url:/site/huiyuan5}" class="dpl"><p>待评论</p></a></li>
					<!--<li><a href="#" class="thh"><p>退换货</p></a></li>-->
				</ul>
			</div>			
		
		
		<a role="menuitem" class="menuitem" href="{url:/site/focus}">
			<i></i>
			<em class="fav">我的关注</em>
		</a>
		<a role="menuitem" class="menuitem" href="member">
			<!-- <i>暂无积分</i> -->
			<em class="VIP">会员专享</em>
		</a>
		<a role="menuitem" class="menuitem" href="jifen">
			<i>暂无积分</i> 
			<em class="ershou">我的积分</em>
		</a>
		<a role="menuitem" class="menuitem" href="{url:/site/shdz}">
			<i></i>
			<em class="shdz">管理收货地址</em>
		</a>
		<a role="menuitem" class="menuitem" href="yjfk">
			<i></i>
			<em class="yjfk">意见反馈</em>
		</a>
		<a role="menuitem" class="menuitem" href="helps">
			<i></i>
			<em class="ask">帮助中心</em>
		</a>
		
		<a role="menuitem" class="menuitem" href="userinfo">
			<i></i>
			<em class="tuan">设置</em>
		</a>
		<a role="menuitem" class="menuitem" href="focus">
			<i></i>
            <em style="padding:0px;">大家都在看</em>
		</a>
		<div class="baby">
			<ul>
				<li>
					<a href="{url:/site/detail?callback=}" title=""><img src="{skin:images/files/T1UidsBX_s1RCvBVdK.jpg}" alt=""></a>
				</li>
			
				<li>
					<a href="{url:/site/detail?callback=}" title=""><img src="{skin:images/files/T1UidsBX_s1RCvBVdK.jpg}" alt=""></a>
				</li>
			
				<li>
					<a href="{url:/site/detail?callback=}" title=""><img src="{skin:images/files/T1UidsBX_s1RCvBVdK.jpg}" alt=""></a>
				</li>
			</ul>
			<div style="clear:none;"></div>
		</div>
	</div>


<footer id="footer">
		<nav>
			<a href="{url:/site/index?callback=}">首页</a>
			<!-- <a href="http://wap.zol.com.cn/">分类</a> --><a href="category">分类</a>
			<a class="badge" href="{url:/site/pro_lists?callback=}">搜索</a>
			<!-- <a href="http://app.zol.com.cn/">应用</a> --><a href="">应用</a>
		</nav>

	<div class="f-qk-tl">
		<div class="f-login">
			<a href="{url:/simple/login?callback=}">登录</a><span>|</span><a href="{url:/simple/reg?callback=}">注册</a>
		<div class="f-go-top" id="goTop"><a href="#">TOP</a></div>
		</div>
	</div>
	<div class="f-ch-cp">
		<div class="item"><a href="{url:/site/index?callback=}">触屏版</a><a href="http://www.yqtvt.com/index.html">标准版</a></div>
		<div class="item"><span class="copyright_1">Copyright</span> <span class="copyright_2">2012-2015</span><span class="copyright_3">NAI.COM</span><span class="copyright_4">版权所有</span></div></div>
</footer>
	
</body>
</html>

