<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0, maximum-scale=1.0">
<meta content="telephone=no" name="format-detection" />
<title>消息中心</title>

<link rel="stylesheet" href="{skin:css/wap/index.css}" type="text/css" />
<script type="text/javascript" src="{theme:javascript/js/jquery-1.9.1.min.js}"></script>
<link rel="stylesheet" href="{skin:css/common.css}" type="text/css">               
<script src="{theme:javascript/js/common.js}"></script>
<link rel="stylesheet" href="{skin:css/details.css}" type="text/css" />
<link rel="stylesheet" href="{skin:css/search_list.css}" type="text/css">
</script><script src="{theme:javascript/js/scrollTop.js}"></script>

</head>
<body>
	<style>
		.sortSub ul {
			background: none;
			padding: 0 0 10px 0;
			box-shadow: none;
		}
		.sortSub a span {
			width: 28px;
			height: 28px;
			display: inline;
			background: none;
			border-radius: 20px;
			margin: 0 20px 0 20px;
			padding-top:0px;
		}
	</style>


         <header class="wap-header">
    <div class="wap-topbar" style="">
        <div class="h-left"><a href="javascript:history.go(-1);" title="返回">返回</a></div>
        <div class="h-center">
            <h1>消息中心</h1>
        </div>
    </div>
    <!-- <nav class="nav_wrap_new">
    <i class="top_nav_icon"></i>
    <ul class="top_nav_ul clear-fix">
        <a href="index.html">
            <li class="top_nav_li top_nav_home fl">
                <i class="nav_home_icon"></i>
                <span class="top_nav_li_span">首页</span>
            </li>
        </a>
        <a href="search/category.html">
            <li class="top_nav_li top_nav_search fl">
                <i class="nav_search_icon"></i>
                <span class="top_nav_li_span">搜索</span>
            </li>
        </a>
        <a href="cart.html">
            <li class="top_nav_li top_nav_cart fl">
                <i class="nav_cart_icon"></i>
                <span class="top_nav_li_span">购物车</span>
            </li>
        </a>
        <a href="huiyuan.html">
            <li class="top_nav_li top_nav_order fl">
                <i class="nav_order_icon"></i>
                <span class="top_nav_li_span">订单</span>
            </li>
        </a>
        <a href="huiyuan.html">
            <li class="top_nav_li top_nav_user fl">
                <i class="nav_user_icon"></i>
                <span class="top_nav_li_span">我的</span>
            </li>
        </a>
    </ul>
</nav> --></header>

	

		<ul class="sortSub" id="sortSub">
			
				<li>
					<a class="click"><span><img src="{skin:images/cart_img.jpg}" style="width:25px;height:25px;"></span>在线客服</a>
					<ul id="ul1">
						
							<li><a href="#">点击进入与QQ客服进行交流</a></li>
						
					</ul>
				</li>
			
				<li>
					<a class="click"><span><img src="{skin:images/cart_img.jpg}" style="width:25px;height:25px;"></span>人工客服</a>
					<ul>
						
							<li><a>客服电话：0353-2903xxx</a></li>
												
					</ul>
				</li>
			
				
		</ul>


