{set:$config = new Config('site_config');$data = $config->getInfo();
$server_num = unserialize($data['service_online']);
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0, maximum-scale=1.0">
<meta content="telephone=no" name="format-detection" />
<title>消息中心</title>

<link rel="stylesheet" href="{skin:css/wap/index.css}" type="text/css" />
<script type="text/javascript" src="{theme:javascript/jquery-1.9.1.min.js}"></script>
<link rel="stylesheet" href="{skin:css/common.css}" type="text/css">               
<script src="{theme:javascript/common.js}"></script>
<link rel="stylesheet" href="{skin:css/details.css}" type="text/css" />
<link rel="stylesheet" href="{skin:css/search_list.css}" type="text/css">
</script><script src="{theme:javascript/scrollTop.js}"></script>

</head>
<body>
	<style>
		.sortSub ul {
			background: none;
			padding: 0 0 10px 0;
			box-shadow: none;
		}
		.sortSub a span {
			width: 28px;
			height: 28px;
			display: inline;
			background: none;
			border-radius: 20px;
			margin: 0 20px 0 20px;
			padding-top:0px;
		}
	</style>


         <header class="wap-header">
    <div class="wap-topbar" style="">
        <div class="h-left"><a href="javascript:history.go(-1);" title="返回">返回</a></div>
        <div class="h-center">
            <h1>消息中心</h1>
        </div>
    </div>
 </header>

	

		<ul class="sortSub" id="sortSub">
			
				<li>
					<a class="click"><span><img src="{skin:images/cart_img.jpg}" style="width:25px;height:25px;"></span>在线客服</a>
					<ul id="ul1">
						{foreach:items=$server_num}
							<li><a href="{echo:Sonline::getChatUrl($item['qq'])}">与QQ客服{echo:$key+1}进行交流</a></li>
						{/foreach}
					</ul>
				</li>
			
				<li>
					<a class="click"><span><img src="{skin:images/cart_img.jpg}" style="width:25px;height:25px;"></span>人工客服</a>
					<ul>
						
							<li><a href="tel:{$data['phone']}">客服电话：{$data['phone']}</a></li>
												
					</ul>
				</li>
			
				
		</ul>


