<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Wedding Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

	<title>组合销售</title>
	<link rel="stylesheet" href="{skin:css/match_sale.css}" type="text/css">
	<link rel="stylesheet" href="{skin:css/product.min.css}" type="text/css">
	<script type="text/javascript" src="{theme:javascript/jquery-1.7.1.js}"></script>
	<script type="text/javascript" src="{theme:javascript/match_sale.js}"></script>
	<style>
       .chooice_attr i.chooi_none{background: url({skin:images/match_sale/atno.png}) left center no-repeat;
                                     background-size: 80%;
                                 }
       .chooice_attr i.chooi_none.aton{background: url({skin:images/match_sale/aton.png})left center no-repeat; 
                                            background-size: 80%;}                          
       .chooice_attr i.chooi_have  {background: url({skin:images/match_sale/aton.png}) left center no-repeat;
                                     background-size: 80%;
                                 }         
       .figure_cen .attr_chooi i{background: url({skin:images/match_sale/chooice.png}) left center no-repeat;
                                                background-size: 62%}                                                        
	</style>
	<script type="text/javascript">
        var product_url = '{url:/site/getProduct}';//点击规格获取货
        var _url = '{url:/site/getCombineInfo/}'; //获取组合商品信息
        var buy_now_combine_url = '{url:/simple/cart2/id/@id@/num/@buyNums@/type/@type@/comId/@comId@}';
    </script>
</head>
<body>
	<div class="match_sale">
    <header>
   	  <a href="javascript:history.go(-1);" title="返回"><img src="{skin:images/match_sale/san_J.png}" alt="返回"></a>
      <p>优惠搭配</p>
      <!-- <a href="#"><i>使用说明</i></a> -->
      </header>
	
<div class="wrapper">
  <div class="matchmain">
	<h4 id="matchtitle">
        {set:$k = 0}
        {foreach:items=$this->combineList}
        {if:$key < 3}
		    <span {if:$k == 0} class="aton" {/if}>{$item['name']}</span>
        {/if}
        {set:$k++}
		{/foreach}
	</h4>


       <div class="lt_specing"></div>
       <div class="main_figure js_sel_attr" js_data="{$id}" js_product_id="">
		       	<div class="figure_lf">
		       		<a href="{url:/site/products/id/$id}">
		       		  <div class="filf_img">
                        {if:$this->goodsImg}
                        <img src="{url:/pic/thumb/img/$this->goodsImg['img']/w/200/h/200}" alt="" />
                        {else:}
                        <img src="{skin:images/front/nopic_435_435.gif}" width="150" height="150" alt="" />
                       {/if} 
                      </div>
                    </a>
		       	</div>
		       	<div class="figure_cen">
		       		<a class="clamp_line" href="{url:/site/products/id/$id}">
		       			{$name} 
		       		</a>
                    {if:$spec_array}
                    <div class="attr_chooi s-btn s-an s-colo" data="hot">
                        <a class="jrgwc" href="javascript:;">
                            <span>选择商品属性</span>
                            <i></i>
                        </a>
                    </div>
                    {/if} 
		       	</div>

		       	<div class="figure_rg">
		       		<p>￥<span class="js_select_data_price js_main_data_price">{if:$combine_price && $combine_price != '0.00'}{$combine_price}{else:}{$sell_price}{/if}</span></p>
		       		<p class="online_bu">￥<span class="js_select_sell_price js_main_sell_price">{$sell_price}</span></p>

		       	</div>
                {if:$spec_array}
                <div name="tc_shop" class="tc-modal-active" style="display:none;"> 
                              <div class="tc_le tc_tite">          
                                <div class="tc_img">
                                {if:$this->goodsImg}
                                <img src="{url:/pic/thumb/img/$this->goodsImg['img']/w/200/h/200}" alt="{$name}" />
                                {else:}
                                <img src="{skin:images/front/nopic_435_435.gif}" width="150" height="150" alt="{$name}" />
                               {/if}
                               </div>
                                <div class="tc_cont float_lf">
                                  <p style="color:red;" class="js_price_data">￥{if:$combine_price && $combine_price != '0.00'}{$combine_price}{else:}{$sell_price}{/if}</p> <p class="js_nums_data">(库存{$store_nums}件)</p>
                                  <span style="position: absolute;top:3px;right:3px;" class="share_btn">关闭</span>
                                  
                                </div>
                                <div style="clear: none;"></div>
                              </div>

                              {if:$spec_array}
                              {set:$specArray = JSON::decode($spec_array);}
                              {foreach:items=$specArray}
                              <div class="tc_le" name='specCols'>
                                <p class="tc_tit">{$item['name']}</p>
                                {set:$specVal=explode(',',trim($item['value'],','))}
                                {foreach:items=$specVal item=$spec_value}
                                {if:$item['type'] == 1}
                                <span class="tc_gg" onclick="sele_spec(this);" value='{"id":"{$item['id']}","type":"{$item['type']}","value":"{$spec_value}","name":"{$item['name']}"}'>{$spec_value}</span>
                                {else:}
                                <span class="tc_gg" onclick="sele_spec(this);" value='{"id":"{$item['id']}","type":"{$item['type']}","value":"{$spec_value}","name":"{$item['name']}"}'><img src="{webroot:$spec_value}" width='30px' height='30px' /></span>
                                {/if}
                                {/foreach}
                              </div>
                              {/foreach}
                              {/if}
                              <div class="tc_le"><input class="submit" type="button" value="确定" onclick=""/></div>
                        </div>
                {/if}

       </div>

	<div id="conintro">
	<!-- 套餐一 -->
        {set:$kk = 0}
        {foreach:items=$this->combineList item=$combine}
        {if:$key < 3}
					  <!-- 套餐一 -->
          <ul {if:$kk == 0} class="aton" {/if} js_data="{$combine['id']}">
              {foreach:$items=$combine['goodsList'] item=$goods}         
              <li>
                <div class="zuhe_figure js_sel_attr" js_data="{$goods['id']}" js_product_id="">
                  <div class="chooice_attr"><i {if:$combine['type'] == 1} class="chooi_none aton chooi_have" {else:} class="chooi_none" {/if}  js_data="{$goods['id']}"></i> </div>
                      <div class="figure_lf">
                        <a href="{url:/site/products/id/$goods[id]}">
                          <div class="filf_img"> 
                           <img src="{url:/pic/thumb/img/$goods[img]/w/85/h/85}" alt="{$goods['name']}">
                                </div>
                              </a>
                      </div>
                      <div class="figure_cen">
                        <a class="clamp_line" href="{url:/site/products/id/$goods[id]}">
                          {$goods['name']}
                        </a>
                        {if:$goods['spec_array']}
                              <div class="attr_chooi s-btn s-an s-colo" data="hot">
                                <a class="jrgwc" href="javascript:;">
                                  <span>选择商品属性</span>
                                  <i></i>
                                </a>
                              </div>
                              {/if}
          <!-- 属性弹出层 --></div>
                          
                <!--点击加入购物车弹框 -->
                          {if:$goods['spec_array']}
                           <div name="tc_shop" class="tc-modal-active" style="display:none;"> 
                              <div class="tc_le tc_tite">          
                                <div class="tc_img"><img src="{url:/pic/thumb/img/$goods[img]/w/85/h/85}" alt="{$goods['name']}"></div>
                                <div class="tc_cont float_lf">
                                  <p style="color:red;" class="js_price_data">￥{if:$goods['combine_price'] && $goods['combine_price'] != '0.00'}{$goods['combine_price']}{else:}{$goods['sell_price']}{/if}</p> <p class="js_nums_data">(库存{$goods['store_nums']}件)</p>
                                  <span style="position: absolute;top:3px;right:3px;" class="share_btn">关闭</span>
                                  
                                </div>
                                <div style="clear: none;"></div>
                              </div>
                              {set:$specArray = JSON::decode($goods['spec_array']);}
                              {foreach:items=$specArray}
                              <div class="tc_le" name='specCols'>
                                <p class="tc_tit">{$item['name']}</p>
                                {set:$specVal=explode(',',trim($item['value'],','))}
                                {foreach:items=$specVal item=$spec_value}
                                {if:$item['type'] == 1}
                                <span class="tc_gg" onclick="sele_spec(this);" value='{"id":"{$item['id']}","type":"{$item['type']}","value":"{$spec_value}","name":"{$item['name']}"}'>{$spec_value}</span>
                                {else:}
                                <span class="tc_gg" onclick="sele_spec(this);" value='{"id":"{$item['id']}","type":"{$item['type']}","value":"{$spec_value}","name":"{$item['name']}"}'><img src="{webroot:$spec_value}" width='30px' height='30px' /></span>
                                {/if}
                                {/foreach}
                              </div>
                              {/foreach}
                              <div class="tc_le"><input class="submit" type="button" value="确定" onclick=""/></div>
                        </div>
                          {/if} 
               

                <!--点击加入购物车弹框结束 -->

                 
                      <div class="figure_rg">
                        <p>￥<span class="js_select_data_price">{if:$goods['combine_price'] && $goods['combine_price'] != '0.00'}{$goods['combine_price']}{else:}{$goods['sell_price']}{/if}</span></p>
                        <p class="online_bu">￥<span class="js_select_sell_price">{$goods['sell_price']}</span></p>

                      </div>

                 </div>
              
               </li>
               {/foreach}             
         </ul>
         {/if}
        {set:$kk++}
        {/foreach}
				</div>
			</div>
        </div>
        <div style="height: 60px;"></div>
<!-- 合计部分start -->
		<div class="heji_total">
			<div class="hejit_left">
				<a href="javascript:;" class="js_buy_now" js_data="{$id}">
				  立即购买	
				</a>
			</div>

			<div class="hejit_right">
				<span>合计：￥<em></em></span>
				<p>优惠：￥<i></i></p>
			</div>
			
		</div>
<!-- 合计部分end -->

	
    <script type="text/javascript">
			function tabsChange(opt){
				var oTitle = opt.oTitle;
				var oCon = opt.oCon;
				oTitle.find('span').on('click',function(){
					var index = $(this).index();
					$(this).addClass('aton').siblings().removeClass('aton');
					oCon.find('ul').eq(index).show().siblings().hide();
                    count_price();
				});
			}
			tabsChange({
				oTitle : $('#matchtitle'),
				oCon : $('#conintro')
			});
		</script>

</div>
   
   <div class="master_play"></div>
    
</body>
</html>