<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0, maximum-scale=1.0">
<meta content="telephone=no" name="format-detection" />
<title>评价</title>
<link rel="stylesheet" type="text/css" href="{skin:css/pingjia.css}">
<script src="{theme:javascript/js/jquery-1.9.1.min.js}"></script>
<script src="{theme:javascript/js/show.js}"></script>
<link rel="stylesheet" href="{skin:css/product.min.css}" />
<link rel="stylesheet" href="{skin:css/common.css}" type="text/css" />
<link rel="stylesheet" href="{skin:css/detail2.css}" type="text/css" />
<link rel="stylesheet" href="{skin:css/wap/details.css}" type="text/css" />
<link rel="stylesheet"href="{skin:css/cart/spinner/jquery.spinner.css}"  type="text/css" />
<script src="{theme:javascript/js/jquery.spinner.js}"></script>

</head>
<body>
	<header class="top">
		<div class="top-navs">
			<ul>
				<li><a href="javascript:history.go(-1);"><span class="fh">返回</span></a></li>
				<li><a href="{url:/site/detail?callback=}"><span>商品</span></a></li>
				<li><a href="{url:/site/detail2?callback=}"><span>详情</span></a></li>
				<li class="lin"><a href="{url:/site/pingjia_a?callback=}"><span>评价</span></a></li>
				<li><span class="ycnr"><span></span></span>
					<ul style="display:none;">
					<li><a href='javascript:location.reload()'><span class="sx">刷新</span></a></li>
					<li><a href="../search.html"><span class="ss">搜索</span></a></li>
					<li><a href="{url:/site/index?callback=}"><span class="sy">首页</span></a></li>
					</ul>
				</li>
			</ul>
		</div>
	</header>
	<div style="height:45px;"></div>

<div class="pingjia">
 <!--按钮部分-->
 <div class="anniu">
 <div class="haop"><a href="{url:/site/pingjia_a?callback=}">全部(288)</a></div>
 <div class="quanbu"><a href="{url:/site/pingjia_b?callback=}">好评(288)</a></div>
 <div class="zhongp"><a href="{url:/site/pingjia_c?callback=}">中评(288)</a></div>
 <div class="chap"><a href="{url:/site/pingjia_d?callback=}">差评(22)</a></div>
 </div>
<!--按钮部分结束-->
 
<div class="zongp">
<ul>
<li><b>用户：li***胡</b><a href="#">2015-5-26&nbsp;  08:46:21</a><br/><i>评分：<img src="{skin:images/pingjia_img/huangxing.png}" width="100" height="100" alt="黄星"><img src="{skin:images/pingjia_img/huangxing.png}" width="100" height="100" alt="黄星"><img src="{skin:images/pingjia_img/huangxing.png}" width="100" height="100" alt="黄星"><img src="{skin:images/pingjia_img/huangxing.png}" width="100" height="100" alt="黄星"><img src="{skin:images/pingjia_img/huangxing.png}" width="100" height="100" alt="黄星"></i>
<p>做工不错，放在一起很高端大气，手感很好，还想再要一个电容笔，感觉物超所值，非常满意我会介绍朋友来买的。</p><span>【指纹手机】 颜色:白色&nbsp;指纹识别8核5.5寸 2G+16G  </span><li>
</ul>
<hr/>

<ul>
<li><b>用户：颜***</b><a href="#">2015-5-26&nbsp;  08:46:21</a><br/><i>评分：<img src="{skin:images/pingjia_img/huangxing.png}" width="100" height="100" alt="黄星"><img src="{skin:images/pingjia_img/huangxing.png}" width="100" height="100" alt="黄星"><img src="{skin:images/pingjia_img/huangxing.png}" width="100" height="100" alt="黄星"><img src="{skin:images/pingjia_img/huangxing.png}" width="100" height="100" alt="黄星"><img src="{skin:images/pingjia_img/huangxing.png}" width="100" height="100" alt="黄星"></i>
<p>总体感觉还行，面料讲究，版型好颜色正，合身并且有小礼物相赠。</p><span>【男士外套】 颜色:黑色&nbsp;青年秋季男装韩版休闲上衣潮男夹克 XXL  </span><li>
</ul>
<hr/>

<ul>
<li><b>用户：扣***美</b><a href="#">2015-5-26&nbsp;  08:46:21</a><br/><i>评分：<img src="{skin:images/pingjia_img/huangxing.png}" width="100" height="100" alt="黄星"><img src="{skin:images/pingjia_img/huangxing.png}" width="100" height="100" alt="黄星"><img src="{skin:images/pingjia_img/huangxing.png}" width="100" height="100" alt="黄星"><img src="{skin:images/pingjia_img/huangxing.png}" width="100" height="100" alt="黄星"><img src="{skin:images/pingjia_img/huangse.png}" width="100" height="100" alt="灰星"></i>
<p>图片和实物有差距，商品勉强满意，客服服务好，就是物流发的慢，得有耐心。</p><span>【移动电源】 颜色:白色&nbsp;半岛铁盒移动电源A2200白色2200AAh  </span> <br/>
<img class="chongdb" src="{skin:images/pingjia_img/imag.jpg}" width="200" height="200" alt="图片"><img class="chongdb" src="{skin:images/pingjia_img/imag_a.jpg}" width="200" height="200" alt="图片"><img class="chongdb" src="{skin:images/pingjia_img/imag_b.jpg}" width="200" height="200" alt="图片">
<li>
</ul>
<hr/>

</div>
</div>

<div style="height:50px;"></div>
 	<section class="sr-l">
            <div class="s-btn s-cd" data="sales">
				<a href="#">
	             	 <p><img src="{skin:images/detail_img/qq.png}"  alt="qq"/></p>
	             	 <p>客&nbsp;服</p>
              	</a>
            </div>
            <div class="s-btn s-cd" data="price">
				<a href="../login.html">
	             	 <p><img src="{skin:images/detail_img/gz.png}"  alt="qq"/></p>
	             	 <p>关&nbsp;注</p>
              	</a>
            </div>
            <div class="s-btn s-an s-colo" data="hot">
				<a class="jrgwc" onClick="toshop()">加入购物车</a>
            </div>
            <div class="s-btn s-an s-colos" data="default">
				<a class="ljgm" href="../cart.html">立即购买</a>
            </div>
       </section>
         <!--点击加入购物车弹框 -->
          <div id="tc_shop" class="tc_shop">
          <form method="" action="">
				<div class="tc_le tc_tite">
					<div class="tc_img"><img src="{skin:images/23274638-1_b.jpg}" alt=" "></div>
					<div class="tc_cont">
						<p style="color:red;">￥2500</p>
						<p>追风筝的人（快乐大本营高圆圆感动推荐，奥巴马送给女儿的新年礼物。全球两千万读者口耳相传，最想与友人分享的终身五星小说。为你，千千万万遍！）</p>
					</div>
					<div style="clear: none;"></div>
				</div>
				<div class="tc_le">
					<p class="tc_tit">颜色</p>
					<span class="tc_gg">白色</span>
					<span class="tc_gg">黑色</span>
				</div>
				<div class="tc_le tc_gmsl">
					<div class="gmsl">购买数量</div>
					<div class="fn">
						<input type="text" class="spinner"/>
						<!-- <div class="slan">
							<a class="sl sla minus" href="javascript:modified(1);">-</a>
							<input type="text" id="buyNums" value="1" class="spinners"/>
							<a class="sl sljan add" href="javascript:modified(-1);">+</a>
						</div> -->
					</div>
				</div>
				<div class="tc_le"><input class="submit" type="submit" value="确定" onclick="window.open('../cart.html')"/></div>
			</form>
		</div>
<script type="text/javascript">
$('.spinner').spinner();
</script>	
<!--点击加入购物车弹框结束 -->
       
</body>
</html>
