{include:include/detail/det_head.html}
{set:
	$seo_data=array();
	$site_config=new Config('site_config');
	$seo_data['title']=$name."_".$site_config->name;
	$seo_data['keywords']=$keywords;
	$seo_data['description']=$description;
	seo::set($seo_data);
	$promotion=Api::run('getProrule');
	$show_cart=0;
}

<!-- article begin -->
<script type="text/javascript" src="{theme:javascript/iscroll.js}"></script>
<script type="text/javascript" src="{theme:javascript/detail.js}"></script>

{include:include/detail/tuan_det1.html}
{include:include/detail/det2.html}
{include:include/detail/comments_list.html}



<div class="cl"></div>
<script type='text/javascript'>

//添加收藏夹
function favorite_add(obj)
{
	{if:isset($this->user['user_id'])}
		$.getJSON('{url:/simple/favorite_add}',{'goods_id':{$id},'random':Math.random},function(content)
		{
			if(content.isError == false)
			{
				$(obj).text(content.message);
			}
			else
			{
				$(obj).find('img').attr('src','{skin:images/detail_img/ygz.png}');
				$(obj).find('p').eq(1).text('已关注');
				alert(content.message);
			}
		});
	{else:}
		window.location.href="{url:/simple/login/?callback=/site/products/id/$id}";
	{/if}
}




</script>
{include: include/detail/det_foot.html}