<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>商家管理中心</title>
    <link rel="stylesheet" href="{webroot:lib/web/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" href="{webroot:lib/web/bootstrap/bootstrap-theme.min.css}">
    {js:jquery}
    <script src="{webroot:lib/web/bootstrap/bootstrap.min.js}"></script>
    {js:dialog}
	<script type='text/javascript' src="{theme:javascript/common.js}"></script>
    <link rel="stylesheet" href="{skin:css/login.css}" />
</head>

<body>
    <header class="clearfix">
        <div class="col-md-12 column">
            <ul class="breadcrumb">
                <li><a href="{url:}">网站首页</a> <span class="divider"></span></li>
                <li class="active">商家中心</li>
            </ul>
        </div>
    </header>

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <h3 class="text-center w700" style="color:#333">商家管理中心</h3>
                        <form method="post" name="login" action="{url:/systemseller/login}" autoComplete="off" class="form-horizontal" role="form">
                            <input type="hidden" name="callbackUrl" value="{$_GET['callback']}" />
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input class="form-control" placeholder="用户名" name="username" type="text" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input name="password" class="form-control" placeholder="密码" type="password" />
                                </div>
                            </div>
							
							<div class="form-group">
                                <div class="col-sm-12">
                                    <input name="captcha" class="form-control" placeholder="验证码" type="text" />
                                </div>
                            </div>

							<div class="form-group">
                                <div class="col-sm-12">
                                    <img src='{url:/simple/getCaptcha/w/110/h/33/s/15}' id='captchaImg' /><span class="light_gray" style='margin-left:10px;'>看不清？<a class="link" href="javascript:changeCaptcha('{url:/simple/getCaptcha/w/110/h/33/s/15}');">换一张</a></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class=" col-sm-12">
                                    <button type="submit"  class="btn btn-block btn-success">登录</button>
                                </div>
                            </div>
                        </form>

                        <div style="margin-top:20px;margin-bottom:20px">
                           <a target="_blank" href="{url:/site/help_list}"><p style="font-size:12px">服务中心</p></a>
                        </div>
                        <a href="{url:/simple/seller}" type="button" class="btn btn-block btn-info">商家入驻</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<footer class="text-center">PowerBy 耐耐网</footer>
</body>
</html>