{set:
    $seo_data=array();
    $site_config=new Config('site_config');
    $seo_data['title']=$this->detail['name']."_".$site_config->name;
    $seo_data['keywords']=$this->detail['name'];
    $seo_data['description']=$this->detail['name'];
    seo::set($seo_data);
    
}
<link rel="stylesheet" href="{skin:css/activate_page.css}">
<script type='text/javascript' src="{theme:javascript/sales_js/jquery-1.11.1.min.js}" ></script> 
<script type='text/javascript' src="{theme:javascript/active_menu.js}" ></script> 
<div class="hot_sale">
<a class="none_active" name="comtop" href="#">#</a>
<div class="hotad_left">
  <img src="images/hotsl_4_01.png" width="181" height="583" alt="广告位左"> 
  
  </div>
<div class="hotad_right"><img src="images/hotsl_3.png" width="181" height="583" alt="广告位右">
  </div>



<!--floor滚动开始-->
<div id="active">
	<ul>
    <li class="hce_top"><p>潮流新品<br>盛行季</p></li> 
		<li><a href="#item1" class="cur">热卖单品</a></li>
		<li><a href="#item2">御寒外套</a></li>
		<li><a href="#item3">温暖上装</a></li>
		<li><a href="#item4">女神裙装</a></li>
		<li><a href="#item5">白搭裤装</a></li>
        <a href="#comtop"><li class="hce_botom">返回顶部</li></a>
	</ul>
</div>


<div id="content">
	<div class="item" id="item1">
		<!--zhogjian商品列表开始-->
<div class="hotsl_center">

<div class="hot_sltop">
 <h1>热卖单品</h1>
 <h3>HOT SALE PRODUCT</h3>
  </div>

<div class="hotsl_list">

<ul>

<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>

<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>

<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>

<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>

<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>

<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>
<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>
<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>
<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>
<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>

</ul>
</div>
  </div>
<!--zhogjian商品列表结束-->        
	</div>
	<div class="item" id="item2">
		<!--zhogjian商品列表开始-->
<div class="hotsl_center">

<div class="hot_sltop">
 <h1>御寒外套</h1>
 <h3>HOT SALE PRODUCT</h3>
  </div>

<div class="hotsl_list">

<ul>

<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>

<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>

<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>

<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>

<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>

<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>
<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>
<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>
<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>
<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>

</ul>
</div>
  </div>
<!--zhogjian商品列表结束-->       
	</div>
	<div class="item" id="item3">
		<!--zhogjian商品列表开始-->
<div class="hotsl_center">

<div class="hot_sltop">
 <h1>温暖上装</h1>
 <h3>HOT SALE PRODUCT</h3>
  </div>

<div class="hotsl_list">

<ul>

<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>

<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>

<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>

<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>

<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>

<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>
<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>
<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>
<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>
<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>

</ul>
</div>
  </div>
<!--zhogjian商品列表结束-->        
	</div>
	<div class="item" id="item4">
		<!--zhogjian商品列表开始-->
<div class="hotsl_center">

<div class="hot_sltop">
 <h1>女神裙装</h1>
 <h3>HOT SALE PRODUCT</h3>
  </div>

<div class="hotsl_list">

<ul>

<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>

<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>

<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>

<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>

<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>

<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>
<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>
<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>
<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>
<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>

</ul>
</div>
  </div>
<!--zhogjian商品列表结束-->        
	</div>
	<div class="item" id="item5">
		<!--zhogjian商品列表开始-->
<div class="hotsl_center">

<div class="hot_sltop">
 <h1>白搭裤装</h1>
 <h3>HOT SALE PRODUCT</h3>
  </div>

<div class="hotsl_list">

<ul>

<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>

<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>

<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>

<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>

<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>

<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>
<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>
<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>
<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>
<li>
<div class="hotsl_poto">
  <a href="#"><img src="images/HOT_1.jpg" width="190" height="260" alt="图片"></a> 
  </div>
 <div class="hotsl_word">
 <a href="#"><span>谜底简约百搭衫羊毛衣冬天最佳选择</span></a>
 <p>209.00</p>
  </div> 
</li>

</ul>
</div>
  </div>
<!--zhogjian商品列表结束-->        
	</div>
</div>
<!--floor滚动结束-->









<!--冬季棉服floor-->

<!--冬季棉服结束-->







</div>
