<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>活动页面一</title>
<link rel="stylesheet" type="text/css" href="css/activate_page.css">
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/active_menu.js"></script>
</head>

<body>
<div class="focus_banner">

<a class="none_active" name="comtop" href="#">#</a>
<div class="focus_box">
	<div class="focus_word">
	  <p>OUTDOOR AUTUMN & WINTER</p>
	  <h1>户外新春<i>×</i>爆款惠顾</h1>
	  <hr><span> 低至<b>29</b>元  </span><hr class="word_right">
	  <a href="#"> <img src="images/focus_dian.png" width="135" height="135" alt="点击购买"></a>
	  </div>
</div>

<!--floor滚动开始-->
<div id="active">
	<ul class="daoha">
        <li class="hce_top act">
        <img src="images/erm.jpg" width="104" height="103" alt="二维码"><p class="ce_word">爆款汇</p></li> 
		<li><a class="act_ce" href="#item1" class="cur">热卖单品</a></li>
		<li><a class="act_ce" href="#item2">御寒外套</a></li>
		<li><a class="act_ce" href="#item3">温暖上装</a></li>
		<li><a class="act_ce" href="#item4">女神裙装</a></li>
		<li><a class="act_ce" href="#item5">白搭裤装</a></li>
        <a href="#comtop"><li class="hce_botom">返回顶部</li></a>
	</ul>
</div>

<div id="content">
	<div class="item" >
		<!--图片列表开始-->
	<div class="active_list">
		<div class="list_total">
			<div class="page_left">
				<a href="#">
					<img src="images/ad_l.jpg" width="192" height="485" alt="广告图">
				</a>
			</div>

		<div class="page_right">
		<ul>
		   <li>
		 	<div class="list_poto">
		  		<a href="#"> 
		  			<img src="images/poto_list.jpg" width="220" height="220" alt="上衣"/>
		  		</a>
		    </div>
		 	<div class="jgoodsinfo">
				<div class="jdesc" title="骆驼(CAMEL)户外冲锋衣男 防风防水三合一冲锋衣抓绒保暖两件套 军绿/深灰A4W270109 XL" >
					<a target="_blank" href="#">骆驼(CAMEL)户外冲锋衣男 防风防水三合一冲锋衣抓绒保暖两件套 军绿/深灰A4W270109 XL</a>
				</div>
				<div class="jprice">
					<div class="jdprice">
						<span class="jtext">促销价：</span>
						<span class="jrmb">￥</span>
						<span class="jdnum">528.00</span>
					</div>
								
				</div>
				<div class="jbtnarea">
					<a href="#" target="_blank">点击抢购<span>></span></a>
				</div>
			</div>
		  	</li>
	     
		    <li>
		 	<div class="list_poto">
		  		<a href="#"> 
		  			<img src="images/poto_list.jpg" width="220" height="220" alt="上衣"/>
		  		</a>
		    </div>
		 	<div class="jgoodsinfo">
				<div class="jdesc" title="骆驼(CAMEL)户外冲锋衣男 防风防水三合一冲锋衣抓绒保暖两件套 军绿/深灰A4W270109 XL" >
					<a target="_blank" href="#">骆驼(CAMEL)户外冲锋衣男 防风防水三合一冲锋衣抓绒保暖两件套 军绿/深灰A4W270109 XL</a>
				</div>
				<div class="jprice">
					<div class="jdprice">
						<span class="jtext">促销价：</span>
						<span class="jrmb">￥</span>
						<span class="jdnum">528.00</span>
					</div>
								
				</div>
				<div class="jbtnarea">
					<a href="#" target="_blank">点击抢购<span>></span></a>
				</div>
			</div>
		  	</li>
		  	<li>
		 	<div class="list_poto">
		  		<a href="#"> 
		  			<img src="images/poto_list.jpg" width="220" height="220" alt="上衣"/>
		  		</a>
		    </div>
		 	<div class="jgoodsinfo">
				<div class="jdesc" title="骆驼(CAMEL)户外冲锋衣男 防风防水三合一冲锋衣抓绒保暖两件套 军绿/深灰A4W270109 XL" >
					<a target="_blank" href="#">骆驼(CAMEL)户外冲锋衣男 防风防水三合一冲锋衣抓绒保暖两件套 军绿/深灰A4W270109 XL</a>
				</div>
				<div class="jprice">
					<div class="jdprice">
						<span class="jtext">促销价：</span>
						<span class="jrmb">￥</span>
						<span class="jdnum">528.00</span>
					</div>
								
				</div>
				<div class="jbtnarea">
					<a href="#" target="_blank">点击抢购<span>></span></a>
				</div>
			</div>
		  	</li>
	     
		    <li>
		 	<div class="list_poto">
		  		<a href="#"> 
		  			<img src="images/poto_list.jpg" width="220" height="220" alt="上衣"/>
		  		</a>
		    </div>
		 	<div class="jgoodsinfo">
				<div class="jdesc" title="骆驼(CAMEL)户外冲锋衣男 防风防水三合一冲锋衣抓绒保暖两件套 军绿/深灰A4W270109 XL" >
					<a target="_blank" href="#">骆驼(CAMEL)户外冲锋衣男 防风防水三合一冲锋衣抓绒保暖两件套 军绿/深灰A4W270109 XL</a>
				</div>
				<div class="jprice">
					<div class="jdprice">
						<span class="jtext">促销价：</span>
						<span class="jrmb">￥</span>
						<span class="jdnum">528.00</span>
					</div>
								
				</div>
				<div class="jbtnarea">
					<a href="#" target="_blank">点击抢购<span>></span></a>
				</div>
			</div>
		  	</li>
		  	<li>
		 	<div class="list_poto">
		  		<a href="#"> 
		  			<img src="images/poto_list.jpg" width="220" height="220" alt="上衣"/>
		  		</a>
		    </div>
		 	<div class="jgoodsinfo">
				<div class="jdesc" title="骆驼(CAMEL)户外冲锋衣男 防风防水三合一冲锋衣抓绒保暖两件套 军绿/深灰A4W270109 XL" >
					<a target="_blank" href="#">骆驼(CAMEL)户外冲锋衣男 防风防水三合一冲锋衣抓绒保暖两件套 军绿/深灰A4W270109 XL</a>
				</div>
				<div class="jprice">
					<div class="jdprice">
						<span class="jtext">促销价：</span>
						<span class="jrmb">￥</span>
						<span class="jdnum">528.00</span>
					</div>
								
				</div>
				<div class="jbtnarea">
					<a href="#" target="_blank">点击抢购<span>></span></a>
				</div>
			</div>
		  	</li>
	     
		    <li>
		 	<div class="list_poto">
		  		<a href="#"> 
		  			<img src="images/poto_list.jpg" width="220" height="220" alt="上衣"/>
		  		</a>
		    </div>
		 	<div class="jgoodsinfo">
				<div class="jdesc" title="骆驼(CAMEL)户外冲锋衣男 防风防水三合一冲锋衣抓绒保暖两件套 军绿/深灰A4W270109 XL" >
					<a target="_blank" href="#">骆驼(CAMEL)户外冲锋衣男 防风防水三合一冲锋衣抓绒保暖两件套 军绿/深灰A4W270109 XL</a>
				</div>
				<div class="jprice">
					<div class="jdprice">
						<span class="jtext">促销价：</span>
						<span class="jrmb">￥</span>
						<span class="jdnum">528.00</span>
					</div>
								
				</div>
				<div class="jbtnarea">
					<a href="#" target="_blank">点击抢购<span>></span></a>
				</div>
			</div>
		  	</li>
	    </ul>
	  </div>
 </div>
 </div>

<!--列表结束-->       
	</div>
	<div class="item">
		<!--图片列表开始-->
	<div class="active_list">
		<div class="list_total">
			<div class="page_left">
				<a href="#">
					<img src="images/ad_l.jpg" width="192" height="485" alt="广告图">
				</a>
			</div>

		<div class="page_right">
		<ul>
		   <li>
		 	<div class="list_poto">
		  		<a href="#"> 
		  			<img src="images/poto_list.jpg" width="220" height="220" alt="上衣"/>
		  		</a>
		    </div>
		 	<div class="jgoodsinfo">
				<div class="jdesc" title="骆驼(CAMEL)户外冲锋衣男 防风防水三合一冲锋衣抓绒保暖两件套 军绿/深灰A4W270109 XL" >
					<a target="_blank" href="#">骆驼(CAMEL)户外冲锋衣男 防风防水三合一冲锋衣抓绒保暖两件套 军绿/深灰A4W270109 XL</a>
				</div>
				<div class="jprice">
					<div class="jdprice">
						<span class="jtext">促销价：</span>
						<span class="jrmb">￥</span>
						<span class="jdnum">528.00</span>
					</div>
								
				</div>
				<div class="jbtnarea">
					<a href="#" target="_blank">点击抢购<span>></span></a>
				</div>
			</div>
		  	</li>
	     
		    <li>
		 	<div class="list_poto">
		  		<a href="#"> 
		  			<img src="images/poto_list.jpg" width="220" height="220" alt="上衣"/>
		  		</a>
		    </div>
		 	<div class="jgoodsinfo">
				<div class="jdesc" title="骆驼(CAMEL)户外冲锋衣男 防风防水三合一冲锋衣抓绒保暖两件套 军绿/深灰A4W270109 XL" >
					<a target="_blank" href="#">骆驼(CAMEL)户外冲锋衣男 防风防水三合一冲锋衣抓绒保暖两件套 军绿/深灰A4W270109 XL</a>
				</div>
				<div class="jprice">
					<div class="jdprice">
						<span class="jtext">促销价：</span>
						<span class="jrmb">￥</span>
						<span class="jdnum">528.00</span>
					</div>
								
				</div>
				<div class="jbtnarea">
					<a href="#" target="_blank">点击抢购<span>></span></a>
				</div>
			</div>
		  	</li>
	    </ul>
	  </div>
	 </div>
	</div>  
</div>
<div class="item" >
		<!--图片列表开始-->
	<div class="active_list">
		<div class="list_total">
			<div class="page_left">
				<a href="#">
					<img src="images/ad_l.jpg" width="192" height="485" alt="广告图">
				</a>
			</div>

		<div class="page_right">
		<ul>
		   <li>
		 	<div class="list_poto">
		  		<a href="#"> 
		  			<img src="images/poto_list.jpg" width="220" height="220" alt="上衣"/>
		  		</a>
		    </div>
		 	<div class="jgoodsinfo">
				<div class="jdesc" title="骆驼(CAMEL)户外冲锋衣男 防风防水三合一冲锋衣抓绒保暖两件套 军绿/深灰A4W270109 XL" >
					<a target="_blank" href="#">骆驼(CAMEL)户外冲锋衣男 防风防水三合一冲锋衣抓绒保暖两件套 军绿/深灰A4W270109 XL</a>
				</div>
				<div class="jprice">
					<div class="jdprice">
						<span class="jtext">促销价：</span>
						<span class="jrmb">￥</span>
						<span class="jdnum">528.00</span>
					</div>
								
				</div>
				<div class="jbtnarea">
					<a href="#" target="_blank">点击抢购<span>></span></a>
				</div>
			</div>
		  	</li>
	     
		    <li>
		 	<div class="list_poto">
		  		<a href="#"> 
		  			<img src="images/poto_list.jpg" width="220" height="220" alt="上衣"/>
		  		</a>
		    </div>
		 	<div class="jgoodsinfo">
				<div class="jdesc" title="骆驼(CAMEL)户外冲锋衣男 防风防水三合一冲锋衣抓绒保暖两件套 军绿/深灰A4W270109 XL" >
					<a target="_blank" href="#">骆驼(CAMEL)户外冲锋衣男 防风防水三合一冲锋衣抓绒保暖两件套 军绿/深灰A4W270109 XL</a>
				</div>
				<div class="jprice">
					<div class="jdprice">
						<span class="jtext">促销价：</span>
						<span class="jrmb">￥</span>
						<span class="jdnum">528.00</span>
					</div>
								
				</div>
				<div class="jbtnarea">
					<a href="#" target="_blank">点击抢购<span>></span></a>
				</div>
			</div>
		  	</li>
	    </ul>
	  </div>
	 </div>
	</div>   
</div>

<!--列表结束--> 
<div class="item" >
		<!--图片列表开始-->
	<div class="active_list">
		<div class="list_total">
			<div class="page_left">
				<a href="#">
					<img src="images/ad_l.jpg" width="192" height="485" alt="广告图">
				</a>
			</div>

		<div class="page_right">
		<ul>
		   <li>
		 	<div class="list_poto">
		  		<a href="#"> 
		  			<img src="images/poto_list.jpg" width="220" height="220" alt="上衣"/>
		  		</a>
		    </div>
		 	<div class="jgoodsinfo">
				<div class="jdesc" title="骆驼(CAMEL)户外冲锋衣男 防风防水三合一冲锋衣抓绒保暖两件套 军绿/深灰A4W270109 XL" >
					<a target="_blank" href="#">骆驼(CAMEL)户外冲锋衣男 防风防水三合一冲锋衣抓绒保暖两件套 军绿/深灰A4W270109 XL</a>
				</div>
				<div class="jprice">
					<div class="jdprice">
						<span class="jtext">促销价：</span>
						<span class="jrmb">￥</span>
						<span class="jdnum">528.00</span>
					</div>
								
				</div>
				<div class="jbtnarea">
					<a href="#" target="_blank">点击抢购<span>></span></a>
				</div>
			</div>
		  	</li>
	     
		    <li>
		 	<div class="list_poto">
		  		<a href="#"> 
		  			<img src="images/poto_list.jpg" width="220" height="220" alt="上衣"/>
		  		</a>
		    </div>
		 	<div class="jgoodsinfo">
				<div class="jdesc" title="骆驼(CAMEL)户外冲锋衣男 防风防水三合一冲锋衣抓绒保暖两件套 军绿/深灰A4W270109 XL" >
					<a target="_blank" href="#">骆驼(CAMEL)户外冲锋衣男 防风防水三合一冲锋衣抓绒保暖两件套 军绿/深灰A4W270109 XL</a>
				</div>
				<div class="jprice">
					<div class="jdprice">
						<span class="jtext">促销价：</span>
						<span class="jrmb">￥</span>
						<span class="jdnum">528.00</span>
					</div>
								
				</div>
				<div class="jbtnarea">
					<a href="#" target="_blank">点击抢购<span>></span></a>
				</div>
			</div>
		  	</li>
	    </ul>
	  </div>
	 </div>
	</div>   
</div>

<div class="item" >
		<!--图片列表开始-->
	<div class="active_list">
		<div class="list_total">
			<div class="page_left">
				<a href="#">
					<img src="images/ad_l.jpg" width="192" height="485" alt="广告图">
				</a>
			</div>

		<div class="page_right">
		<ul>
		   <li>
		 	<div class="list_poto">
		  		<a href="#"> 
		  			<img src="images/poto_list.jpg" width="220" height="220" alt="上衣"/>
		  		</a>
		    </div>
		 	<div class="jgoodsinfo">
				<div class="jdesc" title="骆驼(CAMEL)户外冲锋衣男 防风防水三合一冲锋衣抓绒保暖两件套 军绿/深灰A4W270109 XL" >
					<a target="_blank" href="#">骆驼(CAMEL)户外冲锋衣男 防风防水三合一冲锋衣抓绒保暖两件套 军绿/深灰A4W270109 XL</a>
				</div>
				<div class="jprice">
					<div class="jdprice">
						<span class="jtext">促销价：</span>
						<span class="jrmb">￥</span>
						<span class="jdnum">528.00</span>
					</div>
								
				</div>
				<div class="jbtnarea">
					<a href="#" target="_blank">点击抢购<span>></span></a>
				</div>
			</div>
		  	</li>
	     
		    <li>
		 	<div class="list_poto">
		  		<a href="#"> 
		  			<img src="images/poto_list.jpg" width="220" height="220" alt="上衣"/>
		  		</a>
		    </div>
		 	<div class="jgoodsinfo">
				<div class="jdesc" title="骆驼(CAMEL)户外冲锋衣男 防风防水三合一冲锋衣抓绒保暖两件套 军绿/深灰A4W270109 XL" >
					<a target="_blank" href="#">骆驼(CAMEL)户外冲锋衣男 防风防水三合一冲锋衣抓绒保暖两件套 军绿/深灰A4W270109 XL</a>
				</div>
				<div class="jprice">
					<div class="jdprice">
						<span class="jtext">促销价：</span>
						<span class="jrmb">￥</span>
						<span class="jdnum">528.00</span>
					</div>
								
				</div>
				<div class="jbtnarea">
					<a href="#" target="_blank">点击抢购<span>></span></a>
				</div>
			</div>
		  	</li>
	    </ul>
	  </div>
	 </div>
	</div>   
</div>





</div>
<!--floor滚动结束-->
</body>
</html>
