{set:
    $seo_data=array();
    $site_config=new Config('site_config');
    $seo_data['title']=$name."_".$site_config->name;
    $seo_data['keywords']=$name;
    $seo_data['description']=$description;
    seo::set($seo_data);
    
}
  
<link href="{skin:css/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />  
<!-- Custom Theme files -->
<!--theme style-->             
<link href="{skin:css/font-awesome.min.css}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" type="text/css" href="{skin:css/hd3.css}">
<link rel="stylesheet" type="text/css" href="{skin:css/reset.css}">
<script src="{theme:javascript/jquery1.9.0.min.js}"></script>
<script type="text/javascript" src="{theme:javascript/menus.js}"></script>

<div class="hd3_dt">
    <div class="mui-zebra-module">
            <div>                      
                <img src="{webroot:$topImage}" alt="{$name}">
                
            </div>
         </div>
     <div id="content" style="" >
     {foreach:items=$this->groupDetail}
    <div class="sct item">
        <div class="hd3">
            <a name="bt{$item['id']}">
            {foreach:items=$this->group key=$keyG item=$group}
            {if:$key<>$keyG}
            <div class="hd3_tit"><a  href="#bt{$group['id']}" ><img src="{webroot:$group['image']}" alt="{$group['group_name']}"></a></div>
            {else:}
            <div class="hd3_tit"><img src="{webroot:$group['overimage']}" alt="{$group['group_name']}"></div>
            {/if}
            {/foreach}
                <!--<div class="hd3_tit"><a><img src="images/hd3_t2s.jpg"/></a></div>
                <div class="hd3_tit"><a href="#bt2"><img src="images/hd3_t3.jpg"/></a></div>
                <div class="hd3_tit"><a><img src="images/hd3_t1.jpg"/></a></div>
                <div class="hd3_tit"><a><img src="images/hd3_t3.jpg"/></a></div>-->
            </a>
        </div>
        <div class="hd3">
            {foreach:items=$item['goodsList'] item=$goods}
            <div class="hd3_cont">
                <a href="{url:/site/products/id/$goods['goods_id']}">
                    <img src="{webroot:$goods['img']}"/>
                    <hr class="hr1"/><hr class="hr2"/>
                    <p>{$goods['name']}</p>
                    <div class="c_gm">
                        <span class="price">￥{$goods['sell_price']}</span>
                        <span><img class="gmtu" src="{skin:images/gm.jpg}"style="width:75px; height:75px " /></span>
                    </div>
                </a>
            </div>
            {/foreach}
        </div>
        <div class="clear"></div>
    </div> 
    {/foreach}
</div>
</div>           

    <div id="menu">
        <div class="rutn_top">
            <div><span>新年特惠</span><img src="{webroot:$floatimage}"/></div>
        </div>
        <ul>
        {foreach:items=$this->group} 
            <li><a href="#bt{$item['id']}" {if:$key==0} class="cur"{/if}>{$item['group_name']}</a></li> 
        {/foreach}                         
        </ul>
        <div class="rutn_top">
            <a href="#"><span class="icon-angle-up"></span><p>返回顶部</p></a>
        </div>
    </div>   
