{set:
    $seo_data=array();
    $site_config=new Config('site_config');
    $seo_data['title']=$name."_".$site_config->name;
    $seo_data['keywords']=$name;
    $seo_data['description']=$description;
    seo::set($seo_data);
    
}   
<link href="{skin:css/font-awesome.min.css}" rel="stylesheet" type="text/css" media="all" />
<link href="{skin:css/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />  
<link rel="stylesheet" type="text/css" href="{skin:css/hd4.css}">
<link rel="stylesheet" type="text/css" href="{skin:css/reset.css}">
<link rel="stylesheet" type="text/css" href="{skin:css/menu.css}">    
<script type="text/javascript" src="{theme:javascript/menu.js}"></script>
</head>
<body> 
        <div class="hd4_cont" id="content" style="background:{$main};" >
            <div class="mui-zebra-module">
                <div class="tb-module act-module-header">
                    <div>
                         <img src="{webroot:$topImage}" alt="{$name}">
                           <!--/linkAreaEnd-->
                    </div>
                </div>
             </div>
             <!--导航-->
             {foreach:items=$this->groupDetail}
             <!--导航-->
             <div class="mui-zebra-module  item">
                <div class="tb-module act-module-38pro-floorNav J_act_floor" >
                    <div class="mui-act-wrapper">
                        <div class="mui-act-lateralNav ">
                            {foreach:items=$this->group key=$keyG item=$group}
                              <a class="mui-act-lateralNav-link mui-act-anchor {if:$keyG == $key} current {/if}" style="width:99px" {if:$keyG == $key} name="hd4_bt{$group['id']}" {else:} href="#hd4_bt{$group['id']}" {/if}>
                                    <span class="mui-act-lateralNav-ico  icon-map-marker"></span>
                                    <span class="mui-act-lateralNav-txt ">{$group['group_name']}</span>
                               </a>
                            {/foreach}
                            </div>
                       </div>
                </div>
             </div>

             <!--导航结束-->
             <!--活动商品-->
             <div class="mui-zebra-module">
                 <div class="zebra-act-item-2-pc">
                     <ul class="act-list J_dynamic j_hasReceiveCoupon">
                        {foreach:items=$item['goodsList'] item=$goods}
                         <li data-mark="pit" data-tag="item">
                               <a class="itemLink" target="_blank" title="{$goods['name']}" href="{url:/site/products/id/$goods['goods_id']}" ></a>
                               <div class="itemBox">
                                <div class="pic">
                                    <img width="320" alt="{$goods['name']}" class="img-ks-lazyload" src="{webroot:$goods['img']}">
                                    <span class="item-title">{$goods['name']}</span>
                            
                                </div>
                                   <div class="info-box">
                                    <p class="desc">
                                     <!--第二件立减100元-->
                                       </p>
                                    <s class="box-sep"></s>
                                    <div class="info-detail">
                                    <div class="logo">
                                        <img width="70" height="35" alt="{$goods['name']}" class="img-ks-lazyload" src="{webroot:$goods['img']}">
                                    </div>
                                    <div class="price-box">
                                           <p class="oprice">专柜价：<span class="yen">¥</span> <span>{$goods['market_price']}</span></p>
                                        <p class="price">活动价：<span class="yen">¥</span> <span>{$goods['sell_price']}</span></p>
                                    </div>
                                </div>

                            </div>
                            <div class="action-box ">
                                   <!--<div class="coupon"><span class="quan">券</span>20元<span class="mui-act-font icon-angle-right scale"></span></div>-->
                                <div class="btn">
                                    立即购买
                                    <span class="mui-act-font icon-angle-right scale"></span>
                                </div>
                            </div>
                                <a href="{url:/site/products/id/$goods['goods_id']}" class="couponLink j_ReceiveCoupon"  target="_blank" title="{$goods['name']}"></a>
                            </div>
                        </li>
                        {/foreach}
                     </ul>
                 </div>
             </div>
             <!--活动商品结束-->
            {/foreach}
            {foreach:items=$this->activeList}           
             <div class="zebra-act-banner-w990">
                 <div class="mui-w990">
                     <a href="{url:site/active/id/$item['id']}">
                         <img src="{webroot:$item['seoimage']}" width="990" height="150"/>
                     </a>
                 </div>
             </div>
             {/foreach}
        </div>
    <div id="menu" style="background:{$float}; ">
        <div class="rutn_top">
            <div class="fale_top_img"><span>{$description}</span><img src="{webroot:$floatimage}"/></div>
        </div>
        <ul>
            {set:$k=0}
            {foreach:items=$this->group}
                {set:$k++}
                <li><a style="color: #FFF;" href="#item{$k}" {if:$key == 0} class="cur" {/if}><span class="mui-act-lateralNav-ico  icon-map-marker"></span>{$item['group_name']}</a></li> 
            {/foreach}
            <!--<li><a href="#item1" class="cur"><span class="mui-act-lateralNav-ico  icon-map-marker"></span>超级爆款</a></li>
            <li><a href="#item2"><span class="mui-act-lateralNav-ico  icon-map-marker"></span>超级爆款</a></li>-->
        </ul>
        <div class="rutn_top">
            <a href="#"><span class="icon-angle-up"></span><p style="color: #FFF;">返回顶部</p></a>
        </div>
    </div> 