{set:
    $seo_data=array();
    $site_config=new Config('site_config');
    $seo_data['title']=$name."_".$site_config->name;
    $seo_data['keywords']=$name;
    $seo_data['description']=$description;
    seo::set($seo_data);
    
}
<link rel="stylesheet" href="{skin:css/activate_page.css}">
<script type='text/javascript' src="{theme:javascript/sales_js/jquery-1.11.1.min.js}" ></script> 
<script type='text/javascript' src="{theme:javascript/active_menu.js}" ></script>            
<div class="focus_banner">

<a class="none_active" name="comtop" href="#"></a>
<div class="focus_box">
    <div>
       <img src="{webroot:$topImage}" alt="{$name}">
      </div>
</div>

<!--floor滚动开始-->
<div id="active">
    <ul class="daoha" style="border: 3px solid {$float};background-color: {$float};color: #fff;">
        <li class="hce_top act">
        <img src="{webroot:$floatimage}" alt=""></li>
        {set:$k=0} 
        {foreach:items=$this->group}
        {set:$k++} 
            <li><a href="#item{$k}" {if:$key==0} class="act_ce cur" {else:} class="act_ce" {/if}>{$item['group_name']}</a></li> 
        {/foreach} 
        <a href="#comtop"><li class="hce_botom" style="background: #ccc;">返回顶部</li></a>
    </ul>
</div>

<div id="content" style="background-color: {$main}">
{foreach:items=$this->groupDetail}
    <div class="item" >
        <!--图片列表开始-->
    <div class="active_list">
        <div class="list_total">
            <div class="page_left">
                <a href="{$item['link_url']}" target="_blank">
                    <img src="{webroot:$item['image']}" width="192" height="485" alt="{$item['group_name']}">
                </a>
            </div>

        <div class="page_right">
        <ul>
        {foreach:items=$item['goodsList'] item=$goods}
           <li>
             <div class="list_poto">
                  <a href="{url:/site/products/id/$goods['goods_id']}"  target="_blank"> 
                      <img src="{webroot:$goods['img']}" width="220" height="220" alt="{$goods['name']}"/>
                  </a>
            </div>
             <div class="jgoodsinfo">
                <div class="jdesc" title="{$goods['name']}" >
                    <a target="_blank" href="{url:/site/products/id/$goods['goods_id']}">{$goods['name']}</a>
                </div>
                <div class="jprice">
                    <div class="jdprice">
                        <span class="jtext">促销价：</span>
                        <span class="jrmb">￥</span>
                        <span class="jdnum">{$goods['sell_price']}</span>
                    </div>
                                
                </div>
                <div class="jbtnarea">
                    <a href="{url:/site/products/id/$goods['goods_id']}" target="_blank">点击抢购<span>></span></a>
                </div>
            </div>
              </li>
        {/foreach}
        </ul>
      </div>
 </div>
 </div>

<!--列表结束-->       
    </div>
{/foreach}
</div>
<!--floor滚动结束-->       
