{set:$average_point=$this->comment_info['average_point'];}
{set:$id = $this->comment['id'];}
{set:$item=$this->goodsRow;}
{set:$goods_id=$this->comment['goods_id']}
{set:$url=$this->upload_url}  
{set:$swfloadObject = new Swfupload("$url");$swfloadObject->show();}

<div class="position"> <span>您当前的位置：</span> <a href="{url:}"> 首页</a> » <a href="{url:/site/products/id/$goods_id}" target="_blank">{$item['name']}</a> </div>
<div class="clearfix">
	<div class="sidebar f_l">
		<div class="box_2 m_10">
			<div class="title">商品信息</div>
			<div class="content">
				<ul class="prolist clearfix">
					<li>
						<a href="{url:/site/products/id/$goods_id}" target="_blank"><img src="{webroot:}{$item['img']}" alt="{$item['name']}" height="212" width="167"></a>
						<p class="pro_title">商品名称：<a class="blue" href="{url:/site/products/id/$goods_id}" target="_blank">{$item['name']}</a></p>
						<p>优惠价：<b>￥{$item['sell_price']}</b></p>
						<p>评价得分：<span class="grade"><i style="width:{echo:Common::gradeWidth($average_point)}px"></i></span>({$average_point}分)</p>
						<p>评论数：{$this->comment_info['comment_total']}条</p>
					</li>
					{if:$item['is_del']!=4}
					<input type="submit" onclick="joinCart_list({$goods_id});" value="加入购物车" class="submit_join m_10" style="display:block;">
					{/if}
				</ul>
			</div>
		</div>
	</div>

	<div class="wrapper right f_r">
		<div class="wrap_box">
			{if:$this->can_submit===true}
			<form method="post">
			<table class="form_table f_l">
                <input type='hidden' name='sellerid' value="{$item['seller_id']}"/>
                <input type="hidden" name="_imgList" value=""/>
                {if:$this->comment['status'] == 1}
                <caption><img src="{skin:images/front/comments-1.gif}" width="88" height="23" alt="我要评论" /></caption>
                <col width="120px" />
                <col />
                <tr>
                    <th></th>
                     <td>
                        <label><span class="fine_wor">{if:$this->comment['point']==5}好评！{elseif:$this->comment['point']>1 && $this->comment['point']<5}中评！{else:}差评！{/if}</span>[{$this->comment['comment_time']}]</label><input class="alread_pl" type="button" value="查看评论" />
                         
                    <div class="already_hide">
                          <div class="top_photo"><img src="{skin:images/front/icon.png}" width="21" height="12" alt="小三角" /></div>
                       
                    <label><b>评分：</b><span class="grade"><i style="width:{echo:Common::gradeWidth($this->comment['point'])}px"></i></span></label>

                    <label class="pingyu_"><b>评语：</b><span>{$this->comment['contents']}</span></label>
                    
                    <label><b>晒单：</b>   </label> 
                    <!--{if:isset($this->photoList)}
                    {foreach:items=$this->photoList}
                    <img src="{webroot:$item['img']}" class="js_show_big_photo" style="width: 60px;height: 60px;"/>
                    {/foreach}
                    {/if}-->
                      </div>

                     </td>                    
                </tr>
                <tr>
                    <th>追评内容：</th><td valign="top"><textarea name="contents" id="contents"></textarea></td>
                </tr>
                <input type="hidden" name="replySelf" value="1" />
                {else:}
                <caption><img src="{skin:images/front/comments.gif}" width="88" height="23" alt="我要评论" /></caption>
                <col width="120px" />
                <col />
                <tr>
                    <th>评论等级：</th>
                    <td>
                        <label><input name="point" class="radio" type="radio" value="5" checked="checked" /><span class="grade"><i style="width:{echo:Common::gradeWidth(5)}px"></i></span></label>
                        <label><input name="point" class="radio" type="radio" value="4" /><span class="grade"><i style="width:{echo:Common::gradeWidth(4)}px"></i></span></label>
                        <label><input name="point" class="radio" type="radio" value="3" /><span class="grade"><i style="width:{echo:Common::gradeWidth(3)}px"></i></span></label>
                        <label><input name="point" class="radio" type="radio" value="2" /><span class="grade"><i style="width:{echo:Common::gradeWidth(2)}px"></i></span></label>
                        <label><input name="point" class="radio" type="radio" value="1" /><span class="grade"><i style="width:{echo:Common::gradeWidth(1)}px"></i></span></label>
                    </td>
                </tr>
                <tr>
                    <th>评论内容：</th><td valign="top"><textarea name="contents" id="contents"></textarea></td>
                </tr>
                {/if}
                <tr>
                    <th>上传图片：</th>
                    <td>
                        <input class="middle" type="text" disabled />
                        <div class="upload_btn">
                            <span id="uploadButton"></span>
                        </div>
                        <label>可以上传多张图片，分辨率3000px以下，大小不得超过{echo:IUpload::getMaxSize()}</label>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td id="divFileProgressContainer"></td>
                </tr>
                <tr>
                    <td></td>
                    <td id="thumbnails"></td>

                    <!--图片模板-->
                    <script type='text/html' id='picTemplate'>
                    <span class='pic'>
                        <img onclick="defaultImage(this);" style="margin:5px; opacity:1;width:100px;height:100px" src="{webroot:<%=picRoot%>}" alt="<%=picRoot%>" /><br />
                        <a class='orange' style="color: #fe6c00;"  href='javascript:void(0)' onclick="$(this).parent().remove();">删除</a>
                    </span>
                    </script>
                </tr>
                {if:$this->comment['status'] == 1}
				<tr><td></td><td><label class="btn"><input type="button" class='btn_gray btn_small' onclick="comment_reply();" value="发表追评" /></label></td></tr>
                {else:}
                <tr><td></td><td><label class="btn"><input type="button" class='btn_gray btn_small' onclick="comment_add();" value="我要评价" /></label></td></tr>
                {/if}
			</table>
			</form>
			{else:}
			<table class="form_table prompt_3 f_l">
				<caption><img src="{skin:images/front/comments.gif}" width="88" height="23" alt="我要评论" /></caption>
				<col width="250px" />
				<col />
				<tr>
					<th valign="top"><img src="{skin:images/front/error.gif}" width="46" height="65" alt="" /></th>
					<td>
						<p class="mt_10"><strong class="f14 red2">您暂不能对该商品进行评价，可能有以下原因：</strong></p>
						<p class="mt_10">1.您可能没有在{echo:$siteConfig->name}购买过该商品；</p>
						<p>2.您已经评价过该商品。</p>
					</td>
				</tr>
			</table>
			{/if}
		</div>
	</div>
</div>


<script language="javascript">
function comment_add()
{
	var point=$("input[name='point']:checked").val();
	if(point==0)
	{
		alert("请选择评论等级");
		return;
	}
    
    var goodsPhoto = [];
    $('#thumbnails img').each(function(){
        goodsPhoto.push(this.alt);
    });
    if(goodsPhoto.length > 0)
    {
        $('input[name="_imgList"]').val(goodsPhoto.join(','));
        $('input[name="img"]').val($('#thumbnails img[class="current"]').attr('alt'));
    }

	var contents=$("#contents").val();
    var sellerid = $('input[name=sellerid]').val();
	var _imgList = $('input[name=_imgList]').val();
	var data={'point':point,'contents':contents,'id':{$id},'sellerid':sellerid,'imgList':_imgList};
	$.post("{url:/site/comment_add/id/$id}",data,function(c)
	{
		if(c==='success')
		{
			location="{url:/site/comments_list/id/$goods_id}";
		}
		else
			alert(c);
	});
}
//追评
function comment_reply()
{
    var _r=$("input[name='replySelf']").val()
        ,goodsPhoto = [];
    $('#thumbnails img').each(function(){
        goodsPhoto.push(this.alt);
    });
    if(goodsPhoto.length > 0)
    {
        $('input[name="_imgList"]').val(goodsPhoto.join(','));
        $('input[name="img"]').val($('#thumbnails img[class="current"]').attr('alt'));
    }

    var contents=$("#contents").val();
    var sellerid = $('input[name=sellerid]').val();
    var _imgList = $('input[name=_imgList]').val();
    var data={'replySelf':_r,'contents':contents,'pid':{$id},'sellerid':sellerid,'imgList':_imgList};
    $.post("{url:/site/comment_replySelf}",data,function(c)
    {
        if(c==='success')
        {
            location="{url:/site/comments_list/id/$goods_id}";
        }
        else
            alert(c);
    });
}

/**
 * 图片上传回调,handers.js回调
 * @param picJson => {'flag','img','list','show'}
 */
function uploadPicCallback(picJson)
{
    var picHtml = template.render('picTemplate',{'picRoot':picJson.img});
    $('#thumbnails').append(picHtml);
}
$(document).ready(function(){
  $(".alread_pl").click(function(){
  $(".already_hide").toggle();
  });
});
</script>