{set:
	$site_config=new Config('site_config');
	$seo_data=array();
	$seo_data['title']=$site_config->name;
	$seo_data['title'].=$site_config->index_seo_title;
	$seo_data['keywords']=$site_config->index_seo_keywords;
	$seo_data['description']=$site_config->index_seo_description;
	seo::set($seo_data);
}
							
<script type="text/javascript" src="files/jquery.kinMaxShow-1.0.min.js"></script>

<!--bn-->
<div class="bn" >
		<!--轮播开始-->
		<script type='text/javascript' >
			var tId;
			startScroll();
			$(function(){
			    $('.number li').each(function(){
			        $(this).click(function(){
			            slideHere($(this));
			        }).mouseover(function(){
			            stopHere($(this));
			        }).mouseout(function(){
			            startScroll();
			        });
			    });
			});
			function startScroll(){
			    tId = setInterval(function(){
			        var nextImg = $('.nonce').next('.initial');
			        if(nextImg.length==0){
			            nextImg = $($('.number li')[0]);
			        }
			        slideHere($(nextImg));
			    }, 3000);
			}
			function stopScroll(){
			    clearInterval(tId);
			}
			function slideHere(imgObj){
			    $('.number li').removeClass('nonce');
			    $('.number li').addClass('initial');
			    imgObj.removeClass('initial');
			    imgObj.addClass('nonce');
			    if($('.number img').length)
			    {
			        $('.number img')
			            .attr('src', imgObj.attr('target_src'))
			            .css('display', 'none')
			            .fadeIn('normal')
			            .parent().attr('href', imgObj.attr('target_link'))
			            .attr('target', '_blank');
			   }
			}
			function stopHere(imgObj){
			    slideHere(imgObj);
			    stopScroll();
			}
		</script>
		<div style="width: 100%; height: 486px; overflow: visible; position: relative; visibility: visible; display: block;">
			{if:$this->index_slide}
				<div class="number" >
					<ul class='hide'>
						{foreach:$items=$this->index_slide }
							{set:$key=$key+1}
							{if:$key==1}
							{set:$fUrl=$item['url'];$fImg=$item['img'];}
								<li class="nonce" alt="{$key}" target_link="{webroot:$item['url']}" target_src="{webroot:$item['img']}">{$key}</li>
							{else:}
								<li class="initial" alt="1" target_link="{webroot:$item['url']}" target_src="{webroot:$item['img']}">{$key}</li>
							{/if}
						{/foreach}
					</ul>
					<img src="{webroot:$fImg}" style="width:100%;height:486px;">
				</div>
			{/if}
		</div>
		<!--轮播结束-->
		
		<!--轮播右侧-->
		<div class="w1190">
			<!--right-cnt-->
			<div class="right-cnt">
				  <!--promise-->
				  <ul class="promise">
	   					<li class="15day">
	    					<span class="ic"></span> <a style="cursor: pointer;" href="">15天退货</a>
	    				</li>
	    				<li class="baoyou">
	    					<span class="ic"></span> <a style="cursor: pointer;" href="">满99包邮</a>
	    				</li>
	    				<li class="cirida">
	    					<span class="ic"></span><a style="cursor: pointer;" href="">郊区次日达</a>&nbsp;
	    				</li>
					</ul>
					<!--promise-->
				
				<!--公告、抢购-->
		        <div class="notice f-r">
		        	  <!--tabs-->
		        	<div class="tabs">
		    				<ul class="tab-title clearfix">
		    					<li class="tab-title-hover"><h2 class="t14">商城公告</h2></li>
		    					<li class=""><h2 class="t14">限时抢购</h2></li>
		    				</ul>
		    				<div class="tab-cnt">
		                        <div class="tab-item tab-item-hover" style="display: block;">
								<ul class="news-list">
									{foreach:items=Api::run('getAnnouncementList')}
										<li><a style='height:22px;' href='{url:/site/notice_detail/id/$item["id"]}' class="limit">{$item['title']}</a>
										</li>
									{/foreach}
								</ul>
							</div>
							
		                    <div class="tab-item tab-item-hover" style="display: none;">
								<ul class="news-list">
									{set:$promotion=Api::run('getPromotionList')}
									{if:count($promotion)!=0}
									{set:$end=strtotime($promotion[0]['end_time'])}
									<li>
										<!--limit-->
										<div class="limit">
											<!--limit-zero-->
											<div class="limit-zero">
												<!--limit-title-->
												<div class="limit-title">
													<!--limit-title-->
													<div class="limit-title">
														<h2 class="t16">限时抢购</h2>
														<div class="limit-timeout">
															<ul class="time-format clearfix">
																<li>剩余 </li>
																<li class="time-num"></li>
																<li class="split">:</li>
																<li class="time-num"></li>
																<li class="split">: </li>
																<li class="time-num"></li>
																<li>结束 </li>
															</ul>
			
															<span id='limit-2' class="limit-time countdown" >
																<b id='cd_hour_2'></b>
																<b id='cd_minute_2'></b>
																<b id='cd_second_2'></b>
																<input name='endTime' type='hidden' value='{$end}' />
															</span>
															
															
														</div>
													</div>
													<!--limit-title-->
												</div>
												<!--limit-title-->
													<a title="速度抢购" href="#" style="float:left">
														<img class="jImg" width="100%" height="100%" src="{webroot:$promotion[0]['img']}" >
													</a>
												</div>
											<!--limit-zero-->
			
			
											<!--limit-pro-->
											<div class="limit-pro">
															  				
											</div>
											<!--limit-pro-->
										</div>
										<!--limit-->
									</li>
									{/if}
								</ul>
		   						</div>
		    				</div>
						</div>
						  <!--tabs-->
		                <!--便民服务-->
		                <div class="small-pro">
		
			                <div class="ad-pic" id="ad_pic_5712">
			                     		便民服务	
						    </div>
		
						</div>
		                  <!--便民服务-->
		        </div>
        <!--notice f-r-->
		</div>
			<!--right-cnt-->
		</div>
		<!--轮播右侧-->
		
</div>
<!--bn-->
<!--第二层-->
<div class="cnt w1190">
	<!--猜你喜欢-->
	<div class="floor floor-1" name="showGoods">
		<div class="fl-title clearfix">
			<h2 class="t18">猜你喜欢</h2>
		</div>
		<div class="buying clearfix">
			<ul>
				{foreach:items=Api::run('getGoodsByCommendgoods')}
				<li>
				 	<div  class="admanage" style="overflow: hidden;"><img src="{webroot:$item['img']}" style="cursor:pointer;width:170px;"></div>
			    </li>
				{/foreach}
			</ul>
		</div>
	</div>
	<!--猜你喜欢-->

	<!--推荐商品-->
    <div class="clearfix">
    	<!--tabs rcmd f-l-->
    	<div class="tabs rcmd f-l">
        	<!--tab-title-->
        	<div class="tab-title clearfix">
            	<li class=""><h2 class="t14">热卖商品</h2></li>
                <li class="tab-title-hover"><h2 class="t14">新品上架</h2></li>
                <li class=""><h2 class="t14">特价商品</h2></li>
                <li class=""><h2 class="t14">推荐商品</h2></li>
            </div>
			 <div class="tab-cnt">
				<!--热卖商品列表 -->
            	<div class="tab-item" style="display: none;">
                	<ul class="goods-list clearfix">
                		{foreach:items=Api::run('getCommendHot')}
                    	<li>
	                         <a class="goods-img" target='blank' href="{url:/site/products/id/$item['id']}">
	                            <img class="jImg" src="{webroot:$item['img']}">
	                        </a>
	                        <a class="goods-name" target='blank' href="{url:/site/products/id/$item['id']}" title=" {$item['name']}">
	                            {$item['name']}<span class="txt-red"></span>
	                        </a>
	                        <div class="goods-price">
	                            <span class="p-normal">￥{$item['sell_price']}</span>
	                            <span class="p-del">￥{$item['market_price']}</span>
	                        </div>
                  	 	 </li>
						{/foreach} 
					</ul>
                </div>	
				<!--热卖商品列表 -->
				<!--新品商品列表 -->
            	<div class="tab-item" >
                	<ul class="goods-list clearfix">
                		
                    	{foreach:items=Api::run('getCommendNew')}
                    	<li>
	                         <a class="goods-img" target='blank' href="{url:/site/products/id/$item['id']}">
	                            <img class="jImg" src="{webroot:$item['img']}">
	                        </a>
	                        <a class="goods-name" target='blank' href="{url:/site/products/id/$item['id']}" title=" {$item['name']}">
	                            {$item['name']}<span class="txt-red"></span>
	                        </a>
	                        <div class="goods-price">
	                            <span class="p-normal">￥{$item['sell_price']}</span>
	                            <span class="p-del">￥{$item['market_price']}</span>
	                        </div>
                  	 	 </li>
						{/foreach} 
						 
					</ul>
                </div>	
				<!--新品商品列表 -->
				
				<!--特价商品列表 -->
            	<div class="tab-item" style="display: none;">
                	<ul class="goods-list clearfix">
                		
                    	{foreach:items=Api::run('getCommendPrice')}
                    	<li>
	                         <a class="goods-img" target='blank' href="{url:/site/products/id/$item['id']}">
	                            <img class="jImg" src="{webroot:$item['img']}">
	                        </a>
	                        <a class="goods-name" target='blank' href="{url:/site/products/id/$item['id']}" title=" {$item['name']}">
	                            {$item['name']}<span class="txt-red"></span>
	                        </a>
	                        <div class="goods-price">
	                            <span class="p-normal">￥{$item['sell_price']}</span>
	                            <span class="p-del">￥{$item['market_price']}</span>
	                        </div>
                  	 	 </li>
						{/foreach} 
						 
					</ul>
                </div>	
				<!--特价商品列表 -->
				<!--推荐商品列表 -->
            	<div class="tab-item" style="display: none;">
                	<ul class="goods-list clearfix">
                		
                    	{foreach:items=Api::run('getCommendRecom')}
                    	<li>
	                         <a class="goods-img" target='blank' href="{url:/site/products/id/$item['id']}">
	                            <img class="jImg" src="{webroot:$item['img']}">
	                        </a>
	                        <a class="goods-name" target='blank' href="{url:/site/products/id/$item['id']}" title=" {$item['name']}">
	                            {$item['name']}<span class="txt-red"></span>
	                        </a>
	                        <div class="goods-price">
	                            <span class="p-normal">￥{$item['sell_price']}</span>
	                            <span class="p-del">￥{$item['market_price']}</span>
	                        </div>
                  	 	 </li>
						{/foreach} 
						 
					</ul>
                </div>	
				<!--推荐商品列表 -->
			</div>
             <!--tab-cnt-->
        </div>
        <!--tabs rcmd f-l-->
         
    </div>
	<!--推荐商品-->
	<!--通栏广告1-->
	<div  class="big-pro">
		{echo:Ad::show("首页通栏0")}
	</div>
	<!--通栏广告1-->
	
	<!--分类产品列表-->		
	<!--floor1-->
	{foreach:items=$this->categoryList item=$base}
	{set:$K=$key+1}
	<div class="floor floor-{$K}" name="showGoods">
			<div class="fl-title clearfix">
				<h2 class="t18">{$base['name']}</h2>
				<ul class="fl-cat">
					{foreach:items=$base['child'] item=$second}
								<li><a href="site/pro_list/cat/{$second['id']}">{$second['name']}</a></li>
					{/foreach}
								<li><a href="site/pro_list/cat/{$base['id']}" style="font-size: 12px;">更多</a></li>
				</ul>
			</div>
			<div class="fl-cnt clearfix">
				<div class="fl-rcmd f-l">
					<div class="fl-rcmd-bg">
						<div class="keyword">
							<a href="#" class="key">大家电</a><a href="#" class="key">大家电</a>
							<a href="#" class="key">大家电</a><a href="#" class="key">大家电</a>
							<a href="#" class="key">大家电</a><a href="#" class="key">大家电</a>
						</div>
									
						{echo:Ad::show("首页分类产品小".$K)}
					</div>
				</div>
				<!--分层轮播广告-->
				<div class="fl-rcmd1 f-l" >
					<div class="fl-rcmd-bg1" >
									
						{echo:Ad::show("首页分类产品".$K)}
					</div>
				</div>
				<!--分层轮播广告-->
				<!--分类产品列表-->
                <div class="f-r">
				    <ul class="goods-list clearfix">
				    	{foreach:$items=$base['goods'] $item=$goods}
					    	<li>
					        <a class="goods-img" href="{url:/site/products/id/$goods['id']}" title="{$goods['name']}">
					            <img class="jImg" alt="{$goods['name']}" src="{webroot:$goods['img']}">
					        </a>
					        <a class="goods-name" href="http://www.#.com/item-5.html" title="{$goods['name']}">
					          {$goods['name']}<span class="txt-red"></span>
					        </a>
					        <div class="goods-price">
					            <span class="p-normal">￥{$goods['sell_price']}</span>
					            <span class="p-del">￥{$goods['market_price']}</span>
					        </div>
					    </li>
						{/foreach}
				    </ul>
				 </div>
			</div>
		</div>
		 <!--floor floor-1-->
		 <div class="big-pro">
	        <div class="ad-pic" id="ad_pic_5713">
	            	{echo:Ad::show("首页通栏".$K)}		
			</div>
		</div>
	{/foreach}
	
	
	
	<!--分类产品列表-->
</div>	