{set:
	$seo_data=array();
	$site_config=new Config('site_config');
	$seo_data['title']=$name."_".$site_config->name;
	$seo_data['keywords']=$keywords;
	$seo_data['description']=$description;
	seo::set($seo_data);
	
}

{js:cookie}
{set:$breadGuide = goods_class::catRecursion($category);$promotion=Api::run('getProrule');}
{foreach:items=$promotion}
	{if:$item['type']==6}<!--获取免配送费的信息-->
	{set:$freightInfo=$item['info']}
	{/if}
{/foreach}
<link rel="stylesheet" href="{skin:css/index1.css}">
<link rel="stylesheet" type='text/css' href="{skin:css/sales_css/Portfolio_sales.css}"/>
<link rel="stylesheet" type='text/css' href="{skin:css/detail.css}"/>
<link rel="stylesheet" type='text/css' href="{skin:css/css.css}"/>
<link rel="stylesheet" type="text/css" href="{theme:javascript/jquery.bxSlider/jquery.bxslider.css}" />
<script type='text/javascript' src="{theme:javascript/sales_js/jquery-1.11.1.min.js}" ></script>
<script type='text/javascript' src="{theme:javascript/sales_js/jquery.SuperSlide2.js}" ></script>
<script type='text/javascript' src="{theme:javascript/sales_js/Portfolio_sales.js}" ></script>

<script type="text/javascript" src="{theme:javascript/jquery.bxSlider/jquery.bxSlider.min.js}"></script>
<script type='text/javascript' src="{theme:javascript/piczoom.js}"></script>
<script type='text/javascript' src="{theme:javascript/detail.js}" ></script>

<script type='text/javascript' >
	var product = {$product};
	var buy_now_url = '{url:/simple/cart2/id/@id@/num/@buyNums@/type/@type@}';
	var join_cart_url = '{url:/simple/joinCart}';
	var goods_id = {$id};
	var show_cart_url = '{url:/simple/showCart}';
	var get_product_url = '{url:/site/getProduct}';
	var spec_show_obj = new Spec_show();
	//获取地区
	var area_url = '{url:/block/area_child}';
	var delivery_fee_url = '{url:/block/order_delivery}';
	

</script>

<div class="position"><span>您当前的位置：</span><a href="{url:}">首页</a>{foreach:items=$breadGuide} » <a href="{url:/site/pro_list/cat/$item[id]}">{$item['name']}</a>{/foreach} » {$name}</div>
<div class="wrapper clearfix">
	
	<div class="summary" style='margin-right:15px;'>

		<!--货品ID，当为商品时值为空-->
		<input type='hidden' id='product_id' alt='货品ID' value='' />
		<!--基本信息区域-->
		<div id='detail'>
			<div id="J_DetailMeta" class="tm-detail-meta tm-clear">
			<div class="tb-wrap">
				<div class="tb-detail-hd">
					<h1 data-spm="1000983">	{$name} </h1>
					<h2 data-spm="1000983" style="color:#e05757;">	{$short_desc} </h2>
					<p> </p>
				</div>
				<div class="tm-fcs-panel" id='price_panel'>
					
				</div>
				<script  type='text/html' id='priceTemplate'>
					<dl id="J_PromoPrice" class="tm-promo-panel"  >
							<dt class="tb-metatit">市场价</dt>
							<dd><em class="tm-yen">¥</em>
								<span class="tm-price" style='text-decoration:line-through;'><%=market_price%></span>
								<div class="staticPromoTip"> </div>
							</dd>
						</dl>
					<%if (group_price) {%>
						<dl id="J_PromoPrice" class="tm-promo-panel"  >
							<dt class="tb-metatit">原价格</dt>
							<dd><em class="tm-yen">¥</em>
								<span class="tm-price" style='text-decoration:line-through;'><%=sell_price%></span>
								<div class="staticPromoTip"> </div>
							</dd>
						</dl>
						<dl id="J_StrPriceModBox" class="tm-price-panel tm-price-cur">
							<dt class="tb-metatit">会员价</dt>
							<dd>
								<em class="tm-yen">¥</em>
								<span class="tm-price" id='real_price'><%=group_price%></span>
								<div class="staticPromoTip"> </div>
							</dd>
						</dl>
						
					<%}else{%>
						<dl id="J_StrPriceModBox" class="tm-price-panel tm-price-cur">
							<dt class="tb-metatit">价格</dt>
							<dd>
								<em class="tm-yen">¥</em>
								<span class="tm-price" id='real_price'><%=sell_price%></span>
								<div class="staticPromoTip"> </div>
							</dd>
						</dl>
						
					<%}%>
				</script>
				{if:!empty($regiment)}
				<div class="tb-meta">
					<dl id="J_RSPostageCont" class="tm-delivery-panel">
						<dt class="tb-metatit">团购信息</dt>
						<dd>
							<div class="det_tuan " >
								<span class='sell_sum' style='margin-left:5px;'>正在团购(<span >￥{$regiment['regiment_price']}</span>)</span>
								<a href='{url:/site/tuan_product/active/$regiment["id"]}' style='color:blue;'>去团购</a>
							</div>
						</dd>
					</dl>
				</div>
				{/if}
				<div class="tb-meta">
					<dl id="J_RSPostageCont" class="tm-delivery-panel">
						<dt class="tb-metatit">配送至</dt>
						<dd>
							<div class="tb-postAge" style='color:#666;padding-top:0px;'>
								<!-- 配送地址开始 -->
								<ul id="list1">
									<li id="summary-stock">
										<div class="dd">
											<div id="store-selector" >
											</div><!--store-selector end-->
											<div id="store-prompt"><strong></strong></div><!--store-prompt end--->
										</div>
									</li>
								</ul>

								<!-- 配送地址结束 -->


								{$freightInfo}
								<a href="{url:/site/help/id/73}" style='color:red;display:inline-block;' target="_blank">配送说明</a>
							</div>
						</dd>
					</dl>
				</div>
				<div class="tb-meta">
					<dl id="J_RSPostageCont" class="tm-delivery-panel">
						<dt class="tb-metatit">服务</dt>
						<dd>
							<div class="tb-postAge">
							由{if:isset($seller)}
							{$seller['true_name']}
							{else:}
							山城速购
							{/if}
							配送,并提供售后服务
							</div>
						</dd>
					</dl>
				</div>
					<ul class="tm-ind-panel">
						<li class="tm-ind-item tm-ind-sellCount canClick" >
							<div class="tm-indcon" onclick="jumpTo('buyHistory')">
									<span class="tm-label">销售记录</span>
								<span class="tm-count">{$buy_num}</span>
							</div>
						</li>
						<li id="J_ItemRates" class="tm-ind-item tm-ind-reviewCount canClick tm-line3">
							<div class="tm-indcon"  onclick="jumpTo('point')">
								<span class="tm-label">累计评价</span>
								<span class="tm-count">{$comments}</span>
							</div>
						</li>
						<li class="tm-ind-item tm-ind-emPointCount" >
							<div class="tm-indcon">
								<a target="_blank" href="" >
									<span class="tm-label">送积分</span>
									<span class="tm-count">{$point}</span>
								</a>
							</div>
						</li>
					</ul>
					<div class="tb-key">
						<div class="tb-skin">
							<div class="tb-sku">
								
								{if:$spec_array}
								{set:$specArray = JSON::decode($spec_array);}
								{foreach:items=$specArray}
								<dl class="m_10 clearfix" name="specCols">
									<dt>{$item['name']}</dt>
									<dd class="w_45" style="margin-left:67px;" id="specList{$item['id']}">
										{set:$specVal=explode(',',trim($item['value'],','))}
										{foreach:items=$specVal item=$spec_value}
										{if:$item['type'] == 1}
										<div class="item w_27"><a href="javascript:void(0);" class='allowed' onclick="spec_show_obj.sele_spec(this);get_delivery_fee()" value='{"id":"{$item['id']}","type":"{$item['type']}","value":"{$spec_value}","name":"{$item['name']}"}' >{$spec_value}<span></span></a></div>
										{else:}
										<div class="item"><a href="javascript:void(0);" onclick="spec_show_obj.sele_spec(this);get_delivery_fee()" value='{"id":"{$item['id']}","type":"{$item['type']}","value":"{$spec_value}","name":"{$item['name']}"}' ><img src="{webroot:$spec_value}" width='30px' height='30px' /><span></span></a></div>
										{/if}
										{/foreach}
									</dd>
								</dl>
								{/foreach}
								{/if}
																								
								<dl class="tb-amount tm-clear">
									<dt class="tb-metatit">数量</dt>
									<dd id="J_Amount">
										<input class="gray_t f_l" type="text" id="buyNums" onblur="spec_show_obj.checkBuyNums();get_delivery_fee()" value="1" maxlength="5" />
											<div class="resize">
												<a class="add" href="javascript:spec_show_obj.modified(1);get_delivery_fee()"></a>
												<a class="reduce" href="javascript:spec_show_obj.modified(-1);get_delivery_fee()"></a>
											</div>
											<span class="mui-amount-unit">&nbsp;件</span>
										<em id="J_EmStock" class="tb-hidden" style="display: inline; margin-left:20px;">库存<label id="data_storeNums">{$store_nums}</label>件</em>
										<span id="J_StockTips"> </span>
									</dd>
								</dl>
							</div>
						</div>
					</div>
					
					
				</div>
			</div>
		</div>

		<!--购买区域-->
		<div class="current">
			{if:$store_nums <= 0}
				该商品已售完，不能购买，您可以看看其它商品！(<a href="{url:/simple/arrival/goods_id/$id}" class="orange" style="#f15a24">到货通知</a>)
			{else:}

			<input class="submit_buy" type="button" id="buyNowButton" onclick="spec_show_obj.buy_now();" value="立即购买" />


			<div class="shop_cart" style="z-index:1">
				<input class="submit_join" type="button" id="joinCarButton" onclick="spec_show_obj.joinCart();" value="加入购物车" />


				<div class="shopping" id="product_myCart" style="z-index:1;display:none">
					<dl class="cart_stats">
						<dt class="gray f14 bold">
							<a class="close_2 f_r" href="javascript:closeCartDiv();" title="关闭">关闭</a>
							<img src="{skin:images/front/right_s.gif}" width="24" height="24" alt="" />成功加入购物车
						</dt>
						<dd class="gray">目前选购商品共<b class="orange" name='mycart_count'></b>件<span>合计：<b name='mycart_sum'></b></span></dd>
						<dd><a class="btn_blue bold" href="{url:/simple/cart}" target='_blank'>进入购物车</a><a class="btn_blue bold" href="javascript:void(0)" onclick="closeCartDiv();">继续购物>></a></dd>
					</dl>
				</div>
			</div>
			{/if}
		</div>
		
		<div class="tm-ser tm-clear" style="z-index:-1000">
			<dl class="tm-clear">
				<dt class="tb-metatit">服务承诺</dt>
				<dd class="tm-laysku-dd">
				<ul class="tb-serPromise">
					{set:$config = new Config('site_config');}
					{set:$server_product = unserialize(IFilter::stripSlash($config->product_page))}
					{if:!empty($server_product)}
					{foreach:items=$server_product}
					<li>
						<a target="_blank"  href="{$item['link']}" target="_blank"> {$item['server_name']} </a>
					</li>
					{/foreach}
					{/if}
				</ul>
			</dl>
		</div>

	</div>
		<!--图片放大器-->
		<div class="tb-gallery">
		<div class="tb-booth" id='bigPic'>
			{if:$tag_data}
				{foreach:items=$tag_data}
				{set:$right=$key*60}
			 		<img src="{webroot:$item['img']}" style='right:{$right}px' class="mark">
				{/foreach}
			{/if}
				
			<a target="_blank" rel="nofollow" href="" >
			<span class="ks-imagezoom-wrap">		
			
				<img id="J_ImgBooth"  name="bigpro"  src="" style='cursor:crosshair;'>
				<span class="ks-imagezoom-lens" style="position: absolute; border:1px solid blue;left:1px;"></span>
			</span>
			</a>
		</div>
		<div id='detShow' class="ks-overlay ks-imagezoom-viewer" style="width: 435px; height: 435px; left: 480px; top: 20px;display:none;">
			<div id="detPic" class="ks-overlay-content">
				<img style="position: absolute; top: 0px; left: 0px;" src="">
			</div>
		</div>
		<ul id="J_UlThumb" class="tb-thumb tm-clear">
			{if:count($photo)!=0}
			{foreach:items=$photo}
			<li class="">
				<a href="#" onmouseover='showBig("{url:/pic/thumb/img/$item[img]/w/435/h/435}","{webroot:$item[img]}")'>
					<img src="{url:/pic/thumb/img/$item[img]/w/60/h/60}">
				</a>
			</li>
			{/foreach}
			{else:}
				<li class="">
					<a href="#" onclick='javascript:void(0)'>
						<img src="{skin:images/front/nopic_435_435.gif}">
					</a>
				</li>
			{/if}
		</ul>
		<div style="margin-top:10px;margin-left:50px;">			
			<!-- JiaThis Button BEGIN -->
				<style>
					.bdshare_popup_box{z-index:100000000;}
					.bdshare_dialog_box{z-index:100000000;}
					.bd_weixin_popup_bg{z-index:100000000;}
					.bd_weixin_popup{z-index:100000000;}
				</style>

				
			<div class="bdsharebuttonbox">
				<a href="#" class="bds_more" data-cmd="more">分享到：</a>
				<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">新浪微博</a>
			</div>
			<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{"bdSize":16}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

<!-- JiaThis Button END -->
			{set:$cls=isset($favorite_id_arr)&&in_array($id,$favorite_id_arr) ? 'guanzhu' : 'quguan'}
				<div class='{$cls}' onclick='favorite_add(this)' style="line-height:26px;position:absolute; left:300px;bottom:1px; padding-left:17px; " id="gz"><a href='javascript:void(0)' onclick='favorite_add(this)'>我的关注：({$favorite}人气)</a></div>
		</div>
	</div>

</div>
	
<script type='text/javascript'>
	$("#gz").click(function(){$(this).removeClass('quguan').addClass('guanzhu');});
</script>




<!--组合销售开始-->
<div class="portfolio_sales">

<div class="portfolio">
  <div class="title cf">
 
    <ul class="title-list fr cf ">
      <li class="on">推荐配件</li>
      <li>优惠套装</li>
      <li>最佳组合</li>
      <li>美的精品</li>
      <li>美的周边</li>
      <p><b></b></p>
    </ul>
  </div>
  <div class="product-wrap">
   <dl>
   <dd><a href="#"><img src="{skin:images/sales_img/1.jpg}" width="150" height="150" alt="" /></a></dd>
   <dd><p class="mt10"> <a href="#"> 【广电自营】美的（midea）WSS5038 多功能智能调压 韩式电压韩式电压 </a></p></dd>
   <dd><form action="" method="post">
                              <input class="fuxuan" name="" type="checkbox" disabled value="" checked>
                               </form><p class="pb10">¥<b>123.00</b></p> </dd>       
  </dl>
  <dl class="jiahao">
  <dd><img src="{skin:images/sales_img/jiahao.jpg}" width="30" height="30" alt="加"></dd>
  </dl>
  
    <!--案例1-->
    <div class="product show">
 

    <div class="friend">
    <div class="mr_frbox">
        
        <div class="mr_frUl">
            <ul id="mr_fu">
            
                <li><a href="#">
                    <img src="{skin:images/sales_img/2.jpg}" width="150" height="150" alt=""></a>
                <p class="mt10"> <a href="#"> 【广电自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋）">【京东自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋） </a></p>
          <form action="" method="post">
                              <input class="fuxuan"  name="" type="checkbox" value="">
                  </form><p class="pb10">¥<b>100.00</b></p>
                </li>
                
                <li><a href="#">
                    <img src="{skin:images/sales_img/3.jpg}" width="150" height="150" alt="">
                </a>
                <p class="mt10"> <a href="#"> 【广电自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋）">【京东自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋） </a></p>
          <form action="" method="post">
                              <input class="fuxuan"  name="" type="checkbox" value="">
                  </form><p class="pb10">¥<b>123.00</b></p>
                   
                <li><a href="#">
                    <img src="{skin:images/sales_img/4.jpg}" width="150" height="150" alt=""></a>
                <p class="mt10"> <a href="#"> 【广电自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋）">【京东自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋） </a></p>
          <form action="" method="post">
                              <input class="fuxuan"  name="" type="checkbox" value="">
                  </form><p class="pb10">¥<b>100.00</b></p>
                
                </li>
                
                <li><a href="#">
                    <img src="{skin:images/sales_img/5.jpg}" width="150" height="150" alt="">
                </a>
                <p class="mt10"> <a href="#"> 【广电自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋）">【京东自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋） </a></p>
          <form action="" method="post">
                              <input class="fuxuan"  name="" type="checkbox" value="">
                  </form><p class="pb10">¥<b>123.00</b></p>
                </li>
               
            <li><a href="#">
                  <img src="{skin:images/sales_img/6.jpg}" width="150" height="150" alt="">
                </a>
                <p class="mt10"> <a href="#"> 【广电自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋）">【京东自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋） </a></p>
          <form action="" method="post">
                              <input class="fuxuan"  name="" type="checkbox" value="">
                  </form><p class="pb10">¥<b>123.00</b></p>
                </li>
                
              <li><a href="#">
                    <img src="{skin:images/sales_img/7.jpg}" width="150" height="150" alt="">
                </a>
                <p class="mt10"> <a href="#"> 【广电自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋）">【京东自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋） </a></p>
          <form action="" method="post">
                              <input class="fuxuan"  name="" type="checkbox" value="">
                  </form><p class="pb10">¥<b>123.00</b></p>
                </li>
                
              <li><a href="#">
                    <img src="{skin:images/sales_img/8.jpg}" height="150" alt="">
                </a>
                <p class="mt10"> <a href="#">【广电自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋）">【京东自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋） </a></p>
          <form action="" method="post">
                              <input class="fuxuan"  name="" type="checkbox" value="">
                  </form><p class="pb10">¥<b>123.00</b></p>
                </li>
                
           
           
            </ul>
        </div>
         <div class="mr_frBtnR next"><img src="{skin:images/sales_img/imageNavLeft.gif}" width="50" height="30"></div>
	<div class="mr_frBtnL prev"><img src="{skin:images/sales_img/imageNavRight.gif}" width="50" height="30"></div>
       
    </div>
    
</div>
      
    </div>
    <!--案例2-->
    <div class="product">

<div class="friend">
    <div class="mr_frbox">
        
        <div class="mr_frUl">
            <ul id="mr_fu">
            
                <li><a href="#">
                    <img src="{skin:images/sales_img/3.jpg}" width="150" height="150" alt="2">
                </a>
                <p class="mt10"> <a href="#"> 【广电自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋）">【京东自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋） </a></p>
          <form action="" method="post">
                              <input class="fuxuan"  name="" type="checkbox" value="">
                               </form><p class="pb10">¥<b>123.00</b></p>  
                </li>
                
                <li><a href="#">
                    <img src="{skin:images/sales_img/3.jpg}" width="150" height="150" alt="2">
                </a>
                <p class="mt10"> <a href="#"> 【广电自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋）">【京东自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋） </a></p>
          <form action="" method="post">
                              <input class="fuxuan"  name="" type="checkbox" value="">
                               </form><p class="pb10">¥<b>123.00</b></p>  
                   
                </li>
              <li><a href="#">
                    <img src="{skin:images/sales_img/3.jpg}" width="150" height="150" alt="2">
                </a>
                <p class="mt10"> <a href="#"> 【广电自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋）">【京东自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋） </a></p>
          <form action="" method="post">
                              <input class="fuxuan"  name="" type="checkbox" value="">
                  </form><p class="pb10">¥<b>123.00</b></p>     
                </li>
              <li><a href="#">
                    <img src="{skin:images/sales_img/4.jpg}" width="150" height="150" alt="3">
                </a>
                <p class="mt10"> <a href="#"> 【广电自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋）">【京东自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋） </a></p>
          <form action="" method="post">
                              <input class="fuxuan"  name="" type="checkbox" value="">
                  </form><p class="pb10">¥<b>123.00</b></p>     
                </li>
              <li><a href="#">
                    <img src="{skin:images/sales_img/4.jpg}" width="150" height="150" alt="3">
                </a>
                <p class="mt10"> <a href="#"> 【广电自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋）">【京东自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋） </a></p>
          <form action="" method="post">
                              <input class="fuxuan"  name="" type="checkbox" value="">
                               </form><p class="pb10">¥<b>123.00</b></p>     
                </li>
            </ul>
        </div>
       <div class="mr_frBtnR next"><img src="{skin:images/sales_img/imageNavLeft.gif}" width="50" height="30"></div>
	<div class="mr_frBtnL prev"><img src="{skin:images/sales_img/imageNavRight.gif}" width="50" height="30"></div>
    </div>
</div>


    </div>
    <!--案例3-->
    <div class="product">

 
 <div class="friend">
    <div class="mr_frbox">
        
        <div class="mr_frUl">
            <ul id="mr_fu">
            
                <li><a href="#">
                    <img src="{skin:images/sales_img/4.jpg}" width="150" height="150" alt="2">
                </a>
                <p class="mt10"> <a href="#"> 【广电自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋）">【京东自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋） </a></p>
          <form action="" method="post">
                              <input class="fuxuan"  name="" type="checkbox" value="">
                               </form><p class="pb10">¥<b>123.00</b></p>  
                </li>
                
                <li><a href="#">
                    <img src="{skin:images/sales_img/4.jpg}" width="150" height="150" alt="2">
                </a>
                <p class="mt10"> <a href="#"> 【广电自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋）">【京东自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋） </a></p>
          <form action="" method="post">
                              <input class="fuxuan"  name="" type="checkbox" value="">
                               </form><p class="pb10">¥<b>123.00</b></p>  
                   
                </li>
                <li><a href="#">
                    <img src="{skin:images/sales_img/4.jpg}" width="150" height="150" alt=" ">
                </a>
                <p class="mt10"> <a href="#"> 【广电自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋）">【京东自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋） </a></p>
          <form action="" method="post">
                              <input class="fuxuan"  name="" type="checkbox" value="">
                               </form><p class="pb10">¥<b>123.00</b></p>     
                </li>
              <li><a href="#">
                    <img src="{skin:images/sales_img/5.jpg}" width="150" height="150" alt=" ">
                </a>
                <p class="mt10"> <a href="#"> 【广电自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋）">【京东自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋） </a></p>
          <form action="" method="post">
                              <input class="fuxuan"  name="" type="checkbox" value="">
                  </form><p class="pb10">¥<b>123.00</b></p>     
                </li>
              <li><a href="#">
                    <img src="{skin:images/sales_img/5.jpg}" width="150" height="150" alt=" ">
                </a>
                <p class="mt10"> <a href="#"> 【广电自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋）">【京东自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋） </a></p>
          <form action="" method="post">
                              <input class="fuxuan"  name="" type="checkbox" value="">
                  </form><p class="pb10">¥<b>123.00</b></p>     
                </li>  
            </ul>
        </div>
        <div class="mr_frBtnR next"><img src="{skin:images/sales_img/imageNavLeft.gif}" width="50" height="30"></div>
	<div class="mr_frBtnL prev"><img src="{skin:images/sales_img/imageNavRight.gif}" width="50" height="30"></div>
    </div>
</div>  

    </div>
    <!--案例4-->
    <div class="product">

  <div class="friend">
    <div class="mr_frbox">
        
        <div class="mr_frUl">
            <ul id="mr_fu">
            
                <li><a href="#">
                    <img src="{skin:images/sales_img/6.jpg}" width="150" height="150" alt=" ">
                </a>
                <p class="mt10"> <a href="#"> 【广电自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋）">【京东自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋） </a></p>
          <form action="" method="post">
                              <input class="fuxuan"  name="" type="checkbox" value="">
                               </form><p class="pb10">¥<b>123.00</b></p>  
                </li>
                
                <li><a href="#">
                    <img src="{skin:images/sales_img/6.jpg}" width="150" height="150" alt=" ">
                </a>
               <p class="mt10"> <a href="#"> 【广电自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋）">【京东自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋） </a></p>
          <form action="" method="post">
                              <input class="fuxuan"  name="" type="checkbox" value="">
                               </form><p class="pb10">¥<b>123.00</b></p>  
                   
                </li>
                <li><a href="#">
                    <img src="{skin:images/sales_img/6.jpg}" width="150" height="150" alt=" ">
                </a>
                 <p class="mt10"> <a href="#"> 【广电自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋）">【京东自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋） </a></p>
          <form action="" method="post">
                              <input class="fuxuan"  name="" type="checkbox" value="">
                               </form><p class="pb10">¥<b>123.00</b></p>    
                </li>
             <li><a href="#">
                    <img src="{skin:images/sales_img/7.jpg}" width="150" height="150" alt=" ">
                </a>
                <p class="mt10"> <a href="#"> 【广电自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋）">【京东自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋） </a></p>
          <form action="" method="post">
                              <input class="fuxuan"  name="" type="checkbox" value="">
                  </form><p class="pb10">¥<b>123.00</b></p>     
                </li>
              <li><a href="#">
                    <img src="{skin:images/sales_img/7.jpg}" width="150" height="150" alt=" ">
                </a>
                <p class="mt10"> <a href="#"> 【广电自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋）">【京东自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋） </a></p>
          <form action="" method="post">
                              <input class="fuxuan"  name="" type="checkbox" value="">
                  </form><p class="pb10">¥<b>123.00</b></p>     
                </li>   
            </ul>
        </div>
        <div class="mr_frBtnR next"><img src="{skin:images/sales_img/imageNavLeft.gif}" width="50" height="30"></div>
	<div class="mr_frBtnL prev"><img src="{skin:images/sales_img/imageNavRight.gif}" width="50" height="30"></div>
    </div>
</div>


    </div>
    <!--案例5-->
    <div class="product">

   <div class="friend">
    <div class="mr_frbox">
        
        <div class="mr_frUl">
            <ul id="mr_fu">
            
                <li><a href="#">
                    <img src="{skin:images/sales_img/2.jpg}" width="150" height="150" alt=" ">
                </a>
                <p class="mt10"> <a href="#"> 【广电自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋）">【京东自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋） </a></p>
          <form action="" method="post">
                              <input class="fuxuan"  name="" type="checkbox" value="">
                               </form><p class="pb10">¥<b>123.00</b></p>  
                </li>
                
                <li><a href="#">
                    <img src="{skin:images/sales_img/8.jpg}" height="150" alt=" ">
                </a>
                <p class="mt10"> <a href="#"> 【广电自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋）">【京东自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋） </a></p>
          <form action="" method="post">
                              <input class="fuxuan"  name="" type="checkbox" value="">
                               </form><p class="pb10">¥<b>123.00</b></p>  
                   
                </li>
                <li><a href="#">
                    <img src="{skin:images/sales_img/8.jpg}" height="150" alt=" ">
                </a>
                <p class="mt10"> <a href="#"> 【广电自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋）">【京东自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋） </a></p>
          <form action="" method="post">
                              <input class="fuxuan"  name="" type="checkbox" value="">
                               </form><p class="pb10">¥<b>123.00</b></p>     
                </li>
              <li><a href="#">
                    <img src="{skin:images/sales_img/9.jpg}" width="150" height="150" alt=" ">
                </a>
                <p class="mt10"> <a href="#"> 【广电自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋）">【京东自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋） </a></p>
          <form action="" method="post">
                              <input class="fuxuan"  name="" type="checkbox" value="">
                  </form><p class="pb10">¥<b>123.00</b></p>     
                </li>
             <li><a href="#">
                    <img src="{skin:images/sales_img/9.jpg}" width="150" height="150" alt=" ">
                </a>
                <p class="mt10"> <a href="#"> 【广电自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋）">【京东自营】佳佰750ml真空不锈钢焖烧杯 焖烧壶 粥桶 保温杯（送便携袋） </a></p>
          <form action="" method="post">
                              <input class="fuxuan"  name="" type="checkbox" value="">
                  </form><p class="pb10">¥<b>123.00</b></p>     
                </li>    
            </ul>
        </div>
        <div class="mr_frBtnR next"><img src="{skin:images/sales_img/imageNavLeft.gif}" width="50" height="30"></div>
	<div class="mr_frBtnL prev"><img src="{skin:images/sales_img/imageNavRight.gif}" width="50" height="30"></div>
    </div>
</div>
    </div>
      <div class="sales">
   <a class="combo-price" href="#">套餐价：<i>¥</i><s>5326.00</s></a>
    
    <a class="liji" href="#">立即购买</a>
     <a class="gouwu" href="#">加入购物车</a>
    
          </div>
  </div>
</div>

   </div>

<script type="text/javascript">
         jQuery(".mr_frbox").slide({titCell:"",mainCell:".mr_frUl ul",autoPage:true,effect:"left",autoPlay:true,scroll:4,vis:4,trigger:"click"});
        
        </script>


<!--组合销售结束-->








<div class="wrapper clearfix container_2">

	<!--左边栏-->
	<div class="sidebar f_l">
		{if:isset($seller)}
		<!--商家-->
		<div class="box m_10">
			<div class="title"><a target='blank' href='{url:/site/home/id/$seller[id]}'>{$seller['true_name']}</a></div>
			<div class="cont">
				<ul class="list">
					{set:$ave = statistics::getSellerGrade($seller['id']);$ave = $ave*70/5;}
					<li style='background:none;'>评分：<span class="grade"><i style="width:{$ave}px"></i></span></li>
					<li style='background:none;'>客服QQ:
						<a target="_blank" href="{echo:Sonline::getChatUrl($seller['server_num'])}" >
							<img border="0"  src="{skin:images/qq.jpg}"/>
						</a>
					</li>
					<li style='background:none;'>
					<a class="btn_blue bold" href="{url:/site/home/id/$seller[id]}" target="_blank">进入店铺</a>
					</li>
				</ul>
			</div>
		</div>
		{/if}
				<!--促销规则-->
		<div class="box m_10">
			<div class="title">促销活动</div>
			<div class="cont">
				<ul class="list">
				{foreach:items=$promotion}
					<li>{$item['info']}</li>
				{/foreach}
				</ul>
			</div>
		</div>
		<!--促销规则-->

		<!--购买推荐-->
		{if:isset($buyer_id) && $buyer_id}
				<div class="box m_10">
			<div class="title">购买本商品的用户还购买过</div>
			<div class="content" style='width:100%;'>
				<ul class="ranklist">
					{foreach:items=Api::run('getOrderGoodsByBuyerid',array('#buyer_id#',$buyer_id))}
					<li class="current">
						<a href="{url:/site/products/id/$item[id]}" target="_blank"><img width="58px" height="58px" src="{url:/pic/thumb/img/$item[img]/w/58/h/58}"></a>
						<a title="{$item['name']}" class="p_name" href="{url:/site/products/id/$item[id]}" target="_blank">{$item['name']}</a>
						<b>￥{$item['price']}</b>
					</li>
					{/foreach}
				</ul>
			</div>
		</div>
		{/if}
				<!--购买推荐-->

		<!--热卖商品-->
		<div class="box m_10">
			<div class="title">热卖商品</div>
			<div class="content" style='width:100%;'>
				<ul class="ranklist">
					{foreach:items=Api::run('getCommendHot')}
									<li class="current">
						<a href="{url:/site/products/id/$item[id]}" target="_blank"><img width="58px" height="58px" alt="苹果" src="{url:/pic/thumb/img/$item[img]/w/58/h/58}" /></a>
						<a title="{$item['name']}" class="p_name" href="{url:/site/products/id/$item[id]}" target="_blank">{$item['name']}</a>
						<b>￥{$item['sell_price']}</b>
					</li>
					{/foreach}
				</ul>
			</div>
		</div>
		<!--热卖商品-->
	</div>

	{include:layouts/goods_det.html}
</div>
<script type='text/javascript' src='{theme:javascript/area_show.js}'></script>
<script type="text/javascript">

$(function(){

//图片初始化
var goodsSmallPic = "{skin:images/front/nopic_435_435.gif}";
var goodsBigPic   = "{skin:images/front/nopic_435_435.gif}";

//存在图片数据时候
{if:isset($photo) && $photo}
goodsSmallPic = "{webroot:}{echo:Thumb::get($photo[0]['img'],435,435)}";
goodsBigPic   = "{webroot:}{$photo[0]['img']}";
{/if}
$('#J_ImgBooth').attr('src',goodsSmallPic);
$('#detShow img').attr('src',goodsBigPic);

spec_show_obj.init(product);

//城市地域选择按钮事件
$('.sel_area').hover(
	function(){
		$('.area_box').show();
	},function(){
		$('.area_box').hide();
	}
);
$('.area_box').hover(
	function(){
		$('.area_box').show();
	},function(){
		$('.area_box').hide();
	}
);

//获取地址的ip地址
getAddress();

//生成商品价格
var priceHtml = template.render('priceTemplate',{"group_price":"{$group_price}","minSellPrice":"{$minSellPrice}","maxSellPrice":"{$maxSellPrice}","sell_price":"{$sell_price}","market_price":"{$market_price}"});
$('#price_panel').html(priceHtml);


//按钮绑定
$('[name="showButton"]>label').click(function(){
	$(this).siblings().removeClass('current');
	if($(this).hasClass('current') == false)
	{
		$(this).addClass('current');
	}
	$('[name="showBox"]>div').addClass('hidden');
	$('[name="showBox"]>div:eq('+$(this).index()+')').removeClass('hidden');
	var add = $('[name="showButton"]').find('.spec').length>0 ? 1 : 0;
	
			switch($(this).index())
			{
				case (1+add):
				{
					comment_ajax();
				}
				break;
		
				case (2+add):
				{
					history_ajax();
				}
				break;
		
				case (3+add):
				{
					refer_ajax();
				}
				break;
		
			}


});


});



//加载根据地域获取城市
function getAddress()
{
	//根据IP查询所在地
	var ipAddress = $.cookie('ipAddress');
	if(ipAddress)
	{
		searchDelivery(ipAddress);
	}
	else
	{
		$.getScript('http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js',function(){
			ipAddress = remote_ip_info['province'];
			$.cookie('ipAddress',ipAddress);
			searchDelivery(ipAddress);
		});
	}
}



/**
 * 根据省份获取运费信息
 * @param province 省份名称
 */
function searchDelivery(province)
{
	var url = '{url:/block/searchPrivice/random/@random@}';
	url = url.replace("@random@",Math.random);

	$.getJSON(url,{'province':province},function(json)
	{
		if(json.flag == 'success')
		{
			delivery(json.area_id,province);
		}
	});
}


/**
 * 获取评论数据
 * @page 分页数
 */
function comment_ajax(page)
{
	if(!page && $.trim($('#commentBox').text()))
	{
		return;
	}
	page = page ? page : 1;
	var url = '{url:/site/comment_ajax/page/@page@/goods_id/$id}';
	url = url.replace("@page@",page);
	$.getJSON(url,function(json)
	{
		//清空评论数据
		$('#commentBox').empty();

		for(var item in json.data)
		{
			var commentHtml = template.render('commentRowTemplate',json.data[item]);
			$('#commentBox').append(commentHtml);
		}
		$('#commentBox').append(json.pageHtml);
	});
}

/**
 * 获取购买记录数据
 * @page 分页数
 */
function history_ajax(page)
{
	if(!page && $.trim($('#historyBox').text()))
	{
		return;
	}
	page = page ? page : 1;
	var url = '{url:/site/history_ajax/page/@page@/goods_id/$id}';
	url = url.replace("@page@",page);
	$.getJSON(url,function(json)
	{
		//清空购买历史记录
		$('#historyBox').empty();
		$('#historyBox').parent().parent().find('.pages_bar').remove();

		for(var item in json.data)
		{
			var historyHtml = template.render('historyRowTemplate',json.data[item]);
			$('#historyBox').append(historyHtml);
		}
		$('#historyBox').parent().after(json.pageHtml);
	});
}

/**
 * 获取购买记录数据
 * @page 分页数
 */
function refer_ajax(page)
{
	if(!page && $.trim($('#referBox').text()))
	{
		return;
	}
	page = page ? page : 1;
	var url = '{url:/site/refer_ajax/page/@page@/goods_id/$id}';
	url = url.replace("@page@",page);
	$.getJSON(url,function(json)
	{
		//清空评论数据
		$('#referBox').empty();

		for(var item in json.data)
		{
			var commentHtml = template.render('referRowTemplate',json.data[item]);
			$('#referBox').append(commentHtml);
		}
		$('#referBox').append(json.pageHtml);
	});
}

/**
 * 获取购买记录数据
 * @page 分页数
 */
function discuss_ajax(page)
{
	if(!page && $.trim($('#discussBox').text()))
	{
		return;
	}
	page = page ? page : 1;
	var url = '{url:/site/discuss_ajax/page/@page@/goods_id/$id}';
	url = url.replace("@page@",page);
	$.getJSON(url,function(json)
	{
		//清空购买历史记录
		$('#discussBox').empty();
		$('#discussBox').parent().parent().find('.pages_bar').remove();

		for(var item in json.data)
		{
			var historyHtml = template.render('discussRowTemplate',json.data[item]);
			$('#discussBox').append(historyHtml);
		}
		$('#discussBox').parent().after(json.pageHtml);
	});
}





//添加收藏夹
function favorite_add(obj)
{
	{if:isset($this->user['user_id'])}
		$.getJSON('{url:/simple/favorite_add}',{'goods_id':{$id},'random':Math.random},function(content)
		{
			if(content.isError == false)
			{
				$(obj).text(content.message);
			}
			else
			{
				alert(content.message);
			}
		});
	{else:}
		window.location.href="{url:/simple/login/?callback=/site/products/id/$id}";
	{/if}
}



</script>

</div>
	
