<link href="{skin:css/shan/tm.css}" rel="stylesheet">
<div class="cnt w1190">

<style type="text/css">
	h1{font-family:"微软雅黑";font-size:20px;margin-top:20px;letter-spacing:2px;}

	.time-item strong{background:#C71C60;color:#fff;line-height:49px;font-size:18px;font-family:Arial;padding:0 5px;margin-right:5px;}
	.time-item a:hover{color:#c71c60}
	#day_show{float:left;line-height:49px;color:#c71c60;font-size:14px;margin:0 5px;font-family:Arial, Helvetica, sans-serif;}
	.item-title .unit{background:none;line-height:49px;font-size:12px;padding:0 5px;float:left;}
	
	.pp_tm_show li{
		position: relative;
		float: left;
		width: 435px;
		height: 300px;
		margin: 20px 10px 0 0;
		padding: 10px;
		border: 1px solid #ccc;
		background: #fff;overflow:hidden;
		font-size:16px;
		
	}
	.pp_tm_show li:hover {
		background: #f15a24;
		border: 1px solid #f15a24;
	}
	.pp_tm_show dd{margin-top:15px;}

	.pp_tm_show .pl{float:left;}
	.pp_tm_show .pr{float:right;}

</style>

<link rel="stylesheet" type="text/css" href="{skin:css/base.css}">
<link rel="stylesheet" type="text/css" href="{skin:css/index_sg.css}">
<script type="text/javascript">
	var webIndex = "shan";
	var frontPath = "";
	var mid = "0";
	var cdvalue = "0"
	var priceServer = "#"; 
	var crossDomain = "index.html";
	var picPrefix = "#";
	var staticPrefix = "#";
	var pidArr = [];
</script>
<script type="text/javascript" src="{theme:javascript/shan/base.js}"></script>
<script type="text/javascript" src="{theme:javascript/shan/shan.js}"></script>

		<div class="pp_tm_con">
				  <div class="pp_tm_con_fr"><a name="floor-1"></a>
					<h3>品牌闪购<i>TOP</i></h3>
				  </div>
			<div class="pp_tm_con_se">
				<div class="pp_tm_con_se_l">
				  <!--品牌特卖 -->
	<div class="shan-brand width">
		<ul class="shan-all-li">
				<li style="margin-top:0;">
					<dl>
						<dt class="brand-img">
							<a href="detail.html" target="_blank" title="归原限时特卖专场">
								<img class="lazyload img" original="files/2015081209540227.jpg" src="files/2015081209540227.jpg" alt="">
							</a>
						</dt>
						<dd>
							<div class="fl">
								<p class="name">
									<a href="detail.html" title="归原限时特卖专场" target="_blank">归原限时特卖专场</a>
								</p>
										<p class="explain" title="&#160;">
											<span class="gzmc_k"></span>
											<span class="gzmc_z"></span>
										</p>
										<p class="prom" title="">
												<span class="dazhe">8.6</span>折起
										</p>
							</div>
							<div class="fr">
								<p class="brand-logo">
								</p>
								<p class="surplus" id="timeRemaining_brand_1033410">剩余5天23小时 47分 54秒</p>
							</div>
							<div class="clear"></div>
						</dd>
					</dl>
					<div class="brand-icon" id="brandsale_sold-out-_0">
						<div class="clear"></div>
					</div>
				</li>
				<li class="none" style="margin-top:0;">
					<dl>
						<dt class="brand-img">
							<a href="detail.html" target="_blank" title="进口糖果限时特卖专场">
								<img class="lazyload img" original="files/20150812095513425.jpg" src="files/2015081209540227.jpg" alt="">
							</a>
						</dt>
						<dd>
							<div class="fl">
								<p class="name">
									<a href="detail.html" title="进口糖果限时特卖专场" target="_blank">进口糖果限时特卖专场</a>
								</p>
										<p class="explain" title="&#160;">
											<span class="gzmc_k"></span>
											<span class="gzmc_z"></span>
										</p>
										<p class="prom" title="">
												<span class="dazhe">4.3</span>折起
										</p>
							</div>
							<div class="fr">
								<p class="brand-logo">
								</p>
								<p class="surplus" id="timeRemaining_brand_1033413">剩余5天23小时 47分 54秒</p>
							</div>
							<div class="clear"></div>
						</dd>
					</dl>
					<div class="brand-icon" id="brandsale_sold-out-_1">
						<div class="clear"></div>
					</div>
				</li><li>
					<dl>
						<dt class="brand-img">
							<a href="detail.html" target="_blank" title="归原限时特卖专场">
								<img class="lazyload img" original="files/2015081209540227.jpg" src="files/2015081209540227.jpg" alt="">
							</a>
						</dt>
						<dd>
							<div class="fl">
								<p class="name">
									<a href="detail.html" title="归原限时特卖专场" target="_blank">归原限时特卖专场</a>
								</p>
										<p class="explain" title="&#160;">
											<span class="gzmc_k"></span>
											<span class="gzmc_z"></span>
										</p>
										<p class="prom" title="">
												<span class="dazhe">8.6</span>折起
										</p>
							</div>
							<div class="fr">
								<p class="brand-logo">
								</p>
								<p class="surplus" id="timeRemaining_brand_1033410">剩余5天23小时 47分 54秒</p>
							</div>
							<div class="clear"></div>
						</dd>
					</dl>
					<div class="brand-icon" id="brandsale_sold-out-_0">
						<div class="clear"></div>
					</div>
				</li>
				<li class="none">
					<dl>
						<dt class="brand-img">
							<a href="detail.html" target="_blank" title="进口糖果限时特卖专场">
								<img class="lazyload img" original="files/20150812095513425.jpg" src="files/2015081209540227.jpg" alt="">
							</a>
						</dt>
						<dd>
							<div class="fl">
								<p class="name">
									<a href="detail.html" title="进口糖果限时特卖专场" target="_blank">进口糖果限时特卖专场</a>
								</p>
										<p class="explain" title="&#160;">
											<span class="gzmc_k"></span>
											<span class="gzmc_z"></span>
										</p>
										<p class="prom" title="">
												<span class="dazhe">4.3</span>折起
										</p>
							</div>
							<div class="fr">
								<p class="brand-logo">
								</p>
								<p class="surplus" id="timeRemaining_brand_1033413">剩余5天23小时 47分 54秒</p>
							</div>
							<div class="clear"></div>
						</dd>
					</dl>
					<div class="brand-icon" id="brandsale_sold-out-_1">
						<div class="clear"></div>
					</div>
				</li><li>
					<dl>
						<dt class="brand-img">
							<a href="detail.html" target="_blank" title="归原限时特卖专场">
								<img class="lazyload img" original="files/2015081209540227.jpg" src="files/2015081209540227.jpg" alt="">
							</a>
						</dt>
						<dd>
							<div class="fl">
								<p class="name">
									<a href="detail.html" title="归原限时特卖专场" target="_blank">归原限时特卖专场</a>
								</p>
										<p class="explain" title="&#160;">
											<span class="gzmc_k"></span>
											<span class="gzmc_z"></span>
										</p>
										<p class="prom" title="">
												<span class="dazhe">8.6</span>折起
										</p>
							</div>
							<div class="fr">
								<p class="brand-logo">
								</p>
								<p class="surplus" id="timeRemaining_brand_1033410">剩余5天23小时 47分 54秒</p>
							</div>
							<div class="clear"></div>
						</dd>
					</dl>
					<div class="brand-icon" id="brandsale_sold-out-_0">
						<div class="clear"></div>
					</div>
				</li>
				<li class="none">
					<dl>
						<dt class="brand-img">
							<a href="detail.html" target="_blank" title="进口糖果限时特卖专场">
								<img class="lazyload img" original="files/20150812095513425.jpg" src="files/2015081209540227.jpg" alt="">
							</a>
						</dt>
						<dd>
							<div class="fl">
								<p class="name">
									<a href="detail.html" title="进口糖果限时特卖专场" target="_blank">进口糖果限时特卖专场</a>
								</p>
										<p class="explain" title="&#160;">
											<span class="gzmc_k"></span>
											<span class="gzmc_z"></span>
										</p>
										<p class="prom" title="">
												<span class="dazhe">4.3</span>折起
										</p>
							</div>
							<div class="fr">
								<p class="brand-logo">
								</p>
								<p class="surplus" id="timeRemaining_brand_1033413">剩余5天23小时 47分 54秒</p>
							</div>
							<div class="clear"></div>
						</dd>
					</dl>
					<div class="brand-icon" id="brandsale_sold-out-_1">
						<div class="clear"></div>
					</div>
				</li>
		</ul>
				


<div class="clear"></div>
		</div>
<script type="text/javascript" src="{theme:javsscript/jquery.lazyload.js}">
</script>

				</div>

				<div class="pp_tm_con_se_r">
			  <div class="tm_cn">
				<img src="{skin:images/shan/tm_t1.jpg}" width="246" height="40">
				<img src="{skin:images/shan/tm_07.jpg}" width="246" height="132">
				<img src="{skin:images/shan/tm_08.jpg}" width="246" height="146">
			  </div>
					
				<div class="tm_wb"><img src="{skin:images/shan/tm_wb_20.jpg}" width="248" height="120"></div>
					
			</div>
					<div class="clear"></div>
		  </div>
	
	
	</div>
</div>




			<div class="pp_tm_con"><br/>
				  <div class="pp_tm_con_fr"><a name="floor-2"></a>
					<h3>今日上新<i>NEW</i></h3>
				  </div>
				  <div class="pp_tm_con_se">
					<div class="pp_tm_con_se_l" id="brandlist">
						<div class="pp_tm_con_show">
							<a href="detail.html" target="_blank"><img src="files/kans720x210.jpg" width="720" height="210">
								<div style="width:192px; height:210px; float:right;">
									<h1>剩余</h1>
									<div class="time-item">
										<span id="day_show">0</span>天
										<strong id="hour_show">0</strong>时
										<strong id="minute_show">0</strong>分
										<strong id="second_show">0</strong>秒
									</div><!--倒计时模块-->
								</div>
							</a>
							
						</div>


						<div class="pp_tm_con_show">
							<a href="detail.html" target="_blank"><img src="files/baicaoji720x210.jpg" width="720" height="210">
								<div style="width:192px; height:210px; float:right;">
									<h1>剩余</h1>
									<div class="time-item">
										<span id="day_show">0</span>天
										<strong id="hour_show">0</strong>时
										<strong id="minute_show">0</strong>分
										<strong id="second_show">0</strong>秒
									</div><!--倒计时模块-->
								</div>
							</a>
							
						</div>
						<div class="pp_tm_con_show">
							<a href="detail.html" target="_blank"><img src="files/kans720x210.jpg" width="720" height="210">
								<div style="width:192px; height:210px; float:right;">
									<h1>剩余</h1>
									<div class="time-item">
										<span id="day_show">0</span>天
										<strong id="hour_show">0</strong>时
										<strong id="minute_show">0</strong>分
										<strong id="second_show">0</strong>秒
									</div><!--倒计时模块-->
								</div>
							</a>
							
						</div>


						<div class="pp_tm_con_show">
							<a href="detail.html" target="_blank"><img src="files/55c85960Na24deb79.jpg" width="924" height="210"></a>
						</div>

						<div class="pp_tm_con_show">
							<a href="detail.html" target="_blank"><img src="files/baicaoji720x210.jpg" width="720" height="210">
								<div style="width:192px; height:210px; float:right;">
									<h1>剩余</h1>
									<div class="time-item">
										<span id="day_show">0</span>天
										<strong id="hour_show">0</strong>时
										<strong id="minute_show">0</strong>分
										<strong id="second_show">0</strong>秒
									</div><!--倒计时模块-->
								</div>
							</a>
							
						</div>

						<div class="next_more"><span class="next_more_btn" id="nextgroup" onclick="LoadStartBrand(2);"><span class="next_more_text">查看下一组</span></span></div>        
					</div>
				
				
			
			
					
					
			<div class="tm_yg">
			<div class="tm_yg_top"><img src="files/tm_t2.jpg" width="246" height="40"></div>
			<div class="tm_yg_con">
			<ul class="clearfix">
				<li><a href="list.html" target="_blank"><img src="files/kose.jpg" width="114" height="65"></a></li>
				<li><a href="list.html" target="_blank"><img src="files/avene-logo.jpg" width="114" height="65"></a></li>
				<li><a href="list.html" target="_blank"><img src="files/colif_07.jpg" width="114" height="65"></a></li>
				<li><a href="list.html" target="_blank"><img src="files/olay.jpg" width="114" height="65"></a></li>
				<li><a href="list.html" target="_blank"><img src="files/skinfood.jpg" width="114" height="65"></a></li>
				<li><a href="list.html" target="_blank"><img src="files/meiji.jpg" width="114" height="65"></a></li>
				<li><a href="list.html" target="_blank"><img src="files/elizabetharden.jpg" width="114" height="65"></a></li>
				<li><a href="list.html" target="_blank"><img src="files/the-face-shop-logo.jpg" width="114" height="65"></a></li>
			</ul>
			</div>
			</div>        
					
					
					  
					</div>
					<div class="clear"></div>
				  </div>
				</div>
    
 
</div>
<!--cnt w1190-->