{set:
	$seo_data=array();
	$site_config=new Config('site_config');
	$seo_data['title']=$name."_".$site_config->name;
	$seo_data['keywords']=$keywords;
	$seo_data['description']=$description;
	seo::set($seo_data);
	
}
{js:cookie}
{set:$breadGuide = goods_class::catRecursion($category);$promotion=Api::run('getProrule', $id);}   
{foreach:items=$promotion}
	{if:$item['type']==6}<!--获取免配送费的信息-->
	{set:$freightInfo=$item['info']}
	{/if}
{/foreach}
<link rel="stylesheet" href="{skin:css/index1.css}">
<link rel="stylesheet" type='text/css' href="{skin:css/sales_css/Portfolio_sales.css}"/>
<link rel="stylesheet" type='text/css' href="{skin:css/detail.css}"/>
<link rel="stylesheet" type="text/css" href="{theme:javascript/jquery.bxSlider/jquery.bxslider.css}" />  
<script type='text/javascript' src="{theme:javascript/sales_js/jquery.SuperSlide2.js}" ></script>
<script type='text/javascript' src="{theme:javascript/sales_js/Portfolio_sales.js}" ></script>

<script type="text/javascript" src="{theme:javascript/jquery.bxSlider/jquery.bxSlider.min.js}"></script>
<script type='text/javascript' src="{theme:javascript/piczoom.js}"></script>
<script type='text/javascript' src="{theme:javascript/detail.js}" ></script>
<script type='text/javascript' src="{theme:javascript/combine.js}" ></script>

<script type='text/javascript' >
	var product = {$product};
	var buy_now_url = '{url:/simple/cart2/id/@id@/num/@buyNums@/type/@type@}';
	var join_cart_url = '{url:/simple/joinCart}';
	var goods_id = {$goods_id};
	var show_cart_url = '{url:/simple/showCart}';
    var buy_now_combine_url = '{url:/simple/cart2/id/@id@/num/@buyNums@/type/@type@/comId/@comId@}';
	var product_id = {$product_id};
	var get_product_url = '{url:/site/getProduct}';
	var max_num = '{$this->tuanData["limit_max_count"]}';
	var min_num = '{$this->tuanData["limit_min_count"]}';
	
	//获取地区
	var area_url = '{url:/block/area_child}';
	var delivery_fee_url = '{url:/block/order_delivery}';
    var spec_combine_show_obj = new Spec_combine_show();
</script>
<script type='text/javascript' src="{theme:javascript/tuan_detail.js}" ></script>

<div class="position"><span>您当前的位置：</span><a href="{url:}">首页</a>{foreach:items=$breadGuide} » <a href="{url:/site/pro_list/cat/$item[id]}">{$item['name']}</a>{/foreach} » {$name}</div>
<div class="wrapper clearfix">
	
	<div class="summary" style='margin-right:15px;'>

		<!--货品ID，当为商品时值为空-->
        <input type='hidden' id='product_id' alt='货品ID' value='{$product_id}' /> 
        <input type='hidden' id='delivery_id' alt='配送方式ID' value='{$delivery_id}' />
		<input type='hidden' name='active_id' value="{$active_id}"/><!--活动id-->
		<!--基本信息区域-->
		<div id='detail'>
			<div id="J_DetailMeta" class="tm-detail-meta tm-clear">
			<div class="tb-wrap">
				<div class="tb-detail-hd">
					<h1 data-spm="1000983">	{$name} </h1>
					<h2 data-spm="1000983" style="color:#e05757;">	{$short_desc} </h2>
					<p> </p>
				</div>
				<div class="tm-fcs-panel" id='price_panel'>
					
				</div>
				<script  type='text/html' id='priceTemplate'>
						<dl id="J_PromoPrice" class="tm-promo-panel"  >
							<dt class="tb-metatit">市场价</dt>
							<dd><em class="tm-yen">¥</em>
								<span class="tm-price" style='text-decoration:line-through;'><%=market_price%></span>
								<div class="staticPromoTip"> </div>
							</dd>
						</dl>
						<dl id="J_PromoPrice" class="tm-promo-panel"  >
							<dt class="tb-metatit">原价格</dt>
							<dd><em class="tm-yen">¥</em>
								<span class="tm-price" style='text-decoration:line-through;'><%=sell_price%></span>
								<div class="staticPromoTip"> </div>
							</dd>
						</dl>
						<%if(group_price){%>
						<dl id="J_PromoPrice" class="tm-promo-panel"  >
							<dt class="tb-metatit">会员价</dt>
							<dd><em class="tm-yen">¥</em>
								<span class="tm-price"  style='text-decoration:line-through;'><%=group_price%></span>
								<div class="staticPromoTip"> </div>
							</dd>
						</dl>
							<%}%>
						<dl id="J_StrPriceModBox" class="tm-price-panel tm-price-cur">
							<dt class="tb-metatit">团购价</dt>
							<dd>
								<em class="tm-yen">¥</em>
								<span class="tm-price" id='real_price'>{$this->tuanData['regiment_price']}</span>
								<div class="staticPromoTip"> </div>
							</dd>
						</dl>
					
				</script>
				<div class="tb-meta">
					<dl id="J_RSPostageCont" class="tm-delivery-panel">
                        {if:$this->tuanData['type']==2 && strtotime($this->tuanData['start_time']) > time()}
                        <dt class="tb-metatit">开团时间</dt>
                        {set:$end = strtotime($this->tuanData['start_time']) - time()}
                        {else:}
						<dt class="tb-metatit">剩余时间</dt>
						{set:$end = strtotime($this->tuanData['end_time']) - time()}
                        {/if}
						<dd>
							<div class="det_tuan countdown" id="timeRemaining-1" style=''>
								<span id='cd_day_1'></span>天
								<span id='cd_hour_1'></span>小时
								<span id='cd_minute_1'></span>分
								<span id='cd_second_1' ></span>秒	
								<input name='endTime' type='hidden' value='{$end}' />
								{if:$this->tuanData['type']<>2 || strtotime($this->tuanData['start_time']) < time()}
								<span class='sell_sum'>已团购(<span >{$this->tuanData['sum_count']}/{$this->tuanData['store_nums']}</span>)</span>
								{/if}
							</div>
						</dd>
					</dl>
				</div>
				<div class="tb-meta">
					<dl id="J_RSPostageCont" class="tm-delivery-panel">
						<dt class="tb-metatit">配送至</dt>
						<dd>
							<div class="tb-postAge" style='color:#666;padding-top:0px;'>
								<!-- 配送地址开始 -->
								<ul id="list1">
									<li id="summary-stock">
										<div class="dd">
											<div id="store-selector" >
											</div><!--store-selector end-->
											<div id="store-prompt"><strong></strong></div><!--store-prompt end--->
										</div>
									</li>
								</ul>

								<!-- 配送地址结束 -->


								{$freightInfo}
								<a href="{url:/site/help/id/73}" style='color:red;display:inline-block;' target="_blank">配送说明</a>
							</div>
						</dd>
					</dl>
				</div>
				<div class="tb-meta">
					<dl id="J_RSPostageCont" class="tm-delivery-panel">
						<dt class="tb-metatit">服务</dt>
						<dd>
							<div class="tb-postAge">
							由{if:isset($seller)}
							{$seller['true_name']}
							{else:}
							山城速购
							{/if}
							配送,并提供售后服务
							</div>
						</dd>
					</dl>
				</div>
					<ul class="tm-ind-panel">
						<li class="tm-ind-item tm-ind-sellCount canClick" >
							<div class="tm-indcon" onclick="jumpTo('buyHistory')">
									<span class="tm-label">销售记录</span>
								<span class="tm-count">{$buy_num}</span>
							</div>
						</li>
						<li id="J_ItemRates" class="tm-ind-item tm-ind-reviewCount canClick tm-line3">
							<div class="tm-indcon"  onclick="jumpTo('point')">
								<span class="tm-label">累计评价</span>
								<span class="tm-count">{$comment_num}</span>
							</div>
						</li>
						<li class="tm-ind-item tm-ind-emPointCount" >
							<div class="tm-indcon">
								<a target="_blank" href="" >
									<span class="tm-label">送积分</span>
                                    <span class="tm-count js_point_core">{$point}</span>
								</a>
							</div>
						</li>
					</ul>
					<div class="tb-key">
						<div class="tb-skin">
							<div class="tb-sku">
								
								{if:$spec_array}
								{set:$specArray = JSON::decode($spec_array);}
								{foreach:items=$specArray}
								<dl class="m_10 clearfix" name="specCols">
									<dt>{$item['name']}</dt>
									<dd class="w_45" style="margin-left:67px;" id="specList{$item['id']}">
										{set:$specVal=explode(',',trim($item['value'],','))}
										{foreach:items=$specVal item=$spec_value}
										{if:$item['type'] == 1}
										<div class="item w_27"><a href="javascript:void(0);" onclick="tuan_spec_show.sele_spec(this);get_delivery_fee()" value='{"id":"{$item['id']}","type":"{$item['type']}","value":"{$spec_value}","name":"{$item['name']}"}' >{$spec_value}<span></span></a></div>
										{else:}
										<div class="item"><a href="javascript:void(0);" onclick="tuan_spec_show.sele_spec(this);get_delivery_fee()" value='{"id":"{$item['id']}","type":"{$item['type']}","value":"{$spec_value}","name":"{$item['name']}"}' ><img src="{webroot:$spec_value}" width='30px' height='30px' /><span></span></a></div>
										{/if}
										{/foreach}
									</dd>
								</dl>
								{/foreach}
								{/if}
																								
								<dl class="tb-amount tm-clear">
									<dt class="tb-metatit">数量</dt>
									<dd id="J_Amount">
										<input class="gray_t f_l" type="text" id="buyNums" onblur="tuan_spec_show.checkBuyNums();get_delivery_fee()" value="1" maxlength="5" />
											<div class="resize">
												<a class="add" href="javascript:tuan_spec_show.modified(1);get_delivery_fee()"></a>
												<a class="reduce" href="javascript:tuan_spec_show.modified(-1);get_delivery_fee()"></a>
											</div>
											<span class="mui-amount-unit">&nbsp;件</span>
										<em id="J_EmStock" class="tb-hidden" style="display: inline;">库存量 <label id="data_storeNums">{echo:$this->tuanData['store_nums']-$this->tuanData['sum_count']}</label>件</em>
										<span id="J_StockTips" class='red'></span>
										
									</dd>
								</dl>
							</div>
						</div>
					</div>
					
					
				</div>
			</div>
		</div>

		<!--购买区域-->
		<div class="current">
			{if:$store_nums <= 0}
				该团购已结束，不能购买，您可以看看其它商品！
			{else:}
            {if:$this->tuanData['type']<>2 || strtotime($this->tuanData['start_time']) < time()}
			<input class="submit_buy" type="button" id="buyNowButton" onclick="tuan_spec_show.buy_now();" value="立即购买" />
            {/if}
			{/if}
		</div>
		
		<div class="tm-ser tm-clear">
			<dl class="tm-clear">
				<dt class="tb-metatit">服务承诺</dt>
				<dd class="tm-laysku-dd">
				<ul class="tb-serPromise">
					{set:$config = new Config('site_config');}
					{set:$server_product = unserialize(IFilter::stripSlash($config->product_page))}
					{if:!empty($server_product)}
					{foreach:items=$server_product}
					<li>
						<a target="_blank"  href="{$item['link']}" target="_blank"> {$item['server_name']} </a>
					</li>
					{/foreach}
					{/if}
				</ul>
			</dl>
		</div>

	</div>
		<!--图片放大器-->
		<div class="tb-gallery">
		<div class="tb-booth" id='bigPic'>
				{if:$tag_data}
				{foreach:items=$tag_data}
				{set:$right=$key*60}
			 		<img src="{webroot:$item['img']}" style='right:{$right}px' class="mark">
				{/foreach}
			{/if}
			<a target="_blank" rel="nofollow" href="" >
			<span class="ks-imagezoom-wrap">		
			
				<img id="J_ImgBooth"  name="bigpro"  src="" style='cursor:crosshair;'>
				<span class="ks-imagezoom-lens" style="position: absolute; border:1px solid blue;left:1px;"></span>
			</span>
			</a>
		</div>
		<div id='detShow' class="ks-overlay ks-imagezoom-viewer" style="width: 435px; height: 435px; left: 480px; top: 20px;display:none;">
			<div id="detPic" class="ks-overlay-content">
				<img style="position: absolute; top: 0px; left: 0px;" src="">
			</div>
		</div>
		<ul id="J_UlThumb" class="tb-thumb tm-clear">
			{if:count($photo)!=0}
			{foreach:items=$photo}
			<li class="">
				<a href="#" onmouseover='showBig("{url:/pic/thumb/img/$item[img]/w/435/h/435}","{webroot:$item[img]}")'>
					<img src="{url:/pic/thumb/img/$item[img]/w/60/h/60}">
				</a>
			</li>
			{/foreach}
			{else:}
				<li class="">
					<a href="#" onclick='javascript:void(0)'>
						<img src="{skin:images/front/nopic_435_435.gif}">
					</a>
				</li>
			{/if}
		</ul>
		<div style="margin-top:10px;margin-left:50px;">			
			<!-- JiaThis Button BEGIN -->
				<style>
					.bdshare_popup_box{z-index:100000000;}
					.bdshare_dialog_box{z-index:100000000;}
					.bd_weixin_popup_bg{z-index:100000000;}
					.bd_weixin_popup{z-index:100000000;}
				</style>

				
			<div class="bdsharebuttonbox">
				<a href="#" class="bds_more" data-cmd="more">分享到：</a>
				<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">新浪微博</a>
			</div>
			<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{"bdSize":16}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

<!-- JiaThis Button END -->
			{set:$cls=isset($favorite_id_arr)&&in_array($id,$favorite_id_arr) ? 'guanzhu' : 'quguan'}
				<div class='{$cls}' onclick='favorite_add(this)' style="line-height:26px;position:absolute; left:300px;bottom:1px; padding-left:17px; " id="gz"><a href='javascript:void(0)' onclick='favorite_add(this)'>我的关注：({$favorite}人气)</a></div>
		</div>
	</div>

</div>
	
<script type='text/javascript'>
	$("#gz").click(function(){$(this).removeClass('quguan').addClass('guanzhu');});
</script>


{if:!empty($this->combineList)}
<!--组合销售开始-->

<!-- 遮罩层start -->
<div class="mask_layer" style="display:none;"></div>

    <div class="port_overlay" style="display:none;">     
       <a href="javascript:void('close')" class="overlay_close">
        <i style="background: url({skin:images/sales_img/close_g.png}) center no-repeat;}"></i>
       </a>
    
    <div class="overlay-content">
        
    <div class="portialog">
        <!-- <div class="portheader"></div>   -->
        <div class="port_body">
        <div class="port_title"><b>!</b>请选择套餐内的商品信息</div>
        <div class="port_scroll">
            <div id='combineInfoBox'></div>
            <script type='text/html' id='combineInfoTemplate'>
            <div class="port_item js_data_<%=id%>" <%if(combine_price && combine_price != '0.00'){%> js_data="<%=combine_price%>" <%}else{%>js_data="<%=sell_price%>" <%}%> js_product_id="0" js_goods_id="<%=id%>" >
                <div class="item_img"><a href="javascript:;" target="_blank" title="<%=name%>" alt="<%=name%>"><img src="{webroot:<%=img%>}"></a>
                </div>
                <div class="port_meta">                          
                    <div class="container">
                       <div class="demo">
                       
                           <div class="yListr">
                               <%if(spec_array){%>
                               <ul>
                                    <%for(var i in spec_array) {%>
                                    <li><span><%=spec_array[i].name%></span>
                                    <div class="yListr_flot">
                                    <%if(spec_array[i].type == 1){%>
                                    <%for(j = 0; j < spec_array[i].specVal.length; j ++) {%>
                                    <%if(spec_array[i].specVal.length == 1){%>
                                    <em class="yListrclickem allowed" onclick="spec_combine_show_obj.sele_spec(this, <%=id%>, <%=product%>);" value='{"id":"<%=spec_array[i].id%>","type":"<%=spec_array[i].type%>","value":"<%=spec_array[i].specVal[j]%>","name":"<%=spec_array[i].name%>"}'><%=spec_array[i].specVal[j]%><i style="background-image: url({skin:images/sales_img/righbt.png});"></i></em>
                                    <%}else{%>
                                    <em class="allowed" onclick="spec_combine_show_obj.sele_spec(this, <%=id%>, <%=product%>);" value='{"id":"<%=spec_array[i].id%>","type":"<%=spec_array[i].type%>","value":"<%=spec_array[i].specVal[j]%>","name":"<%=spec_array[i].name%>"}'><%=spec_array[i].specVal[j]%><i style="background-image: url({skin:images/sales_img/righbt.png});"></i></em>
                                    <%}%>
                                    <%}%>
                                   <%}else{%>
                                   <%for(j = 0; j < spec_array[i].specVal.length; j ++) {%>
                                    <%if(spec_array[i].specVal.length == 1){%>
                                    <em class="yListrclickem allowed" onclick="spec_combine_show_obj.sele_spec(this, <%=id%>, <%=product%>);" value='{"id":"<%=spec_array[i].id%>","type":"<%=spec_array[i].type%>","value":"<%=spec_array[i].specVal[j]%>","name":"<%=spec_array[i].name%>"}'><img src="{webroot:<%=spec_array[i].specVal[j]%>}"><i style="background-image: url({skin:images/sales_img/righbt.png});"></i></em>
                                    <%}else{%>
                                    <em class="allowed" onclick="spec_combine_show_obj.sele_spec(this, <%=id%>, <%=product%>);" value='{"id":"<%=spec_array[i].id%>","type":"<%=spec_array[i].type%>","value":"<%=spec_array[i].specVal[j]%>","name":"<%=spec_array[i].name%>"}'><img src="{webroot:<%=spec_array[i].specVal[j]%>}"><i style="background-image: url({skin:images/sales_img/righbt.png});"></i></em>
                                    <%}%>
                                    
                                    <%}%>
                                   
                                   <%}%>
                                   </div>
                                   </li>
                                   <%}%>
                               </ul>
                               <%}%>
                           </div>
                       </div>
                    </div>      
                </div>
             </div>
             </script>
        </div>    
     </div>    
   <!-- 底部结算栏start -->
         <div class="port_footer">         
             <div class="ft_buy">        购买<input id="J_SComboAmount" onblur="spec_combine_show_obj.count_price();" value="1">套         
                 <span class="ft_totalprice">合计<i>¥</i><s class="js_combine_price_data">0.00</s></span>         
                 <button class="J_ComboBuy js_buyNowButton" onclick="spec_combine_show_obj.buy_now(this);">确定购买套餐</button>
                 <!--<button class="J_ComboAddCart js_joinCarButton" onclick="spec_combine_show_obj.joinCart(this)" style="display: none;" >确定加入购物车</button> -->        
                 <span class="ft_notice"></span>     
         </div> </div>
         
      <!-- 底部结算栏end -->



        </div>
           </div>




        </div>
<!-- 遮罩层end -->
<script type="text/javascript">
    var _url = '{url:/site/getCombineInfo/}'
</script>
<div class="portfolio_sales">

<div class="portfolio">
  <div class="title cf">
 
    <ul class="title-list fr cf ">
        {set:$k=0}
        {foreach:$items=$this->combineList item=$combine}
        {set:$k=$k+1}
          <li {if:$k==1}class="on"{/if}>{$combine['name']}</li>
        {/foreach}
      <p><b></b></p>
    </ul>
  </div>
  <div class="product-wrap">
   <dl>
   {if:$this->goodsImg}
   <dd><a href="javascript:;"><img src="{url:/pic/thumb/img/$this->goodsImg['img']/w/60/h/60}" width="150" height="150" alt="" /></a></dd>
   {else:}
   <dd><a href="javascript:;"><img src="{skin:images/front/nopic_435_435.gif}" width="150" height="150" alt="" /></a></dd>
   {/if}
   <dd><p class="mt10"> <a href="javascript:;"> {$name} </a></p></dd>
   <dd>
   <input class="fuxuan" name="" type="checkbox" onclick="return false;" value="{$id}" checked>
   <p class="pb10">¥<b>{if:$combine_price && $combine_price != '0.00'}{$combine_price}{else:}{$sell_price}{/if}</b></p> </dd>       
  </dl>
  <dl class="jiahao">
  <dd><img src="{skin:images/sales_img/jiahao.jpg}" width="30" height="30" alt="加"></dd>
  </dl>
    {set:$k=0}
    {foreach:$items=$this->combineList item=$combine}
    {set:$k=$k+1}
    <div class="product js_post_data {if:$k==1} show {/if}" js_data="{$combine['id']}">
 

    <div class="friend">
    <div class="mr_frbox">
        
        <div class="mr_frUl">
            <ul id="mr_fu">
            {foreach:$items=$combine['goodsList'] item=$goods}
                <li><a href="{url:/site/products/id/$goods[id]}">
                <img src="{url:/pic/thumb/img/$goods[img]/w/85/h/85}" width="150" height="150" alt=""></a>
                <p class="mt10"> <a href="{url:/site/products/id/$goods[id]}">{$goods['name']} </a></p>
                <input class="fuxuan"  name="chooise" type="checkbox" value="{$goods['id']}" {if:$combine['type'] == 1}style="display:none;"{/if} checked="checked">
                <p class="pb10">¥<b>{if:$goods['combine_price'] && $goods['combine_price'] != '0.00'}{$goods['combine_price']}{else:}{$goods['sell_price']}{/if}</b></p>
                </li>
            {/foreach}
            </ul>
        </div>
         <div class="mr_frBtnR next"><img src="{skin:images/sales_img/imageNavLeft.gif}" width="50" height="30"></div>
    <div class="mr_frBtnL prev"><img src="{skin:images/sales_img/imageNavRight.gif}" width="50" height="30"></div>
       
    </div>
    
</div>
      
    </div>
    {/foreach}
      <div class="sales">
   <!--<a class="combo-price" href="javascript:;">套餐价：<i>¥</i><s>5326.00</s></a>-->
    
    <a class="liji js_show_chooice" href="javascript:;" js_data="{$id}">立即购买</a>
     <!--<a class="gouwu js_show_chooice" href="javascript:;" js_data="{$id}">加入购物车</a>-->
    
          </div>
  </div>
</div>

   </div>
{/if}
<script type="text/javascript">
         jQuery(".mr_frbox").slide({titCell:"",mainCell:".mr_frUl ul",autoPage:true,effect:"left",autoPlay:true,scroll:4,vis:4,trigger:"click"});
        
        </script>


<!--组合销售结束-->






<div class="wrapper clearfix container_2">

	<!--左边栏-->
	<div class="sidebar f_l">
		{if:isset($seller)}
		<!--商家-->
		<div class="box m_10">
			<div class="title"><a target='blank' href='{url:/site/home/id/$seller[id]}' target="_blank">{$seller['true_name']}</a></div>
			<div class="cont">
				<ul class="list">
					{set:$ave = statistics::getSellerGrade($seller['id']);$ave = $ave*70/5;}
					<li style='background:none;'>评分：<span class="grade"><i style="width:{$ave}px"></i></span></li>
					<li style='background:none;'>
					<a class="btn_blue bold" href="{url:/site/home/id/$seller[id]}" target="_blank">进入店铺</a>
					</li>
				</ul>
			</div>
		</div>
		{/if}
				<!--促销规则-->
		<div class="box m_10">
			<div class="title">促销活动</div>
			<div class="cont">
				<ul class="list">
				{foreach:items=$promotion}
					<li>{$item['info']}</li>
				{/foreach}
				</ul>
			</div>
		</div>
		<!--促销规则-->

		<!--购买推荐-->
		
		{if:isset($buyer_id) && $buyer_id}
				<div class="box m_10">
			<div class="title">购买本商品的用户还购买过</div>
			<div class="content" style='width:95%;'>
				<ul class="ranklist">
					{foreach:items=Api::run('getOrderGoodsByBuyerid',array('#buyer_id#',$buyer_id))}
										<li class="current">
						<a href="{url:/site/products/id/$item[id]}" target="_blank"><img width="58px" height="58px" src="{url:/pic/thumb/img/$item[img]/w/58/h/58}"></a>
						<a title="{$item['name']}" class="p_name" href="{url:/site/products/id/$item[id]}" target="_blank">{$item['name']}</a>
						<b>￥{$item['price']}</b>
					</li>
					{/foreach}
				</ul>
			</div>
		</div>
		{/if}
				<!--购买推荐-->

		<!--热卖商品-->
		<div class="box m_10">
			<div class="title">热卖商品</div>
			<div class="content" style='width:95%;'>
				<ul class="ranklist">
					{foreach:items=Api::run('getCommendHot')}
									<li class="current">
						<a href="{url:/site/products/id/$item[id]}" target="_blank"><img width="58px" height="58px" alt="苹果" src="{url:/pic/thumb/img/$item[img]/w/58/h/58}" /></a>
						<a title="{$item['name']}" class="p_name" href="{url:/site/products/id/$item[id]}" target="_blank">{$item['name']}</a>
						<b>￥{$item['sell_price']}</b>
					</li>
					{/foreach}
				</ul>
			</div>
		</div>
		<!--热卖商品-->
	</div>

	{include:layouts/goods_det.html}
</div>
<script type='text/javascript' src='{theme:javascript/area_show.js}'></script>
<script type="text/javascript">

$(function(){
//初始化购买数量
$('#buyNums').val(min_num);

//图片初始化
var goodsSmallPic = "{skin:images/front/nopic_435_435.gif}";
var goodsBigPic   = "{skin:images/front/nopic_435_435.gif}";

//存在图片数据时候
{if:isset($photo) && $photo}
goodsSmallPic = "{webroot:}{echo:Thumb::get($photo[0]['img'],435,435)}";
goodsBigPic   = "{webroot:}{$photo[0]['img']}";
{/if}
$('#J_ImgBooth').attr('src',goodsSmallPic);
$('#detShow img').attr('src',goodsBigPic);





//城市地域选择按钮事件
$('.sel_area').hover(
	function(){
		$('.area_box').show();
	},function(){
		$('.area_box').hide();
	}
);
$('.area_box').hover(
	function(){
		$('.area_box').show();
	},function(){
		$('.area_box').hide();
	}
);

//获取地址的ip地址
getAddress();

//生成商品价格
var priceHtml = template.render('priceTemplate',{"group_price":"{$group_price}","minSellPrice":"{$minSellPrice}","maxSellPrice":"{$maxSellPrice}","sell_price":"{$sell_price}","market_price":"{$market_price}"});
$('#price_panel').html(priceHtml);


//按钮绑定
$('[name="showButton"]>label').click(function(){
	$(this).siblings().removeClass('current');
	if($(this).hasClass('current') == false)
	{
		$(this).addClass('current');
	}
	$('[name="showBox"]>div').addClass('hidden');
	$('[name="showBox"]>div:eq('+$(this).index()+')').removeClass('hidden');
	var add = $('[name="showButton"]').find('.spec').length>0 ? 1 : 0;
	
			switch($(this).index())
			{
				case (1+add):
				{
					comment_ajax();
				}
				break;
		
				case (2+add):
				{
					history_ajax();
				}
				break;
		
				case (3+add):
				{
					refer_ajax(1,{$this->type});
				}
				break;
		
			}


});

});

//加载根据地域获取城市
function getAddress()
{
	//根据IP查询所在地
	var ipAddress = $.cookie('ipAddress');
	if(ipAddress)
	{
		searchDelivery(ipAddress);
	}
	else
	{
		$.getScript('http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js',function(){
			ipAddress = remote_ip_info['province'];
			$.cookie('ipAddress',ipAddress);
			searchDelivery(ipAddress);
		});
	}
}



/**
 * 根据省份获取运费信息
 * @param province 省份名称
 */
function searchDelivery(province)
{
	var url = '{url:/block/searchPrivice/random/@random@}';
	url = url.replace("@random@",Math.random);

	$.getJSON(url,{'province':province},function(json)
	{
		if(json.flag == 'success')
		{
			delivery(json.area_id,province);
		}
	});
}

/**
 * 计算运费
 * @param provinceId
 * @param provinceName
 */
/*function delivery(provinceId,provinceName)
{
	$('.sel_area').text(provinceName);

	var buyNums = $('#buyNums').val();
	var productId = $('#product_id').val();
	var goodsId = "{$id}";

	//通过省份id查询出配送方式，并且传送总重量计算出运费,然后显示配送方式
	var url = '{url:/block/order_delivery}';
	$.getJSON(url,{'province':provinceId,'goodsId':goodsId,'productId':productId,'num':buyNums,'random':Math.random},function(json)
	{
		//清空配送信息
		$('#deliveInfo').empty();

		for(var item in json)
		{
			var deliveRowHtml = template.render('deliveInfoTemplate',json[item]);
			$('#deliveInfo').append(deliveRowHtml);
		}
	});
}*/

/**
 * 获取评论数据
 * @page 分页数
 */
/*function comment_ajax(page)
{
	if(!page && $.trim($('#commentBox').text()))
	{
		return;
	}
	page = page ? page : 1;
	var url = '{url:/site/comment_ajax/page/@page@/goods_id/$id}';
	url = url.replace("@page@",page);
	$.getJSON(url,function(json)
	{
		//清空评论数据
		$('#commentBox').empty();

		for(var item in json.data)
		{
			var commentHtml = template.render('commentRowTemplate',json.data[item]);
			$('#commentBox').append(commentHtml);
		}
		$('#commentBox').append(json.pageHtml);
	});
}   */

/**
 * 获取购买记录数据
 * @page 分页数
 */
function history_ajax(page)
{
	if(!page && $.trim($('#historyBox').text()))
	{
		return;
	}
	page = page ? page : 1;
	var url = '{url:/site/history_ajax/page/@page@/goods_id/$id}';
	url = url.replace("@page@",page);
	$.getJSON(url,function(json)
	{
		//清空购买历史记录
		$('#historyBox').empty();
		$('#historyBox').parent().parent().find('.pages_bar').remove();

		for(var item in json.data)
		{
			var historyHtml = template.render('historyRowTemplate',json.data[item]);
			$('#historyBox').append(historyHtml);
		}
		$('#historyBox').parent().after(json.pageHtml);
	});
}

/**
 * 获取购买记录数据
 * @page 分页数
 */
function discuss_ajax(page)
{
	if(!page && $.trim($('#discussBox').text()))
	{
		return;
	}
	page = page ? page : 1;
	var url = '{url:/site/discuss_ajax/page/@page@/goods_id/$id}';
	url = url.replace("@page@",page);
	$.getJSON(url,function(json)
	{
		//清空购买历史记录
		$('#discussBox').empty();
		$('#discussBox').parent().parent().find('.pages_bar').remove();

		for(var item in json.data)
		{
			var historyHtml = template.render('discussRowTemplate',json.data[item]);
			$('#discussBox').append(historyHtml);
		}
		$('#discussBox').parent().after(json.pageHtml);
	});
}



/**
 * 规格的选择
 * @param _self 规格本身
 */









//添加收藏夹
function favorite_add(obj)
{
	{if:isset($this->user['user_id'])}
		$.getJSON('{url:/simple/favorite_add}',{'goods_id':{$id},'random':Math.random},function(content)
		{
			if(content.isError == false)
			{
				$(obj).text(content.message);
			}
			else
			{
				alert(content.message);
			}
		});
	{else:}
		window.location.href="{url:/simple/login/?callback=/site/products/id/$id}";
	{/if}
}

</script>
</div>

	