@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; list-style:none;}
ul, li, body, h2, h3, div, body, p{display: block;}
a{ text-decoration:none; color: #404040;}
ul{ list-style-type:none;}
body{ font-size:12px;}
img{ border:none;}



.portfolio_sales{width:1190px;height:305px; overflow:hidden; margin:30px auto;border: 1px solid #e5e5e5;}
/*public*/
.fl{display:inline;float:left}
.fr{display:inline;float:left;}
.cf:after{content:"";clear:both;display:block;height:0;overflow:hidden}
.cf{zoom:1}
.pb10{padding-bottom:0px;color:#E4393C; font-weight:bold; font-size:14px; display:block; line-height:26px;}
.mt10{line-height: 18px; 
color:#C8CFD6;
height:34px;
text-overflow: -o-ellipsis-lastline;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;
word-break:break-all; word-wrap:break-word;}

/*main*/
.portfolio_sales .portfolio{width:97%;margin:0 auto;background:#fff;padding:15px;/*box-shadow:0 0 10px #ccc;*/}
.portfolio_sales .portfolio .title{height:20px;border-bottom: 3px solid #e7e7e7;padding-bottom:10px;}
.portfolio_sales .portfolio .title h2{ font-size: 20px;font-family: "microsoft yahei";}
.portfolio_sales .portfolio .title-list{ position: relative; top: 6px;}
.portfolio_sales .portfolio .title-list li{ width: 146px; line-height: 20px; text-align: center; float: left; display: inline;}
.portfolio_sales .portfolio .title-list li.on{ color: #ff6600; font-weight: bold;}
.portfolio_sales .portfolio .title-list p{
	position: absolute;
	top: 24px;
	/*left: 2px;*/
	width: 146px;
	height: 7px;
	border-top: 3px solid #ff6600;
	overflow: hidden;
	text-align: center;
}
.portfolio_sales .portfolio .title-list b{display:inline-block;width:0;height:0;margin-top:-3px;border-style:solid dashed dashed dashed;border-width:9px;border-color: #ff6600 #fff #fff #fff;overflow: hidden;zoom: 1;font-size: 0;}
.product{ height: 233px; position: relative; overflow: hidden; display: none; margin-top: 20px; width:720px;}
.product ul{ position: absolute; left: 0px;}
.product-wrap .show{ display: block; width:720px;}
.product-wrap .product li{height: 211px; width:150px; float: left; display: inline; background: #f3f3f3;border: 2px solid #fafafa; transition:0.4s;-webkit-transition:0.4s;-moz-transition: 0.4s;-o-transition: 0.4s;-ms-transition: 0.4s;}
.product-wrap .product li.ml0{/*margin-left:0px;*/}
.product-wrap .product li a.imgwrap{ display: block; width: 150px; height: 150px; background: #fff; text-align:center;}
.product-wrap .product li p{/*padding-left: 15px;*//*color: #666666;*//*line-height: 22px;*/}
.product-wrap .product li p a{ color: #666666; text-decoration: none;}
.product-wrap .product li p a:hover{ color: #ff6600; text-decoration: none;}




/*shangxia滚动*/
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}
/* 轮播*/
.friend{height:220px;margin:0 auto;overflow:hidden;width:720px;}
.mr_frbox{height:220px;}
.mr_frUl{float:left;height:200px;width:650px;margin-left:10px;}
.mr_frUl ul li{display:inline;float:left;/*height:389px;*/width:150px;overflow:hidden;position:relative;margin-right:10px;}
.mr_frUl ul li a img{/*display:block;*/width:100%;}



.portfolio_sales .portfolio .product-wrap dl{float:left;margin-left:10px; border:#f3f3f3 solid 1px; height:211px;margin-top: 1px; width:150px; background:#f3f3f3;}
.portfolio_sales .portfolio .product-wrap .jiahao{border:none; margin:60px 25px 0 25px;; width:20px; height:20px;}
.portfolio_sales .portfolio .product-wrap dl dd .mt10 a:hover{ color:#ff6600;}
.portfolio_sales .portfolio .product-wrap dl dd .mt10 a{color: #666666;}
.portfolio_sales .portfolio .product-wrap .product.show .friend .mr_frbox .mr_frUl #mr_fu li form .fuxuan{
	width:16px;height:16px; margin-top:5px; float:left;margin-right:5px; }
.portfolio_sales .portfolio .product-wrap dl dd form .fuxuan{width:16px;height:16px; margin-top:5px; float:left; margin-right:5px; }
.portfolio_sales .portfolio .product-wrap .product .friend .mr_frbox .mr_frUl #mr_fu li form .fuxuan{
	width:16px;height:16px; margin-top:5px; float:left;margin-right:5px; }



.mr_frBtnR,.mr_frBtnL{  position:absolute; top:33px; z-index:99; cursor:pointer;filter:alpha(opacity=70); opacity:0.7;}
.mr_frBtnR{ cursor:pointer; float:inherit;display: block;position: absolute;
    right: 0px;}
.mr_frBtnL{float:inherit;cursor:pointer; margin-top: 60px;position: absolute;
    right: 0px;}

 .portfolio_sales .portfolio .product-wrap .sales{
    width: 18%;
    float: right;
    position: relative;
    left: 45px;
    bottom: 200px;
	}
.portfolio_sales .portfolio .product-wrap .sales .combo-price{
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    color: #c40000;
}
.portfolio_sales .portfolio .product-wrap .sales .combo-price i{font-family: arial,verdana,sans-serif!important;
    font-style: normal;
    font-size: 18px;
}
.portfolio_sales .portfolio .product-wrap .sales .combo-price s{text-decoration: none;
    font-weight: bolder;
    font-size: 18px;
}
.portfolio_sales .portfolio .product-wrap .sales .liji{background-color: #ffeded; margin-top: 30px;
    color: #c40000;border: 1px solid #df4050;
    cursor: pointer;
    outline: 0;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    font-weight: 700;
    width: 140px;
    text-align: center;
    display: block;
    /*margin: 10px 0;*/  }
.portfolio_sales .portfolio .product-wrap .sales .gouwu{background-color: #b70305;
    color: #fff;
    border: 1px solid #df4050;
    cursor: pointer;
    outline: 0;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    font-weight: 700;
    width: 140px;
    text-align: center;
    display: block;
    margin: 10px 0;
}