<link rel="stylesheet" href="{skin:css/qqkf.css}">
<div class="service">
		<ul class="w1190 clearfix">
			<!-- <li class="item1">
				<span class="t36">心</span>
				<span>正品购物优</span>
			</li>
			<li class="item2">
				<span class="t36">力</span>
				<span>送货达家中</span>
			</li>
			<li class="item3">
				<span class="t36">时</span>
				<span>同城当日达</span>
			</li>
			<li class="item4" style="width:100px">
				<span class="t36">事</span>
				<span>正品价更优</span>
			</li> -->
			<li><img src="{skin:images/footer.png}" style="border:0px;" width="1190px" height="109px"></li>
		</ul>
	</div>
<!-- help-->
<div class="help">
	<div class="w1190 clearfix">
		{set:$cls=array('help-new','help-delivery','help-pay','help-user','help-service');}
		{foreach:items=Api::run('getHelpCategoryFoot') item=$helpCat}
		<dl class="{$cls[$key]}">
			<dt class="t14">{$helpCat['name']}</dt>
			{foreach:items=Api::run('getHelpListByCatidAll',array('#cat_id#',$helpCat['id']))}
			{if:$item['link']!=''}
			<dd><a href="{url:$item['link']}" style='color:#333;'>{$item['name']}</a></dd>
			{else:}
			<dd><a href="{url:/site/help/id/$item[id]}" style='color:#333;'>{$item['name']}</a></dd>
			{/if}
						
			{/foreach}
		</dl>
		{/foreach}
		
		<div class="contact f-l">
			<div class="contact-border clearfix">
				<p>
					<span>山城速购APP</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>山城速购官方微信</span>
				</p>
				<p class="erweima">
					&nbsp;<img src="{skin:images/erweima.jpg}" style="width:80px;height:80px;">&nbsp;<img src="{skin:images/erweima.jpg}" style="width:80px;height:80px;" class="weixin">
				</p>
			</div>
		</div>
    </div>
</div>


<!-- help-->

<script type="text/javascript">
$(function()
{
		$('input:text[name="word"]').val("输入关键字...");

	$('input:text[name="word"]').bind({
		keyup:function(){autoComplete('/site/autoComplete','/search.html?word=@word@','');}
	});

	var mycartLateCall = new lateCall(200,function(){showCart('/simple/showCart')});

	//购物车div层
	$('.mycart').hover(
		function(){
			mycartLateCall.start();
		},
		function(){
			mycartLateCall.stop();
			$('#div_mycart').hide('slow');
		}
	);
	
	$("#jCat .list-item").hover(function(){
	    $(this).addClass("cat-hover");
	  	$(this).children(".cat-pop").show().append($('#nav-ad').clone().css('display','block'));
	  },function(){
		 $(this).removeClass("cat-hover");
		 $(this).children(".cat-pop").hide().find('#nav-ad').remove();
	});

	  $("#jSiteNavQuick li:first").hover(function(){
	    $(this).children("a").addClass("menu-hd-hover");
		$(this).children(".menu-bd").addClass("menu-bd-hover");
	  },function(){
		 $(this).children("a").removeClass("menu-hd-hover");
		$(this).children(".menu-bd").removeClass("menu-bd-hover");
	  });


	   $(".tab-title li").hover(function(){
	   	$(this).addClass('tab-title-hover').siblings().removeClass('tab-title-hover');
		var p= $(this).index();
		$(this).parent().parent().children(".tab-cnt").children(".tab-item").eq(p).show().siblings().hide();

	  });


});

//[ajax]加入购物车
function joinCart_ajax(id,url,type)
{
	$.getJSON(url,{"goods_id":id,"type":type,"random":Math.random()},function(content){
		if(content.isError == false)
		{
			var count = parseInt($('[name="mycart_count"]').html()) + 1;
			$('[name="mycart_count"]').html(count);
			$('.msgbox').hide();
			alert(content.message);
		}
		else
		{
			alert(content.message);
		}
	});
}

//列表页加入购物车统一接口
function joinCart_list(id)
{
	$.ajax({
		type:'post',
		async:true,
		data:{'id':id},
		dataType:'json',
		url:'{url:/simple/getProducts}',
		success:function(content){
			if(!content)
			{
				joinCart_ajax(id,'{url:/simple/joinCart}','goods');
			}
			else
			{
				var url = "{url:/block/goods_list/goods_id/@goods_id@/type/radio/is_products/1}";
				
				url = url.replace('@goods_id@',id);
				artDialog.open(url,{
					id:'selectProduct',
					title:'选择货品到购物车',
					okVal:'加入购物车',
					ok:function(iframeWin, topWin)
					{
						var goodsList = $(iframeWin.document).find('input[name="id[]"]:checked');
				
	
						//添加选中的商品
						if(goodsList.length == 0)
						{
							alert('请选择要加入购物车的商品');
							return false;
						}
						var temp = $.parseJSON(goodsList.attr('data'));

						//执行处理回调
						joinCart_ajax(temp.product_id,'{url:/simple/joinCart}','product');
						return true;
					}
				})
			}
			
		},
		error:function(){
			
		},
		complete: function(){
		
		}
	})

}
</script>

<div class="copyright" style="margin-top:0;">
	{echo:IFilter::stripSlash($siteConfig->site_footer_code)}
	
</div> 



<div class="bottom">
<div class="pic_link">
<a href="http://www.yqrtv.com/" target="_blank" rel="nofollow">
<img src="{skin:images/1yqtvt.jpg}" alt="">
</a>

<a href="https://online.unionpay.com/" target="_blank" rel="nofollow">
<img src="{skin:images/2wifiyq.png}" alt="">
</a>


<a href="https://online.unionpay.com/" target="_blank" rel="nofollow">
<img src="{skin:images/3xfz.png}" alt="">
</a>

<a href="https://online.unionpay.com/" target="_blank" rel="nofollow">
<img src="{skin:images/4gs.jpg}" alt="">
</a>

<a href="https://online.unionpay.com/" target="_blank" rel="nofollow">
<img src="{skin:images/5yl.jpg}" alt="">
</a>

<a href="https://online.unionpay.com/" target="_blank" rel="nofollow">
<img src="{skin:images/6alipay.jpg}" alt="">
</a>

<a href="http://www.yqccb.com/" target="_blank" rel="nofollow">
<img src="{skin:images/7yqbank.jpg}" alt="">
</a>


</div><br/></div>

<script type="text/javascript">

	

$(function () {
    $(window).scroll(function () {
        var scrollTop = $(document).scrollTop();
        var documentHeight = $(document).height();
        var windowHeight = $(window).height();
        var contentItems = $("#w1190").find(".item");
        var currentItem = "";

        if (scrollTop+windowHeight==documentHeight) {
            currentItem= "#" + contentItems.last().attr("id");
        }else{
            contentItems.each(function () {
                var contentItem = $(this);
                var offsetTop = contentItem.offset().top;
                if (scrollTop > offsetTop - 100) {//此处的100视具体情况自行设定，因为如果不减去一个数值，在刚好滚动到一个div的边缘时，菜单的选中状态会出错，比如，页面刚好滚动到第一个div的底部的时候，页面已经显示出第二个div，而菜单中还是第一个选项处于选中状态
                    currentItem = "#" + contentItem.attr("id");
                }
            });
        }
        if (currentItem != $("#floornav").find(".cur").attr("data")) {
            $("#floornav").find(".cur").removeClass("cur");
            $("#floornav").find("[data=" + currentItem + "]").addClass("cur");
        };

    });
});


window.onscroll = function () {
    if (document.documentElement.scrollTop + document.body.scrollTop > 500) {
        $("#floornav").fadeIn(300);
    }
    else {
        $("#floornav").fadeOut(300);
    }
}


$(function(){ $("#floornav a").click(function(){$("html,body").animate({scrollTop:$($(this).attr("data")).offset().top}, 500); }) });
</script>

{if:$this->isIndex}
<link type="text/css" rel="stylesheet" href="{skin:css/global_site_index_new.css}">
<!--楼层电梯 -->
<div class="floor_left_box" id="floornav" data-tpa="YHD_HOMEPAGE_FLOORNAV" style="display:none;">

<a href="#floor-1" data="#floor-1" rel="floor-1" class="cur">
<i class="left_iconfont ">猜你喜欢</i>
<em class="two_line">猜你喜欢</em>
</a>
{foreach:items=$categoryTop}
{set:$K=$key+2}
<a href="#floor-{$K}" data="#floor-{$K}" rel="floor-{$K}">
<i class="left_iconfont ">{$item['name']}</i>
<em class="two_line">{$item['name']}</em>
</a>
{/foreach}
{/if}
<!-- 
<a href="javascript:;" data="#toTop" rel="toTop">
<i class="left_iconfont ">返回顶部</i>
<em class="two_line">返回顶部</em>
</a> -->

</div> 

<script type="text/javascript" src="{theme:javascript/nav2.js}"></script>
<link rel="stylesheet" href="{skin:css/nav.css}" type="text/css">

		<div id="J-global-toolbar">
		<div class="toolbar-wrap J-wrap ">
			<div class="toolbar">
				<div class="toolbar-panels J-panel">
					<div style="visibility: hidden;" class="J-content toolbar-panel tbar-panel-follow">
						<h3 class="tbar-panel-header J-panel-header">
							<a href="#" target="_blank" class="title"> 
								<i><img src="{skin:images/ic4-4.png}"></i> 
								<em class="title">我的关注</em>
							</a> 
							<span class="close-panel J-close"></span>
						</h3>
						<div class="tbar-panel-main">
							<div style="height: 943px;" class="tbar-panel-content J-panel-content">
								<div class="jt-history-wrap">
									
									<ul>
										
										{if:isset($favorite_ids)&&$favorite_ids}
										{foreach:items=Api::run('getGoodsInfoByIds',array('#ids#',$favorite_ids))}
										
										<li class="jth-item"><a href="{url:/site/products/id/$item[goods_id]}" class="img-wrap"
											target="_blank"
											title="{$item['name']}"> <img
												src="{url:/pic/thumb/img/$item[img]/w/170/h/170}"
												height="100" width="100">
										</a> <a class="add-cart-button" href="javascript:void(0)" onclick='joinCart_ajax({$item["goods_id"]},"{url:/simple/joinCart}","goods")'>加入购物车</a>
											<a href="#" target="_blank" class="price">￥{$item['sell_price']}</a>
										</li>
										{/foreach}
										{/if}
									</ul>
									<a href="{url:/ucenter/favorite}" class="history-bottom-more" target="_blank">查看更多关注商品
										&gt;&gt;</a>
								</div>
							</div>
						</div>
						<div class="tbar-panel-footer J-panel-footer"></div>
					</div>
					<div style="visibility: hidden;" class="J-content toolbar-panel tbar-panel-history toolbar-animate-in">
						<h3 class="tbar-panel-header J-panel-header">
							<a href="#" target="_blank" class="title"> <i><img src="{skin:images/ic3-3.png}"></i> 
								<em class="title">我的足迹</em>
							</a> 
							<span class="close-panel J-close"></span>
						</h3>
						<div class="tbar-panel-main">
							<div style="height: 943px;" class="tbar-panel-content J-panel-content">
								<div class="jt-history-wrap">
									
									<ul>
										{if:$this->user}{set:$user_id = $this->user['user_id']}
										{else:}{set:$user_id = false;}
										{/if}
										{set:$history=user_like::get_user_history($user_id)}
										
										{if:$history}
										{foreach:items=$history}
										<li class="jth-item"><a href="{url:/site/products/id/$item[goods_id]}" class="img-wrap"
											target="_blank"
											title="{$item['name']}"> <img
												src="{url:/pic/thumb/img/$item[img]/w/170/h/170}"
												height="100" width="100">
										</a> <a class="add-cart-button" href="javascript:void(0)" onclick='joinCart_ajax({$item["goods_id"]},"{url:/simple/joinCart}","goods")'>加入购物车</a>
											<a href="#" target="_blank" class="price">￥{$item['sell_price']}</a>
										</li>
										{/foreach}
										{/if}
									</ul>
									<a href="{url:/ucenter/history}" class="history-bottom-more" target="_blank">查看更多足迹商品
										&gt;&gt;</a>
								</div>
							</div>
						</div>
						<div class="tbar-panel-footer J-panel-footer"></div>
					</div>
					<!--在线客服pannel-->
					<div style="visibility: hidden;" class="J-content toolbar-panel tbar-panel-chat">
						<h3 class="tbar-panel-header J-panel-header">
							<a href="#" target="_blank" class="title"> 
								<i></i> 
								<em class="title">在线客服</em>
							</a> 
							<span class="close-panel J-close"></span>
						</h3>
						<div class="tbar-panel-main">
							<div style="height: 943px;" class="tbar-panel-content J-panel-content">
								<div class="jt-online-wrap">
									<div class="n_bk">
									{set:$service=Sonline::getService()}
									{if:$service}
										<table  width="100%" >
											<col width="90px" />
											<col />
											{foreach:items=$service['qq']}
											<tr height='35'>
												<th align='right'>{$item['name']}：</th>
												<td style='padding-left:10px;'>
													<a target="_blank" href="{$item['link']}" >
														<img border="0"  src="{skin:images/qq.jpg}"/>
													</a>
												</td>
											</tr>
											{/foreach}
											
										</table>
										{/if}
									</div>
								</div>
							</div>
						</div>
						<div class="tbar-panel-footer J-panel-footer"></div>
					</div>
				</div>
				<div class="toolbar-header"></div>
				<div class="toolbar-tabs J-tab">
					<div class="toolbar-tab tbar-tab-user   ">
						<i class="tab-ico"></i>
						 <a target='blank' href='{url:/ucenter/}'>
						 	<img src="{skin:images/ic1.png}">
						 	<em class="tab-text "> 个人中心</em>
						 </a>
						<span class="tab-sub J-count hide">1</span>
					</div>
					<div class=" toolbar-tab tbar-tab-follow">
						<i class="tab-ico"></i> <img src="{skin:images/ic4.png}">
						<em class="tab-text">我的关注</em> 
						<span class="tab-sub J-count hide">0</span>
					</div>
					<div class=" toolbar-tab tbar-tab-history ">
						<i class="tab-ico"></i> <img src="{skin:images/ic3.png}"> <em class="tab-text">我的足迹</em> <span
							class="tab-sub J-count hide">0</span>
					</div>
					<div class=" toolbar-tab tbar-tab-chat ">
						<i class="tab-ico"></i><img src="{skin:images/ic2.png}"> <em class="tab-text">客服QQ</em> <span
							class="tab-sub J-count hide">0</span>
					</div>

				</div>
				<div class="toolbar-footer">
					<div class="toolbar-tab tbar-tab-top" id="tbar-tab-top">
						<a href="#"> 
							<i class="tab-ico"></i> 
						</a>
					</div>
					<a href="{url:/ucenter/complain}" target="_blank"> 
						<div class=" toolbar-tab tbar-tab-feedback">
							<i class="tab-ico"></i> 
							<em class="footer-tab-text ">反馈</em>
						</div>
					</a>
				</div>
				<div class="toolbar-mini"></div>
			</div>
			<div id="J-toolbar-load-hook"></div>
		</div>
	</div>







 
<div style="display: none; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; cursor: move; opacity: 0; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;"></div> 

<script type="text/javascript">
$('a').attr('target','_blank');
var _mvq = window._mvq || []; 
window._mvq = _mvq;
_mvq.push(['$setAccount', 'm-183213-0']);

_mvq.push(['$setGeneral', '', '', /*用户名*/ '', /*用户id*/ '']);//如果不传用户名、用户id，此句可以删掉
_mvq.push(['$logConversion']);
(function() {
	var mvl = document.createElement('script');
	mvl.type = 'text/javascript'; mvl.async = true;
	mvl.src = ('https:' == document.location.protocol ? 'https://static-ssl.mediav.com/mvl.js' : 'http://static.mediav.com/mvl.js');
	var s = document.getElementsByTagName('script')[0];
	s.parentNode.insertBefore(mvl, s); 
})();	

</script>
</body>

</html>