{include:layouts/head.html}


{if:!isset($this->isIndex)}
{if:$this->shangou}
	<div class="bn" id='shan_ad'>
			{echo:Ad::show("闪购top")}
	</div>
	<script type=text/javascript >$('#shan_ad').find('img').css('width','100%');</script>
{/if}
{if:$this->tuangou}
	<div class="bn" id='shan_ad'>
			{echo:Ad::show("团购top")}
	</div>
	<script type=text/javascript >$('#shan_ad').find('img').css('width','100%');</script>
{/if}
<div style='width:1190px;margin:5px auto;'>
	{viewcontent}
</div>
{else:}
	{viewcontent}
{/if}

<script type='text/javascript'>
	$('a').attr('target','_blank');
var anchors = document.getElementById("floornav").getElementsByTagName("a"); 
for(i=0;i<anchors.length;i++){ 
var anchor_item = anchors[i]; 
anchor_item.target="_self"; 
} 
</script>
<!-- 首页logo -->  
<script type='text/javascript'>
	$('a').attr('target','_blank');
	var anchors = $(".logo").getElementsByTagName("a"); 
	for(i=0;i<anchors.length;i++){ 
	var anchor_item = anchors[i]; 
	anchor_item.target="_self"; 
	} 
</script>
<!-- 首页七天退换货 -->
<script type='text/javascript'>
	$('a').attr('target','_blank');
	var anchors = $("#promise").getElementsByTagName("a"); 
	for(i=0;i<anchors.length;i++){ 
	var anchor_item = anchors[i]; 
	anchor_item.target="_self"; 
	} 
</script>
<!-- 商品搜索结果页筛选 -->
<script type='text/javascript'>
	$('a').attr('target','_blank');
	var anchors = $(".display_title").getElementsByTagName("a"); 
	for(i=0;i<anchors.length;i++){ 
	var anchor_item = anchors[i]; 
	anchor_item.target="_self"; 
	} 
	$('a').attr('target','_blank');
	var anchors = $(".box m_10").getElementsByTagName("a"); 
	for(i=0;i<anchors.length;i++){ 
	var anchor_item = anchors[i]; 
	anchor_item.target="_self"; 
	}
</script>
<!-- 帮助中心所有a -->
<script type='text/javascript'>
	$('a').attr('target','_blank');
	var anchors = $(".wrapper").getElementsByTagName("a"); 
	for(i=0;i<anchors.length;i++){ 
	var anchor_item = anchors[i]; 
	anchor_item.target="_self"; 
	} 
</script>
{include:layouts/footer.html}