{set:
	$myCartObj  = new Cart();
	$myCartInfo = $myCartObj->getMyCart();
	$siteConfig = new Config("site_config");
	$callback   = IReq::get('callback') ? urlencode(IFilter::act(IReq::get('callback'),'url')) : '';
	$categoryTop = Api::run('getCategoryListTop');
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>	
	<title>{echo:$siteConfig->name} </title>
	<link type="image/x-icon" href="http://www.#.com/site/favicon.ico" rel="icon">
	<link rel="stylesheet" href="{skin:css/public.css}">
	<link rel="stylesheet" href="{skin:css/index.css}">
	<link rel="stylesheet" href="{skin:css/h1.css}">
	<link rel="stylesheet" href="{skin:css/cssgrids-responsive.css}">
	<link rel="stylesheet" type="text/css" href="{skin:css/style.css}">
	<link rel="stylesheet" type="text/css" href="{skin:css/default.css}">
	<link rel="stylesheet" href="{skin:css/cssgrids-responsive.css}">
	<link rel="stylesheet" href="{skin:css/red.css}">
	<link rel="stylesheet" href="{skin:css/index1.css}">
	<LINK rel="stylesheet" type="text/css" href="{skin:css/css.css}">
	<link rel="stylesheet" href="{skin:css/PyoBeside.css}"/>
	
<script type="text/javascript" src="{theme:javascript/PyoBeside.js}"></script>
	<meta name="renderer" content="webkit">
	{js:jquery}
	{js:form}
	{js:validate}
	{js:dialog}
	{js:artTemplate}
	<script type='text/javascript' src="{theme:javascript/common.js}"></script>
	<script type='text/javascript' src='{theme:javascript/site.js}'></script>
	<script type="text/javascript"  src="{theme:javascript/nav.js}"></script>
	{set:$sonline = new Sonline();$sonline->show($siteConfig->phone,$siteConfig->service_online);}
	<meta name="keywords" content="{echo:$siteConfig->index_seo_keywords}">
	<meta name="description" content="{echo:$siteConfig->index_seo_description}"></head>
</head>
<body>
	
	<div class="" style="display: none; position: absolute;">
		<div class="aui_outer">
			<table class="aui_border">
				<tbody>
					<tr>
						<td class="aui_nw"></td>
						<td class="aui_n"></td>
						<td class="aui_ne"></td>
					</tr>
					<tr>
						<td class="aui_w"></td>
						<td class="aui_c">
							<div class="aui_inner">
								<table class="aui_dialog">
									<tbody>
										<tr>
											<td colspan="2" class="aui_header">
												<div class="aui_titleBar"><div class="aui_title" style="cursor: move; display: block;"></div>
													<a class="aui_close" href="javascript:/*artDialog*/;" style="display: block;">×</a>
												</div>
											</td>
										</tr>
										<tr>
											<td class="aui_icon" style="display: none;">
												<div class="aui_iconBg" style="background-image: none; background-position: initial initial; background-repeat: initial initial;"></div>
											</td>
											<td class="aui_main" style="width: auto; height: auto;">
												<div class="aui_content" style="padding: 20px 25px;"></div>
											</td></tr><tr><td colspan="2" class="aui_footer">
												<div class="aui_buttons" style="display: none;"></div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</td>
						<td class="aui_e"></td>
					</tr>
					<tr>
						<td class="aui_sw"></td>
						<td class="aui_s"></td>
						<td class="aui_se" style="cursor: se-resize;"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

<div style="background:#F15A24;">
	<div class="top"><div id="toTop"></div>
		<!--导航开始-->
		<div class="nav_z site-nav">

			<ul  class="cl sn-login" style="float:left;">
				<li style="width:242px;color:#fff;">
					{if:$this->user}
						{echo:$this->user['username']}您好，欢迎您来到{echo:$siteConfig->name}！
						[<a href="{url:/simple/logout}">安全退出</a>]
					{else:}
						您好，欢迎您来到{echo:$siteConfig->name}！
					<a href="{url:/simple/login?callback=$callback}">登录</a>
					<span class="split"></span>
					<a href="{url:/simple/reg?callback=$callback}">免费注册</a>
					{/if}
				</li>
			</ul>
			<ul id="navul" class="cl" style="float:right;margin-left:430px;">
				<li>
					<a href="{url:/ucenter/index}">个人中心</a>
					<ul>
						<li><a href="{url:/ucenter/order}">我的订单</a></li>
						<li><a href="{url:/ucenter/address}">我的收货地址</a></li>
						<li><a href="{url:/ucenter/integral}">我的积分</a></li>
						<li><a href="{url:ucenter/account_log}">我的资金</a></li>
					</ul>
				</li>
				<li>
					<a href="{url:/simple/seller}">申请开店</a>
				</li>
				<li>
					<a href="#">掌上山城</a>
					<ul>
						<li style="height:160px;width:140px;border:0;box-shadow: 0 1px 3px #ccc;"><a href="#"><img src="{skin:images/erweima1.png}"></a></li>
					</ul>
				</li>
				<li>
					<a href="{url:/site/help_list}">使用帮助</a>
					<ul>
						<li><a href="#">常见问题</a></li>
						<li><a href="#">支付帮助</a></li>
						<li><a href="#">配送范围</a></li>
					</ul>
				</li>
				<li>
					<a href="{url:/ucenter/index}">客户服务</a>
					<ul>
						<li><a href="#">在线客服</a></li>
						<li><a href="#">意见建议</a></li>
						<li><a href="#">售后服务</a></li>
						<li><a href="#">订单状态</a></li>
					</ul>
				</li>
				<li style="color:#fff;">关注我们:
				</li>
				<li  class="erwei">
					<a href="#" class="erwei" title="关注山城速购新浪微博"><img src="{skin:images/weixin1_01.png}"></a>
				</li>
				<li class="erwei">
					<a href="#" class="erwei" title="关注山城速购微信"><img src="{skin:images/weixin1_02.png}"></a>
					<ul>
						<li style="height:160px;width:140px;border:0;box-shadow: 0 1px 3px #ccc;"><a href="#"><img src="{skin:images/erweima1.png}"></a></li>
					</ul>
				</li>
				<!--可在此处直接添加导航-->
			</ul>
		</div><!--导航结束-->
		<script  type="text/javascript"> 
		$(".navbg").capacityFixed();
		</script>

	</div>

<!--导航-->
</div>	


<!--下拉广告图

<DIV class="advbox" >
	<DIV style="display: none;" class="dt_small">
		<DIV style="display: none;" class="dt_toBig"></DIV>
		{query:name=ad_manage as ad fields=ad.name,ad.link,ad.content where=position_id eq 20 item=$adData}
			
		{/query}
			<A href="{$adData['name']}" target="_blank"><IMG alt="jquery广告图片缩略图" src="{url:$adData['content']}" width="1190" ></A> 
	</DIV>
	<DIV class="dt_big">
		<DIV class="dt_toSmall"></DIV>
		{query:name=ad_manage as ad fields=ad.name,ad.link,ad.content where=position_id eq 19 item=$adBig}
			
		{/query}
		<A href="{$adBig['name']}" target="_blank">
			<IMG id="actionimg" alt="jquery广告图片大图" src="{url:$adBig['content']}" width="1190" ></A> 
	</DIV>
</DIV>
<SCRIPT type="text/javascript">
function AdvClick(){
	var a=1500;
	var b=3*1000;
	$(".dt_toSmall").click(function(){
		$(".dt_small").delay(a).slideDown(a);
		$(".dt_big").stop().slideUp(a);
		$(".dt_toSmall").stop().fadeOut(0);
		$(".dt_toBig").delay(a*2).fadeIn(0)
	});$(".dt_toBig").click(function(){
		$(".dt_big").delay(a).slideDown(a);
		$(".dt_small").stop().slideUp(a);
		$(".dt_toBig").stop().fadeOut(0);
		$(".dt_toSmall").delay(a*2).fadeIn(0)
	})
}

function AdvAuto(){
	if($(".dt_big").length>0){
		var a=1000;
		var b=3*500;
		$(".dt_big").delay(b).slideUp(a,function(){
			$(".dt_small").slideDown(a);
			$(".dt_toBig").delay(a).fadeIn(0)
		});
		$(".dt_toSmall").delay(b).fadeOut(0)
	}
}
$(document).ready(function(){
	AdvClick();
});
//顶部通览可展开收起效果
if($("#actionimg").length>0){	
	$("#actionimg").onload=AdvAuto();
}
</SCRIPT>

下拉广告图-->
<!--search-->
<div class="search">
	<!--w1190 clearfix-->
	<div class="w1190 clearfix">
		<!--logo-->
		<div class="logo">
			<a href="{url:/}" class="go-home">
				<img src="{skin:images/logo.png}" alt="" class="png">
			</a>
		</div>
		<!--logo-->

		<!--cart f-r-->
		<div class="cart f-r mycart" id="jCart">
			<span class="cart-count"><span name="mycart_count">{$myCartInfo['count']}</span></span>
			<a href="{url:/simple/cart}" class="cart-buying"><span class="cart-account">去购物车结算</span></a>
			
		</div>
		
		<!--cart f-r-->

		<!--s-box f-r-->
		<div class="s-box f-r">
			<!--s-main-->
			<form method="get" action="{url:/}">
			<input type="hidden" name="controller" value="site">
			<input type="hidden" name="action" value="search_list">
			<div class="s-main">
				<input class="ipt-key" type="text" name="word" autocomplete="off" value="输入关键字...">
				<input class="btn-search" type="submit" style='cursor:pointer;' value="搜索" onclick="checkInput(&#39;word&#39;,&#39;输入关键字...&#39;);">
			</div>
			</form>
			<!--s-main-->
			<!--kw-suggest-->
			<div class="kw-suggest">
				{foreach:items=Api::run('getKeywordList')}
				<a href="{url:/site/search_list/word/$item['word']}">{$item['word']}</a>
				{/foreach}
			</div>
			<!--kw-suggest-->
		</div>
		<!--s-box f-r-->

	</div>
	<!--w1190 clearfix-->
</div>
<!--search-->

<!--nav-->
<div class="nav">
	<!--w1190 nav-main-->
	<div class="w1190 nav-main">
		<!--nav-cat-pos-->
		<div class="nav-cat-pos">
			<!--category-->
			<div class="category " id="jCat">
				<h2 class="cat-title"><a class="t14" href="">全部商品分类<b class="png"></b></a></h2>
				<!--cat-list-->
				{set:$hideCls='';}{if:!isset($this->isIndex)}{set:$hideCls='hide';}{/if}<!--非首页分类面板隐藏-->
				<ul class="cat-list {$hideCls}">
				{set:$hotCat=array();}
				{foreach:items=$categoryTop key=$keyT item=$valT}
				{set:$k=$keyT+1;}
					<li class="list-item">
						<h3 class="cat-type-{$k}">
							<a href="{url:/site/pro_list/cat/$valT[id]}">{$valT['name']}</a>
						</h3>
						<p class="cat-rcmd">
							{set:$secondCat=Api::run('getCategoryByParentid',array('#parent_id#',$valT['id']))}
							{foreach:items=$secondCat key=$keyS item=$valS}
							<a href="{url:/site/pro_list/cat/$valS[id]}">{$valS['name']}</a>
							{/foreach}
						</p>

		                    <div class="cat-pop" style="display: none;">
			                    <!--cat-layer-->
								<div class="cat-layer clearfix ">
			                        <ul class="cat-col">
			                        	{foreach:items=$secondCat key=$keyS item=$valS}
											{if:$valS['hot']==1}
											{set:$hotCat[$valT['id']][] = $valS;}
											{/if}
										
										<li class="cat-item">
			                        		<h3 class="level-title"><a href="{url:/site/pro_list/cat/$valS[id]}">{$valS['name']}</a></h3>
			                     			   <p class="level-list clearfix">
			                     			   	{foreach:items=Api::run('getCategoryByParentid',array('#parent_id#',$valS['id'])) key=$keyG item=$valG}
												{if:$valG['hot']==1}
													{set:$hotCat[$valT['id']][] = $valG;}
												{/if}	
															<a href="{url:/site/pro_list/cat/$valG[id]}">{$valG['name']}</a>
												{/foreach}
									           </p>
	                     				  </li>
										  {/foreach}
	                  				 </ul>
								</div>
								<!--cat-layer-->
                   		 </div>
			     	 </li>
					 {/foreach}
					</ul>
	
		  </div>
			<!--category-->
		</div>
		<!--nav-cat-pos-->

		<!--nav-cnt-->
		<div class="nav-cnt">
			{foreach:items=Api::run('getGuideList')}
						<li class="nav-item"><a href="{url:$item['link']}">{$item['name']}</a></li>
			{/foreach}			
		</div>
		<!--nav-cnt-->

	</div>
	<!--w1190 nav-main-->
</div>
<!--nav-->
{if:!isset($this->isIndex)}
<div style='width:1190px;margin:5px auto;'>
	{viewcontent}
</div>
{else:}
	{viewcontent}
{/if}

<div class="service">
		<ul class="w1190 clearfix">
			<li class="item1">
				<p class="t18">正品优选</p>
				<span>共享集团供应链</span>
			</li>
			<li class="item2">
				<p class="t18">私人定制 </p>
				<span>特色服务 品质保证</span>
			</li>
			<li class="item3">
				<p class="t18">售后无忧 </p>
				<span>7天无理由退货</span>
			</li>
			<li class="item4">
				<p class="t18">郊区次日达 </p>
				<span>专业物流 及时送达</span>
			</li>
			<li class="item5">
				<p class="t18">满79包邮 </p>
				<span>轻松购物 超值贴心</span>
			</li>
		</ul>
	</div>
<!-- help-->
<div class="help">
	<div class="w1190 clearfix">
		{set:$cls=array('help-new','help-delivery','help-pay','help-user','help-service');}
		{foreach:items=Api::run('getHelpCategoryFoot') item=$helpCat}
		<dl class="{$cls[$key]}">
			<dt class="t14">{$helpCat['name']}</dt>
			{foreach:items=Api::run('getHelpListByCatidAll',array('#cat_id#',$helpCat['id']))}
						<dd><a href="{url:/site/help/id/$item[id]}">{$item['name']}</a></dd>
			{/foreach}
		</dl>
		{/foreach}
		
		<div class="contact f-l">
			<div class="contact-border clearfix">
				<p>
					<span>山城速购APP</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>山城速购官方微信</span>
				</p>
				<p class="erweima">
					&nbsp;<img src="{skin:images/erweima.png}" style="width:80px;height:80px;">&nbsp;<img src="{skin:images/erweima.png}" style="width:80px;height:80px;" class="weixin">
				</p>
			</div>
		</div>
    </div>
</div>


<!-- help-->

<script type="text/javascript">
$(function()
{
		$('input:text[name="word"]').val("输入关键字...");

	$('input:text[name="word"]').bind({
		keyup:function(){autoComplete('/site/autoComplete','/search.html?word=@word@','');}
	});

	var mycartLateCall = new lateCall(200,function(){showCart('/simple/showCart')});

	//购物车div层
	$('.mycart').hover(
		function(){
			mycartLateCall.start();
		},
		function(){
			mycartLateCall.stop();
			$('#div_mycart').hide('slow');
		}
	);


	 	 


	   $("#jCat .list-item").hover(function(){
	    $(this).addClass("cat-hover");
	  	$(this).children(".cat-pop").show();
	  },function(){
		 $(this).removeClass("cat-hover");
		 $(this).children(".cat-pop").hide();
	  });

	  $("#jSiteNavQuick li:first").hover(function(){
	    $(this).children("a").addClass("menu-hd-hover");
		$(this).children(".menu-bd").addClass("menu-bd-hover");
	  },function(){
		 $(this).children("a").removeClass("menu-hd-hover");
		$(this).children(".menu-bd").removeClass("menu-bd-hover");
	  });


	   $(".tab-title li").hover(function(){
	   	$(this).addClass('tab-title-hover').siblings().removeClass('tab-title-hover');
		var p= $(this).index();
		$(this).parent().parent().children(".tab-cnt").children(".tab-item").eq(p).show().siblings().hide();

	  });


});

//[ajax]加入购物车
function joinCart_ajax(id,type)
{
	$.getJSON("/simple/joinCart",{"goods_id":id,"type":type,"random":Math.random()},function(content){
		if(content.isError == false)
		{
			var count = parseInt($('[name="mycart_count"]').html()) + 1;
			$('[name="mycart_count"]').html(count);
			$('.msgbox').hide();
			alert(content.message);
		}
		else
		{
			alert(content.message);
		}
	});
}

//列表页加入购物车统一接口
function joinCart_list(id)
{
	$.getJSON('/simple/getProducts',{"id":id},function(content){
		if(!content)
		{
			joinCart_ajax(id,'goods');
		}
		else
		{
			var url = "/block/goods_list/goods_id/@goods_id@/type/radio/is_products/1";
			url = url.replace('@goods_id@',id);
			artDialog.open(url,{
				id:'selectProduct',
				title:'选择货品到购物车',
				okVal:'加入购物车',
				ok:function(iframeWin, topWin)
				{
					var goodsList = $(iframeWin.document).find('input[name="id[]"]:checked');

					//添加选中的商品
					if(goodsList.length == 0)
					{
						alert('请选择要加入购物车的商品');
						return false;
					}
					var temp = $.parseJSON(goodsList.attr('data'));

					//执行处理回调
					joinCart_ajax(temp.product_id,'product');
					return true;
				}
			})
		}
	});
}
</script>

<div class="copyright">
<div class="footer" style="text-align:center"><p class="links"><a href="">关于我们</a>|<a href="">联系我们</a>|<a href="">商城公告</a>|<a href="">意见反馈</a>|<a href="">诚聘英才</a>|<a href="">友情链接</a></p><p>阳泉广电传媒电子商务有限公司&nbsp;版权所有&nbsp;经营许可证编号:XXXXXXXXXXX&nbsp;备案许可证:XXXXXXX</p><p class="copyright">Powered by <a href="#">阳泉广电传媒电子商务有限公司</a></p>Copyright © 2005-2014 <a class="copyys" target="_blank" href="http://www.miibeian.gov.cn/">晋ICP备01000010号</a></div></div> 



<div class="bottom">
<div class="pic_link">
<a href="https://online.unionpay.com/" target="_blank" rel="nofollow">
<img src="{skin:images/CgMBmVDzwyaAaIMBAAAJZgSEr6I65200.jpg}" alt="">
</a>

<a href="https://online.unionpay.com/" target="_blank" rel="nofollow">
<img src="{skin:images/CgMBmVLfYZGALWNHAAAOxFbda9472600.gif}" alt="">
</a>

<a href="https://online.unionpay.com/" target="_blank" rel="nofollow">
<img src="{skin:images/CgQCr1Dzwj2AVUL0AAA-ic2BxNw39500.jpg}" alt="">
</a>

<a href="https://online.unionpay.com/" target="_blank" rel="nofollow">
<img src="{skin:images/CgQCrlPYTqCASlHXAAAd82JE0eA31000.png}" alt="">
</a>

<a href="https://online.unionpay.com/" target="_blank" rel="nofollow">
<img src="{skin:images/CgQCtlDzwg-ADxhpAABCSLsmSeE68100.jpg}" alt="">
</a>

<a href="https://online.unionpay.com/" target="_blank" rel="nofollow">
<img src="{skin:images/CgQI0FV6Ug2AWBFSAAASB0seI2g11300.jpg}" alt="">
</a>

<a href="https://online.unionpay.com/" target="_blank" rel="nofollow">
<img src="{skin:images/CgMBmVDzwyaAaIMBAAAJZgSEr6I65200.jpg}" alt="">
</a>

<a href="https://online.unionpay.com/" target="_blank" rel="nofollow">
<img src="{skin:images/CgQCr1Dzwj2AVUL0AAA-ic2BxNw39500.jpg}" alt="">
</a>

<a href="https://online.unionpay.com/" target="_blank" rel="nofollow">
<img src="{skin:images/CgQCtlDzwg-ADxhpAABCSLsmSeE68100.jpg}" alt="">
</a>

<a href="https://online.unionpay.com/" target="_blank" rel="nofollow">
<img src="{skin:images/CgQCrlPYTqCASlHXAAAd82JE0eA31000.png}" alt="">
</a>
</div><br/></div>

<script type="text/javascript">

	

$(function () {
    $(window).scroll(function () {
        var scrollTop = $(document).scrollTop();
        var documentHeight = $(document).height();
        var windowHeight = $(window).height();
        var contentItems = $("#w1190").find(".item");
        var currentItem = "";

        if (scrollTop+windowHeight==documentHeight) {
            currentItem= "#" + contentItems.last().attr("id");
        }else{
            contentItems.each(function () {
                var contentItem = $(this);
                var offsetTop = contentItem.offset().top;
                if (scrollTop > offsetTop - 100) {//此处的100视具体情况自行设定，因为如果不减去一个数值，在刚好滚动到一个div的边缘时，菜单的选中状态会出错，比如，页面刚好滚动到第一个div的底部的时候，页面已经显示出第二个div，而菜单中还是第一个选项处于选中状态
                    currentItem = "#" + contentItem.attr("id");
                }
            });
        }
        if (currentItem != $("#floornav").find(".cur").attr("data")) {
            $("#floornav").find(".cur").removeClass("cur");
            $("#floornav").find("[data=" + currentItem + "]").addClass("cur");
        };

    });
});


window.onscroll = function () {
    if (document.documentElement.scrollTop + document.body.scrollTop > 500) {
        $("#floornav").fadeIn(300);
    }
    else {
        $("#floornav").fadeOut(300);
    }
}


$(function(){ $("#floornav a").click(function(){$("html,body").animate({scrollTop:$($(this).attr("data")).offset().top}, 500); }) });
</script>

{if:$this->isIndex}
<link type="text/css" rel="stylesheet" href="{skin:css/global_site_index_new.css}">
<!--楼层电梯 -->
<div class="floor_left_box" id="floornav" data-tpa="YHD_HOMEPAGE_FLOORNAV" style="display:none;">

<a href="#floor-0" data="#floor-0" rel="floor-0" class="cur">
<i class="left_iconfont ">猜你喜欢</i>
<em class="two_line">猜你喜欢</em>
</a>
{foreach:items=$categoryTop}
{set:$K=$key+1}
<a href="#floor-{$K}" data="#floor-{$K}" rel="floor-{$K}">
<i class="left_iconfont ">{$item['name']}</i>
<em class="two_line">{$item['name']}</em>
</a>
{/foreach}
{/if}
<!-- 
<a href="javascript:;" data="#toTop" rel="toTop">
<i class="left_iconfont ">返回顶部</i>
<em class="two_line">返回顶部</em>
</a> -->

</div> 



<!--悬浮导航-->


<!--jdgaofang-->

<script type="text/javascript" src="{theme:javascript/nav (2).js}"></script>
<link rel="stylesheet" href="{skin:css/nav.css}" type="text/css">

	<div id="J-global-toolbar">
		<div class="toolbar-wrap J-wrap ">
			<div class="toolbar">
				<div class="toolbar-panels J-panel">
					<div style="visibility: hidden;display:hidden;" class="J-content toolbar-panel tbar-panel-cart toolbar-animate-out">
						<h3 class="tbar-panel-header J-panel-header">
							<a href="" target="_blank" class="title"> <i></i>
							 <em class="title">购物车</em>
							</a> 
							<span class="close-panel J-close"></span>
						</h3>
						<div class="tbar-panel-main">
							<div style="height: 893px;"
								class="tbar-panel-content J-panel-content">
								<div id="J-cart-tips" class="tbar-tipbox hide">
									<div class="tip-inner">
										<span class="tip-text">还没有登录，登录后商品将被保存</span> <a href="#none"
											class="tip-btn J-login">登录</a>
									</div>
								</div>
								<div id="J-cart-render">
									<div class="tbar-cart-list">
										<div class="tbar-cart-item" >
											<div class="jtc-item-promo">
												<em class="promo-tag promo-mz">满赠<i class="arrow"></i></em>
												<div class="promo-text">已购满600元，您可领赠品</div>
											</div>
											<div class="jtc-item-goods">
												<span class="p-img"> <a href="#" target="_blank">
														<img
														src="http://img14.360buyimg.com/n5/g10/M00/00/14/rBEQWFEAilIIAAAAAACGm9ueTbUAAAH7gB8kskAAIaz106.jpg"
														alt="美的（Midea） BCD-206TM(E) 206升静音/省电/三门冰箱（闪白银）"
														height="50" width="50">
												</a>
												</span>
												<div class="p-price">
													<strong>¥1398.00</strong>×1
												</div>
												<a href="#none" class="p-del J-del">删除</a>
											</div>
										</div>
										<div class="tbar-cart-item" >
											<div class="jtc-item-promo">
												<em class="promo-tag promo-mz">满赠<i class="arrow"></i></em>
												<div class="promo-text">已购满600元，您可领赠品</div>
											</div>
											<div class="jtc-item-goods">
												<span class="p-img"> <a href="#" target="_blank">
														<img
														src="http://img14.360buyimg.com/n5/g10/M00/00/14/rBEQWFEAilIIAAAAAACGm9ueTbUAAAH7gB8kskAAIaz106.jpg"
														alt="美的（Midea） BCD-206TM(E) 206升静音/省电/三门冰箱（闪白银）"
														height="50" width="50">
												</a>
												</span>
												<div class="p-price">
													<strong>¥1398.00</strong>×1
												</div>
												<a href="#none" class="p-del J-del">删除</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tbar-panel-footer J-panel-footer">
							<div class="tbar-checkout">
								<div class="jtc-number">
									<strong class="J-count">0</strong>件商品
								</div>
								<div class="jtc-sum">
									共计：<strong class="J-total">¥113</strong>
								</div>
								<a class="jtc-btn J-btn" href="#none" target="_blank">去购物车结算</a>
							</div>
						</div>
					</div>
					<!-- hidden -->
					<div style="visibility: hidden;" data-name="follow"
						class="J-content toolbar-panel tbar-panel-follow">
						<h3 class="tbar-panel-header J-panel-header">
							<a href="#" target="_blank" class="title"> 
								<i><img src="{skin:images/ic4-4.png}"></i> 
								<em class="title">我的关注</em>
							</a> <span class="close-panel J-close"></span>
						</h3>
						<div class="tbar-panel-main">
							<div class="tbar-panel-content J-panel-content">
								<div class="tbar-tipbox2">
									<div class="tip-inner">
										<i class="i-loading"></i>
									</div>
								</div>
							</div>
						</div>
						<div class="tbar-panel-footer J-panel-footer"></div>
					</div>
					<div style="visibility: hidden;" class="J-content toolbar-panel tbar-panel-history toolbar-animate-in">
						<h3 class="tbar-panel-header J-panel-header">
							<a href="#" target="_blank" class="title"> <i><img src="{skin:images/ic3-3.png}"></i> 
								<em class="title">我的足迹</em>
							</a> 
							<span class="close-panel J-close"></span>
						</h3>
						<div class="tbar-panel-main">
							<div style="height: 943px;"
								class="tbar-panel-content J-panel-content">
								<div class="jt-history-wrap">
									<ul>
										<li class="jth-item"><a href="#" class="img-wrap"
											target="_blank"
											title="小天鹅 （Little Swan） TP65-S602 6.5公斤 半自动双缸洗衣机（白色）"> <img
												src="http://img10.360buyimg.com/n0/s100x100_g9/M03/0C/18/rBEHalCKCk8IAAAAAAD5nbR5xOAAACfgQENi_wAAPm1269.jpg"
												height="100" width="100">
										</a> <a class="add-cart-button" href="#" target="_blank">加入购物车</a>
											<a href="#" target="_blank" class="price">￥498.00</a>
										</li>
										<li class="jth-item"><a href="#" class="img-wrap"
											target="_blank"
											title="小天鹅 （Little Swan） TP65-S602 6.5公斤 半自动双缸洗衣机（白色）"> <img
												src="http://img10.360buyimg.com/n0/s100x100_g9/M03/0C/18/rBEHalCKCk8IAAAAAAD5nbR5xOAAACfgQENi_wAAPm1269.jpg"
												height="100" width="100">
										</a> <a class="add-cart-button" href="#" target="_blank">加入购物车</a>
											<a href="#" target="_blank" class="price">￥498.00</a>
										</li>
									</ul>
									<a href="#" class="history-bottom-more" target="_blank">查看更多足迹商品
										&gt;&gt;</a>
								</div>
							</div>
						</div>
						<div class="tbar-panel-footer J-panel-footer"></div>
					</div>
				</div>
				<div class="toolbar-header"></div>
				<div class="toolbar-tabs J-tab">
					<div class="toolbar-tab tbar-tab-user   ">
						<i class="tab-ico"></i> <img src="{skin:images/ic1.png}">
						 <em class="tab-text "> 个人中心</em>
						<span class="tab-sub J-count hide">1</span>
					</div>
					<div class=" toolbar-tab tbar-tab-follow">
						<i class="tab-ico"></i> <img src="{skin:images/ic4.png}">
						<em class="tab-text">我的关注</em> 
						<span class="tab-sub J-count hide">0</span>
					</div>
					<div class=" toolbar-tab tbar-tab-history ">
						<i class="tab-ico"></i> <img src="{skin:images/ic3.png}"> <em class="tab-text">我的足迹</em> <span
							class="tab-sub J-count hide">0</span>
					</div>
					<div class=" toolbar-tab tbar-tab-chat ">
						<i class="tab-ico"></i><img src="{skin:images/ic2.png}"> <em class="tab-text">客服QQ</em> <span
							class="tab-sub J-count hide">0</span>
					</div>

				</div>
				<div class="toolbar-footer">
					<div class="toolbar-tab tbar-tab-top" id="tbar-tab-top">
						<a href="#"> 
							<i class="tab-ico"></i> 
							<em class="footer-tab-text">顶部</em>
						</a>
					</div>
					<div class=" toolbar-tab tbar-tab-feedback">
						<a href="#" target="_blank"> 
							<i class="tab-ico"></i> 
							<em class="footer-tab-text ">反馈</em>
						</a>
					</div>
				</div>
				<div class="toolbar-mini"></div>
			</div>
			<div id="J-toolbar-load-hook"></div>
		</div>
	</div>






<script type="text/javascript">
$(function()
{
		$('input:text[name="word"]').val("输入关键字...");

	$('input:text[name="word"]').bind({
		keyup:function(){autoComplete('/site/autoComplete','/search.html?word=@word@','');}
	});

	var mycartLateCall = new lateCall(200,function(){showCart('/simple/showCart')});

	//购物车div层
	$('.mycart').hover(
		function(){
			mycartLateCall.start();
		},
		function(){
			mycartLateCall.stop();
			$('#div_mycart').hide('slow');
		}
	);


	   $("#jCat .list-item").hover(function(){
	    $(this).addClass("cat-hover");
	  	$(this).children(".cat-pop").show();
	  },function(){
		 $(this).removeClass("cat-hover");
		 $(this).children(".cat-pop").hide();
	  });

	  $("#jSiteNavQuick li:first").hover(function(){
	    $(this).children("a").addClass("menu-hd-hover");
		$(this).children(".menu-bd").addClass("menu-bd-hover");
	  },function(){
		 $(this).children("a").removeClass("menu-hd-hover");
		$(this).children(".menu-bd").removeClass("menu-bd-hover");
	  });


	   $(".tab-title li").hover(function(){
	   	$(this).addClass('tab-title-hover').siblings().removeClass('tab-title-hover');
		var p= $(this).index();
		$(this).parent().parent().children(".tab-cnt").children(".tab-item").eq(p).show().siblings().hide();

	  });


});



</script>
 
<div style="display: none; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; cursor: move; opacity: 0; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;"></div> 


</body>
</html>