<article class="module width_full">
    <header>
        <h3 class="tabs_involved">组合列表</h3>
        <ul class="tabs">
            <li><input type="button" class="alt_btn" onclick="window.location.href='{url:/seller/combine_edit}';" value="添加组合" /></li>
        </ul>
    </header>

    <form action="" method="post" name="goodsForm">
        <table class="tablesorter" cellspacing="0">
            <colgroup>
                <col width="25%" />
                <col />
                <col width="10%" />
                <col width="10%" />
                <col width="15%" />
                <col width="15%" />
            </colgroup>

            <thead>
                <tr>
                    <th>组合名称</th>
                    <th>主商品</th>
                    <th>状态</th>      
                    <th>类型</th> 
                    <th>排序</th>     
                    <th>操作</th>
                </tr>
            </thead>

            <tbody>
                {set:$list = array()}
                {query: name = goods}
                    {set:$list[$item['id']] = $item['name']}
                {/query}
                {foreach:items=$this->QB->find()}
                <tr>
                    <td>{$item['name']}</td>
                    <td>{$list[$item['goods_id']]}</td>
                    <td>
                    {if:$item['status']=='1'}<span class="green">可用</span>{else:}<span class="red">不可用</span>{/if}
                    </td>
                    <td>
                    {if:$item['type']=='1'}<span class="green">固定搭配</span>{else:}<span class="brown">自由搭配</span>{/if}
                    </td>
                    <td><input class="tiny" type="text" id="sort{$item['id']}" value="{$item['sort']}" onblur="toSort({$item['id']});" /></td>
                    <td>
                        <a href="{url:/seller/combine_edit/cid/$item[id]}"><img src="{skin:images/main/icn_edit.png}" title="编辑" /></a>
                        <a href="javascript:delModel({link:'{url:/seller/combine_del/cid/$item[id]}'})"><img src="{skin:images/main/icn_del.png}" title="删除" /></a>
                    </td>
                </tr>
                {/query}
            </tbody>
        </table>
    </form>
    {$this->QB->getPageBar()}
</article>
<script language="javascript">
//排序
function toSort(id)
{
	if(id!='')
	{
		var va = $('#sort'+id).val();
		var part = /^\d+$/i;
		if(va!='' && va!=undefined && part.test(va))
		{
			$.get("{url:/seller/combine_sort}",{'id':id,'sort':va}, function(data)
			{
				if(data=='1')
				{
					alert('修改组合排序成功!');
				}else
				{
					alert('修改组合排序错误!');
				}
			});
		}
	}
}

</script>