{set:$comment=$this->comment;}
<style type="text/css">
    .pthf{
        color:#13BFF3;
    }
    .js_show_big_photo{
        width: 50px; height: 50px; border: 2px solid #F0F0F0;
    }
    .js_show_big_photo:hover{
         border: 2px solid #FF6600;
    }
</style>
<article class="module width_full">
	<header>
		<h3 class="tabs_involved">商品评价回复</h3>
	</header>

	<form action="{url:/seller/comment_update}" method="post" name="comment_edit">
		<input type="hidden" value="{$comment['id']}" name="id" />
		<div class="module_content">
			<fieldset>
				<label>评论人：</label>
				<div class="box">{if: $comment['username']}<a href="{url:/member/member_edit/uid/$comment['uid']}" >{$comment['username']}</a>{else:}游客{/if}</div>
			</fieldset>

			<fieldset>
				<label>评价时间：</label>
				<div class="box">{$comment['comment_time']}</div>
			</fieldset>

			<fieldset>
				<label>评价商品：</label>
				<div class="box"><a href="{url:/goods/products/id/$comment['goods_id']}" target="_blank">{$comment['name']}</a></div>
			</fieldset>

			<fieldset>
				<label>评价内容：</label>
				<div class="box">
                    <div class="">
                        <p><span>{if: $comment['username']}{$comment['username']}{else:}游客{/if}：</span>
                            <span>{$comment['comment_time']}</span></p>
                        <p>{$comment['contents']}</p>
                        {if: $comment['photo']}
                        <p class="js_photo">
                        {foreach: items=$comment['photo'] item=$photo}
                            <img src="{webroot:$photo['img']}" class="js_show_big_photo"/>
                        {/foreach}
                        <p></p>
                        {/if}    
                    </div>
                    {foreach:items=$this->commentList}
                    <div class="box js_reply_select" js_data="{$item['id']}">
                        <p><span {if:$item['user_id']==-1} class="pthf" {/if}>{$item['username']}：</span>
                            <span>{$item['comment_time']}</span></p>
                        <p>{$item['contents']}</p> 
                    </div>
                    {/foreach}
                </div>
			</fieldset>

			<fieldset>
				<label>评价分数：</label>
				<div class="box">{$comment['point']}分</div>
			</fieldset>

			<fieldset>
				<label>回复评价：</label>
				<textarea name='recontents' style='height:100px;'>{$items['recontents']}</textarea>
				<label class="tip">卖家对买家评论的回复</label>
			</fieldset>
		</div>

		<footer>
			<div class="submit_link">
				<input type="submit" class="alt_btn" onclick="return checkForm()" value="确 定" />
				<input type="reset" value="重 置" />
			</div>
		</footer>
	</form>
</article>
<script type="text/javascript">
function checkForm()
{
    var _c = $.trim($('textarea[name="recontents"]').val());
    if(_c.length > 0)
    {
        return true;
    }
    else
    {
        alert('回复不能为空');
        return false;
    }
}
$(document).on('click', '.js_reply_select', function(){
    var _id = $(this).attr('js_data');
    $(this).css('color', 'red');
    $(this).siblings().css('color','black');
    $("input[name=id]").val(_id);
})
$(document).on('click', '.js_show_big_photo', function(){
    var _u = new Image();
    _u.src = $(this).attr('src')
    var _w = _u.width > 500 ? 500 : _u.width
        ,html = '<p class="js_hide_big_photo" style="margin-top:10px;width:26px; height:20px; border:1px solid gray;cursor:pointer;">关闭</p><br/><img src='+_u.src+' width='+_w+'/>';
    $(this).parents('.js_photo').next('p').html(html);
})
$(document).on('click', '.js_hide_big_photo', function(){
    $(this).parents('p').html('');
})
</script>