{js:my97date}
{set:$seller_id = $this->seller['seller_id']}
<script type="text/javascript">
    $(function(){
        $('input[name=type]').each(function(){
            $(this).click(function(){
                var _i = $(this).val();
                if(_i == 2)
                {
                    $('.js_show_1').hide().find('input').attr('disabled', 'disabled');
                    $('.js_show_2').show().find('input').removeAttr('disabled');
                }
                else
                {
                    $('.js_show_2').hide().find('input').attr('disabled', 'disabled');
                    $('.js_show_1').show().find('input').removeAttr('disabled');
                }
            })
        })
    })
</script>
<article class="module width_full">
	<header>
		<h3 class="tabs_involved">团购编辑</h3>
	</header>

	<form action="{url:/seller/regiment_edit_act}"  method="post" name='regiment_edit' enctype='multipart/form-data'>
		<input type='hidden' name='id' />
		<div class="module_content">
			<fieldset>
				<label>团购标题：</label>
				<div class="box">
					<input type='text' name='title' pattern='required' alt='请填写团购标题' />
					<label class="tip">* 填写团购名称</label>
				</div>
			</fieldset>
            <fieldset>
                <label>团购类型：</label>
                <div class="box">
                    <label class='attr'><input type="radio" name="type" value="0" />TOP</label>
                    <label class='attr'><input type="radio" name="type" value="1" />品牌团</label>
                    <label class='attr'><input type="radio" name="type" value="2" />整点团</label>
                </div>
            </fieldset>
			<fieldset class="js_show_1" {if:$this->regimentRow['type'] == 2} style="display:none" {/if}>
				<label>团购时间：</label>
				<div class="box">
					<input type='text' class="normal" name='start_time' pattern='datetime' onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" alt='请填写一个日期' />
					<input type='text' class="normal" name='end_time' pattern='datetime' onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" alt='请填写一个日期' />
				</div>
				<label class="tip">* 此团购的时间段</label>
			</fieldset>
            
            <fieldset class="js_show_2" {if:$this->regimentRow['type'] <> 2} style="display:none" {/if}>
                <label>团购时间：</label>
                <div class="box">
                    <input type='text' class="normal" name='start_time1' pattern='datetime' {if:$this->regimentRow['type'] == 2} value="{$this->regimentRow['start_time']}" {/if} onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:00:00'})" alt='请填写一个日期' />
                    <input type='text' class="normal" name='end_time1' pattern='datetime' {if:$this->regimentRow['type'] == 2} value="{$this->regimentRow['end_time']}" {/if} onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:00:00'})" alt='请填写一个日期' />
                </div>
                <label class="tip">* 此团购的时间段</label>
            </fieldset>
			<fieldset>
				<label>是否开启</label>
				<div class="box">
					<label class='attr' ><input type='radio' name='is_close' value='0' checked="checked" />开启</label>
					<label class='attr' ><input type='radio' name='is_close' value='1' />关闭</label>
				</div>
			</fieldset>
			<fieldset>
				<label>是否区分规格</label>
				<div class="box">
					<label class='attr' name='spec_diff'><input type='radio' name='spec' value='0' />是</label>
					<label class='attr' name='spec_diff'><input type='radio' name='spec' value='1' checked="checked" />否</label>
				</div>
			</fieldset>
			<fieldset>
				<label>设置团购商品：</label>
				<div class="box">
					<table class='tablesorter clear'>
						<colgroup>
							<col width="120px" />
							<col />
						</colgroup>

						<input type='hidden' name='goods_id' />

						<tbody id='regiment_box'>
						</tbody>

						<tfoot>
						<tr>
							<td colspan=2>
								<input type='button' id='add_good' class='alt_btn'  value="添加商品" />
								<label class="tip">* 添加要团购的商品</label>
							</td>
						</tr>
						</tfoot>
					</table>
				</div>
			</fieldset>

			<fieldset>
				<label>介绍：</label>
				<div class="box">
					<textarea class='textarea' name='intro'>{$this->regimentRow['intro']}</textarea>
				</div>
			</fieldset>
		</div>

		<footer>
			<div class="submit_link">
				<input type="submit" class="alt_btn" value="确 定" />
				<input type="reset" value="重 置" />
			</div>
		</footer>
	</form>
</article>

<script type='text/javascript'>
	//输入筛选商品的条件
	function searchGoodsCallback(goodsList)
	{
		goodsList.each(function()
		{
			var temp = $.parseJSON($(this).attr('data'));
			
			if (!temp.product_id) {
				temp.product_id = 0;
				var spec_str = '所有';
			}else{
				var spec_str = getSpec(temp.spec_array);
			}
			
			var content = {
				"data":
				{
					"goods_id":temp.goods_id,
					"product_id":temp.product_id,
					"name":temp.name,
					"img":temp.img,
					"spec":spec_str,
					"sell_price":temp.sell_price,
					"store_nums":temp.store_nums
				}
			};
			relationCallBack(content);
		});
	}

	//关联商品回调处理函数
	function relationCallBack(content,regimentImg)
	{
		if(content)
		{
			regimentImg = !regimentImg ? content['data']['img'] : regimentImg;

			var imgUrl = "{webroot:@url@}";
			imgUrl     = imgUrl.replace("@url@",regimentImg);

			var html = '<input type="hidden" name="goods_id" value="'+content['data']['goods_id']+'"/>'+
							'<input type="hidden" name="product_id" value="'+content['data']['product_id']+'"/>'+
						'<tr><th>商品名称：</th><td>'+content['data']['name']+'</td></tr>'
						  +'<tr><th>展示图片：</th><td><img src="'+imgUrl+'" title="'+content['data']['name']+'" style="max-width:140px;" /><br /><input type="file" class="file" name="img" /></td></tr>'
					  	  +'<tr><th>商品规格：</th><td>'+content['data']['spec']+'<label></label></td></tr>'
							+'<tr><th>团购价格：</th><td><input type="text" class="small" name="regiment_price" pattern="float" alt="填写数字" />，  目前原价：'+content['data']['sell_price']+'<label>* 设置团购价格</label></td></tr>'
							 +'<tr><th>团购库存量：</th><td><input type="text" class="small" name="store_nums" pattern="int" alt="填写数字" />，  目前库存：'+content['data']['store_nums']+'<label>* 团购出售的最大数量</label></td></tr>'
						  +'<tr><th>每人团购最小量：</th><td><input type="text" class="small" name="limit_min_count" pattern="int" alt="填写数字" />，<label>限制每个用户购买的最小数量，少于这个数量则无法购买，0表示不限制</label></td></tr>'
						  +'<tr><th>每人团购最大量：</th><td><input type="text" class="small" name="limit_max_count" pattern="int" alt="填写数字" />，<label>限制每个用户购买的最大数量，大于这个数量则无法购买，0表示不限制</label></td></tr>';

			$('#regiment_box').html(html);
		}
	}
	
	//关联商品信息
	{if:isset($this->regimentRow['goodsRow'])}
	var goodsRow = {$this->regimentRow['goodsRow']};
	goodsRow['data']['spec'] = getSpec(goodsRow['data']['spec_array']);
	goodsRow['data']['spec'] = goodsRow['data']['spec'] ? goodsRow['data']['spec'] : '所有';
	relationCallBack(goodsRow,"{$this->regimentRow['img']}");
	{/if}

	//表单回填
	var formObj = new Form('regiment_edit');
	formObj.init({echo:JSON::encode($this->regimentRow)});
	
$(function(){
		$('label[name=spec_diff]').click(function(){
			var is_spec = $(this).find('input[type=radio]').val();
			var btn = $('#add_good');
			btn.off('click');
			if(is_spec==0){
				btn.on('click',function(){searchGoods('{url:/block/search_goods/type/radio/is_products/1/seller_id/$seller_id}',searchGoodsCallback);})
			}else{
				btn.on('click',function(){searchGoods('{url:/block/search_goods/type/radio/seller_id/$seller_id}',searchGoodsCallback);})
			}
			
		})
		{if:isset($this->regimentRow['product_id'])&&$this->regimentRow['product_id']>0}
			$('label[name=spec_diff]').eq(0).trigger('click');
		{else:}
			$('label[name=spec_diff]').eq(1).trigger('click');
		{/if}
		
})
</script>