{set:
$search = IFilter::act(IReq::get('search'),'strict');

}
{if:isset($search['name'])&&$search['name']}
{set:$where='p.name="'.$search['name'].'"'}
{else:}
{set:$where=1}
{/if}
<div class="headbar">
	<div class="position"><span>营销</span><span>></span><span>营销活动管理</span><span>></span><span>预售</span></div>
	<div class="operating">
		<a href="javascript:void(0)" onclick="event_link('{url:/presell/presell_edit}')"><button class="operating_btn" type="button"><span class="addition">添加预售</span></button></a>
		<a href="javascript:void(0)" onclick="selectAll('id[]');"><button class="operating_btn" type="button"><span class="sel_all">全选</span></button></a>
		<a href="javascript:void(0)" onclick="delModel({'form':'presell_del'});"><button class="operating_btn" type="button"><span class="delete">批量删除</span></button></a>
	</div>
	<div class="searchbar">
		<form action="{url:/}" method="get" name="spec_list">
			<input type='hidden' name='controller' value='presell' />
			<input type='hidden' name='action' value='presell_list' />
			
			预售名称<input class="small" name="search[name]" type="text" value="" />
			<button class="btn" type="submit"  ><span class="sel">筛 选</span></button>
		</form>
	</div>
	<div class="field">
		<table class="list_table">
			<col width="40px" />
			<col width="150px"/>
			<col width="290px" />
			<col width="80px" />
			<col/>
			<thead>
				<tr>
					<th>选择</th>
					<th>名称</th>
					<th>预售截止时间</th>
					<th>状态</th>
					<th>操作</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
<div class="content">
	<form method='post' action='{url:/presell/presell_del}' name='presell_del'>
		<table class="list_table">
			<col width="40px" />
			<col width="150px"/>
			<col width="290px" />
			<col width="80px" />
			<col/>
			<tbody>
				{set:$page= (isset($_GET['page'])&&(intval($_GET['page'])>0))?intval($_GET['page']):1;}
				{query:name=presell as p join = left join goods as go on p.goods_id eq go.id fields=p.*,go.id as goods_id,go.name as goods_name,go.is_del where=$where  page=$page}
				<tr>
					<td><input type='checkbox' name='id[]' value='{$item['id']}' /></td>
					<td><a href='{url:/pregoods/products/id/$item[goods_id]}' target='_blank'>{$item['name']}</a></td>
					<td>{$item['yu_end_time']}</td>
					<td>
						{if:$item['is_del'] == null || $item['is_del'] == 1}
						<label style='color:gray'>不可用</label>
						{else:}
						{echo:$item['is_close']==1 ? '关闭':'开启'}
						{/if}
					</td>
					<td>
						<a href='{url:/presell/presell_edit/id/$item[id]}'>
							<img class="operator" src="{skin:images/admin/icon_edit.gif}" alt="修改" title="修改" />
						</a>

						<a href='javascript:void(0)' onclick="delModel({link:'{url:/presell/presell_del/id/$item[id]}'});">
							<img class="operator" src="{skin:images/admin/icon_del.gif}" alt="删除" title="删除" />
						</a>
					</td>
				</tr>
				{/query}
			</tbody>
		</table>
	</form>
</div>
{$query->getPageBar()}
