{js:artTemplate}
<script type="text/javascript" src="{theme:javascript/event.js}"></script>
<script type="text/javascript" src="{theme:javascript/jquery-1.7.2.js}"></script>
{set:$t=isset($type) ? $type : 0}
<script type="text/javascript">
    $(function(){
        var _t = {$t};
        selfShow(_t);
        
        $('input[name=type]').each(function(){
            $(this).click(function(){
                selfShow($(this).val());
            })
        })
    })
    function selfShow(_t)
    {
        if(_t == 1)
        {
            $('.js_set_show').hide();
        }
        else
        {
            $('.js_set_show').show();
        }
    }
</script>
<div class="headbar">
    <div class="position"><span>营销</span><span>></span><span>营销活动管理</span><span>></span><span>{if:isset($id)}编辑{else:}添加{/if}活动</span>
    </div>
</div>
<div class="content_box">
    <div class="content form_content">
        <form action="{url:/market/active_edit_act}" method="post" name='active_edit' enctype='multipart/form-data'>
            <input type='hidden' name='id' value='{$id}'/>
            <table class="form_table">
                <col width="150px"/>
                <col/>
                <tr>
                    <th>活动标题：</th>
                    <td><input type='text' class='normal' name='name' pattern='required' alt='请填写活动名称' value="{$name}"/><label>*
                        填写活动名称</label></td>
                </tr>
                <tr>
                    <th>活动类型</th>
                    <td class="js_type">
                        <label class='attr'><input type="radio" name="type" value="1" {if:isset($type) && $type == 1} checked="checked" {/if}/>活动一</label>
                        <label class='attr'><input type="radio" name="type" value="2" {if:isset($type) && $type == 2} checked="checked" {/if}/>活动二</label>
                        <label class='attr'><input type="radio" name="type" value="3" {if:isset($type) && $type == 3} checked="checked" {/if}/>活动三</label>
                        <label class='attr'><input type="radio" name="type" value="4" {if:isset($type) && $type == 4} checked="checked" {/if}/>活动四</label>
                    </td>
                </tr>
                <tr>
                    <th>状态：</th>
                    <td>
                        <label class='attr'><input type='radio' name='status' value='1'  {if:isset($status) && $status == 1} checked="checked" {/if}/>开启</label>
                        <label class='attr'><input type='radio' name='status' value='2' {if:isset($status) && $status == 2} checked="checked" {/if}/>关闭</label>
                    </td>
                </tr>


                <!--增加宣传图片上传  -->
                <tr>
                    <th>设置宣传图片：</th>
                    <td>
                        <div class="total_wid__">
                            <div id="preview__">
                            {if:isset($seoimage) && $seoimage}
                            <img src="{webroot:$seoimage}" style="height: 100px;">
                            {/if}
                            </div>
                            <input type="file" name="seoimage"/>

                        </div>
                        <label style="color: red;">用于其他活动页面宣传</label>
                    </td>
                </tr>
                <!--增加顶部图片上传  -->
                <tr class="js_set_show" {if:$t==1} style="display:none" {/if}>
                    <th>设置顶部图片：</th>
                    <td>
                        <div class="total_wid_">
                            <div id="preview_">
                            {if:isset($topImage) && $topImage}
                            <img src="{webroot:$topImage}" style="height: 100px;">
                            <input type="hidden" name="topImage" value="{$topImage}">
                            {/if}
                            </div>
                            <input type="file" name="topImage"/>

                        </div>

                    </td>
                </tr>
                <tr class="js_set_show" {if:$t==1} style="display:none" {/if}>
                    <th>设置顶部背景颜色：</th>
                    <td><input type="text" name="top" class="normal" value="{$top}"></td>
                </tr>
                <tr class="js_set_show" {if:$t==1} style="display:none" {/if}>
                    <th>设置主体背景颜色：</th>
                    <td><input type="text" name="main" class="normal" value="{$main}"></td>
                </tr>
                <tr>
                    <th>设置浮动框背景颜色：</th>
                    <td><input type="text" name="float" class="normal" value="{$float}"></td>
                </tr>
                <tr>
                    <th>浮动图片：</th>
                    <td>
                        <div class="total_wid">
                            <div id="preview">
                            {if:isset($floatimage) && $floatimage}
                            <img src="{webroot:$floatimage}" style="height: 100px;">
                            <input type="hidden" name="floatimage" value="{$floatimage}">
                            {/if}
                            </div>
                            <input type="file" name="floatimage"/>

                        </div>
                    </td>
                </tr>
                <tr>
                    <th>简单描述：</th>
                    <td>
                    <textarea name='description' cols="" rows="">{$description}</textarea><label>限制50个字</label>
                    </td>
                </tr>
                <tr>
                    <th>排序：</th>
                    <td>
                        <input type='text' class='small' name='sort' value="{$sort}"/>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button class="submit" type='submit'><span>确 定</span></button>
                        <span class='red'></span></td>
                </tr>
            </table>
        </form>
    </div>
</div>