{js:artTemplate}
<div class="headbar">
	<div class="position"><span>营销</span><span>></span><span>营销活动管理</span><span>></span><span>活动</span></div>
	<div class="operating">
		<a href="javascript:void(0)" onclick="event_link('{url:/market/active_edit}');"><button class="operating_btn" type="button"><span class="addition">添加活动</span></button></a>
		<a href="javascript:void(0)" onclick="selectAll('id[]');"><button class="operating_btn" type="button"><span class="sel_all">全选</span></button></a>
		<a href="javascript:void(0)" onclick="delModel({'form':'active_del'});"><button class="operating_btn" type="button"><span class="delete">批量删除</span></button></a>
	</div>
<div class="searchbar">
		<form action="{url:/}" method="get" name="">
			<input type='hidden' name='controller' value='market' />
			<input type='hidden' name='action' value='active_list' />
			
			活动名称<input class="small" name="search[name]" type="text" value="" />
			<button class="btn" type="submit"  ><span class="sel">筛 选</span></button>
		</form>
	</div>
	<div class="field">
		<table class="list_table">
			<colgroup>
				<col width="40px" />
				<col />
				<col width="100px" />
				<col width="80px" />
				<col width="100px" />
                <col width="150px" />
				<col width="130px" />
			</colgroup>

			<thead>
				<tr>
					<th>选择</th>
                    <th>活动名称</th> 
					<th>活动类型</th>
					<th>排序</th>
					<th>状态</th>
					<th>添加时间</th> 
					<th>操作</th>
				</tr>
			</thead>
		</table>
	</div>
</div>

<div class="content">

	<form method='post' action='{url:/market/active_del}' name='active_del'>
		<table class="list_table">
			<colgroup>
				<col width="40px" />
                <col />
                <col width="100px" />
                <col width="80px" />
                <col width="100px" />
                <col width="150px" />
                <col width="130px" />
			</colgroup>

			<tbody>
				{foreach:items=$this->activeList}
				<tr>
					<td><input type='checkbox' name='id[]' value='{$item['id']}' /></td>
					<td><a href='{url:/site/active/id/$item[id]}' target='_blank' class="orange" title="{$item['name']}">{$item['name']}</a></td>
					<td>{if:$item['type']==1}活动一{elseif:$item['type']==2}活动二{elseif:$item['type']==3}活动三{else:}活动四{/if}</td>
					<td>{$item['sort']}</td>
					<td>{echo:($item['status']==1) ? '开启':'关闭'}</td>
					<td>{$item['time']}</td>
					<td>
                        <a class="js_clip" js_clip_data="{$item['id']}" js_host="{$item['host']}">
                            <img class="operator" src="{skin:images/admin/icon_copy.png}" alt="复制链接" title="复制链接">
                        </a>
                        <a href="{url:/market/active_group/id/$item[id]}">
                            <img class="operator" src="{skin:images/admin/icon_check.gif}" alt="查看分组" title="查看分组">
                        </a>
						<a href='{url:/market/active_edit/id/$item[id]}'>
							<img class="operator" src="{skin:images/admin/icon_edit.gif}" alt="修改" title="修改" />
						</a>

						<a href='javascript:void(0)' onclick="delModel({link:'{url:/market/active_del/id/$item[id]}'});">
							<img class="operator" src="{skin:images/admin/icon_del.gif}" alt="删除" title="删除" />
						</a>
					</td>
				</tr>
				{/foreach}
			</tbody>
		</table>
	</form>
</div>
{$this->active->getPageBar()}
<script type="text/javascript">
$('.js_clip').bind('click', function(){
    var _d = '{webroot:site/active/id/@id@}'
    _d = _d.replace("@id@",$(this).attr('js_clip_data'));
    _d = $(this).attr('js_host') + _d;
    setClipboard(_d);
});
function setClipboard(data)
{
    if (window.clipboardData != undefined)
    {
        if (window.clipboardData.setData('Text', data))
        {
            alert('已复制到剪切板');
            return;
        }
    }
    prompt('请按 CTRL + C 复制', data);
}
</script>