{set:
$search = IFilter::act(IReq::get('search'),'strict');
$aId = IFilter::act(IReq::get('id'),'int')
}
{set:$where='active_id='.$aId}
{if:isset($search['name'])&&$search['name']}
{set:$where.=' and group_name="'.$search['name'].'"'}
{/if}
{js:artTemplate}
<div class="headbar">
	<div class="position"><span>营销</span><span>></span><span>营销活动管理</span><span>></span><span>活动分组</span></div>
	<div class="operating">
		<a href="javascript:void(0)" onclick="event_link('{url:/market/active_group_edit/active_id/$aId}');"><button class="operating_btn" type="button"><span class="addition">添加分组</span></button></a>
		<a href="javascript:void(0)" onclick="selectAll('id[]');"><button class="operating_btn" type="button"><span class="sel_all">全选</span></button></a>
		<a href="javascript:void(0)" onclick="delModel({'form':'active_group_del'});"><button class="operating_btn" type="button"><span class="delete">批量删除</span></button></a>
	</div>
<div class="searchbar">
		<form action="{url:/}" method="get" name="">
			<input type='hidden' name='controller' value='market' />
			<input type='hidden' name='action' value='active_group' />
			
			分组名称<input class="small" name="search[name]" type="text" value="" />
			<button class="btn" type="submit"  ><span class="sel">筛 选</span></button>
		</form>
	</div>
	<div class="field">
		<table class="list_table">
			<colgroup>
				<col width="40px" />
				<col />
				<col />
				<col width="100px" />
                <col width="150px" />
			</colgroup>

			<thead>
				<tr>
					<th>选择</th>
                    <th>活动名称</th> 
					<th>分组名称</th>
					<th>排序</th>
					<th>操作</th>
				</tr>
			</thead>
		</table>
	</div>
</div>

<div class="content">

	<form method='post' action='{url:/market/active_group_del}' name='active_group_del'>
		<table class="list_table">
			<colgroup>
				<col width="40px" />
                <col />
                <col />
                <col width="100px" />
                <col width="150px" />
			</colgroup>

			<tbody>
				{set:$page= (isset($_GET['page'])&&(intval($_GET['page'])>0))?intval($_GET['page']):1;}
				{query:name=active_group as ag join=LEFT JOIN active as a on ag.active_id eq a.id fields=ag.*,a.name order=sort asc,id desc page=$page where=$where}
				<tr>
					<td><input type='checkbox' name='id[]' value='{$item['id']}' /></td>
					<td><a href='{url:/site/active/id/$item[active_id]}' target='_blank' class="orange" title="{$item['name']}">{$item['name']}</a></td>
					<td>{$item['group_name']}</td>
					<td>{$item['sort']}</td>
					<td>
						<a href='{url:/market/active_group_edit/id/$item[id]}'>
							<img class="operator" src="{skin:images/admin/icon_edit.gif}" alt="修改" title="修改" />
						</a>

						<a href='javascript:void(0)' onclick="delModel({link:'{url:/market/active_group_del/id/$item[id]}'});">
							<img class="operator" src="{skin:images/admin/icon_del.gif}" alt="删除" title="删除" />
						</a>
					</td>
				</tr>
				{/query}
			</tbody>
		</table>
	</form>
</div>
{$query->getPageBar()}
