{js:my97date}
{js:artTemplate}
<script type='text/javascript' src='{theme:javascript/artTemplate/area_select.js}'></script>
<script type="text/javascript" src="{theme:javascript/event.js}"></script>
<div class="headbar">
	<div class="position"><span>营销</span><span>></span><span>促销活动管理</span><span>></span><span>{if:isset($this->promotionRow['id'])}编辑{else:}添加{/if}促销活动</span></div>
	<ul class='tab' name='conf_menu'>
		<li class='selected'><a href="javascript:select_tab(0);">活动信息</a></li>
		<li><a href="javascript:select_tab(1);">活动规则</a></li>
	</ul>
</div>
<div class="content_box">
	<div class="content form_content">
		<form action='{url:/market/pro_rule_edit_act}' method="post" name="pro_rule_edit" callback="invalid_callback('rule_table');">
			<input type='hidden' name='id' />
			<table class="form_table" name="rule_table">
				<col width="150px" />
				<col />
				<tr>
					<th>活动名称：</th>
					<td><input type='text' class='normal' name='name' pattern='required' alt='请填写活动名称' /><label>* 填写活动名称</label></td>
				</tr>
				<tr>
					<th>活动时间：</th>
					<td>
						<input type='text' name='start_time' class='Wdate' pattern='datetime' onblur="FireEvent(this,'onchange');" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"  alt='请填写一个日期' /> ～
						<input type='text' name='end_time' class='Wdate' pattern='datetime' onblur="FireEvent(this,'onchange');" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" alt='请填写一个日期' />
						<label>* 此活动的使用时间段</label>
					</td>
				</tr>
				<tr>
					<th>允许参与人群：</th>
					<td>
						<ul class='attr_list clearfix'>
							<li><label class='attr'><input type='checkbox' name='group_all' value='all' onclick='select_all();' />全部</label></li>
							{query:name=user_group}
							<li><label class='attr'><input type='checkbox' {if:in_array($item['id'],explode(',',$this->promotionRow['user_group']))}checked=checked{/if} name='user_group[]' value='{$item['id']}' />{$item['group_name']}</label></li>
							{/query}
						</ul>
						<label>* 此活动允许参加的用户组</label>
					</td>
				</tr>
				<tr>
					<th>是否开启：</th>
					<td>
						<label class='attr'><input type='radio' name='is_close' value='0' />是</label>
						<label class='attr'><input type='radio' name='is_close' value='1' checked=checked />否</label>
					</td>
				</tr>
				<tr>
					<th>活动介绍：</th>
					<td><textarea name='intro' class='textarea'>{$this->promotionRow['intro']}</textarea></td>
				</tr>
			</table>
			<div class='clear'></div>
			<table class="form_table" name="rule_table" style='display:none'>
				<col width="150px" />
				<col />
				<tr>
					<th>购物车总金额条件：</th>
					<td><input type='text' name='condition' class='small' pattern='float' alt='请填写一个金额数字' />元 <label>* 当购物车总金额达到所填写的现金额度时规则生效</label></td>
				</tr>
				<tr>
					<th>活动规则：</th>
					<td>
						<select class='auto' name='award_type' pattern='required' alt='请选择一种规则' onchange="change_rule(this.value);">
							<option value=''>请选择</option>
							<option value='1'>当购物车金额满 M 元时,优惠 N 元</option>
							<option value='2'>当购物车金额满 M 元时,优惠 N% </option>
							<option value='3'>当购物车金额满 M 元时,赠送 N 个积分</option>
							<option value='4'>当购物车金额满 M 元时,赠送一张面值 N 元的代金券</option>
							<option value='6'>当购物车金额满 M 元时,免运费</option>
							<option value='7'>当购物车金额满 M 元时,赠送 N 经验值</option>
						</select>
						<label>* 选择一种活动规则</label>
					</td>
				</tr>
				<tr id='rule_box'>
				</tr>
                <tr class="js_select_goods" style="display: none;">
                <th>选择活动商品：</th>
                <td><button type='button' onclick="searchGoods('{url:/block/search_goods/type/checkbox/is_products/0/seller_id/0}',storeNumsCallback);" class='btn'><span>选择商品</span></button>
                <label><input type="checkbox" name="select_all" value="1" {if:!$this->promotionRow['goods_id']} checked {/if}>所有平台商品</label>
                </td>
                </tr>
                <tr class="js_select_goods" style="display: none;">
                    <th></th>
                    <td>
                        <table class='border_table' style='width:65%'>
                            <tbody id='store_list'>
                                {if:$this->goodsList}
                                     {foreach:items=$this->goodsList}
                                        <tr class="td_c">
                                            <td><img src="{webroot:{$item['img']}}" style="max-width:140px;max-height:50px;" /></td>
                                            <td>{$item['goods_no']}</td>
                                            <td>{$item['name']}
                                                <input type="hidden" name="goods_id[]" value="{$item['goods_id']}"/></td>
                                        </tr>
                                     {/foreach}
                                {/if}
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr class="js_select_area" style="display: none;">
                    <th>支持的免运费的地区:</th>
                    <td>
                        <div id="deliveryAreaBox"></div>

                        <!--地域设定模板-->
                        <script type='text/html' id='deliveryTemplate'>
                        <div class='content_box' style='padding:6px'>
                            <input type='hidden' name='area_groupid[]' value='<%=area_groupid%>' />
                            选择地区：
                            <div name='area_box' style='display:inline'>
                                
                            </div>
                            <button type="button" class="btn" onclick='addProvince(this);'><span class="add">添加</span></button>
                            <label class='attr'><a href="javascript:void(0)" onclick="js_remove(this)"><img alt="删除" src="{skin:images/admin/icon_del.gif}" class="operator"/></a></label>
                            <p><textarea name="areaName" readonly="readonly" disabled='disabled' style='width:85%'><%=areaname%></textarea>已选择的地区</p>
                        </div>
                        </script>
                        <button type="button" class="btn js_add_area" onclick='addArea(this)'><span class="add">添加地区</span></button>
                    </td>
                </tr>
			</table>
			<button class="submit" type='submit'><span>确 定</span></button>
		</form>
	</div>
</div>

<script type='text/javascript'>
    //输入筛选商品的条件
    function storeNumsCallback(goodsList)
    {
        goodsList.each(function()
        {
            var temp = $.parseJSON($(this).attr('data'));
            if(!temp.product_id)temp.product_id = 0;
            //var spec_str = getSpec(temp.spec_array);
            var content = {
                "data":
                {
                    "goods_id":temp.goods_id,
                    "goods_no":temp.goods_no,
                    "name":temp.name,
                    "img":temp.img,
                }
            };
            //window.realAlert(key);
            relationCallBack(content);
        });
    }
    //关联商品回调处理函数
    function relationCallBack(content)
    {
        var appendTo = $('#store_list');
        //var n = $('#store_list>tr').length;
        if(content)
        {
           // $('[name="condition"]').val(content['data']['id']);
            var imgUrl = "{webroot:@url@}";
            imgUrl     = imgUrl.replace("@url@",content['data']['img']);

            var html =  '<tr  class="td_c">'+
             '<td><img src="'+imgUrl+'" style="max-width:140px;max-height:50px;" /></td>'
                        +'<td>'+content['data']['goods_no']+'</td>'
                        +'<td>'+content['data']['name']
                        +'<input type="hidden" name="goods_id[]" value="'+content['data']['goods_id']+'"/></td>'
                        +'</tr>';
            appendTo.append(html);
        }
    }
    $(function(){
        {if:isset($this->promotionRow['area_groupid']) && $this->promotionRow['area_groupid']!=''}
        var area_groupid = {echo:JSON::encode($this->promotionRow['area_groupid'])};
        for(var index in area_groupid)
        {
            var areaname = [];
            var idArray  = area_groupid[index].split(';');
            for(var i in idArray)
            {
                if(idArray[i])
                {
                    areaname.push(getAreaName(idArray[i]));
                }
            }
            var areaHtml = template.render('deliveryTemplate',{"area_groupid":area_groupid[index],"areaname":areaname.join(',')});
            $('#deliveryAreaBox').append(areaHtml);
            
        }
        $('[name=area_box]').append($('.area').eq(0).clone(true).css('display','inline'));
        $('.js_add_area').hide();
        {/if}
        
        //初始化地域联动
        template.compile("areaTemplate",areaTemplate);
        createAreaSelect('province',0,'');
    })
    function js_remove(_t)
    {
        $(_t).parent().parent().remove();
        $('.js_add_area').show();
    }
    function createAreaSelect(name,parent_id,select_id,next)
    {
        //生成地区
        $.getJSON("{url:/block/area_child}",{"aid":parent_id,"random":Math.random()},function(json)
        {
            if(next){
                next.html(template.render('areaTemplate',{"select_id":select_id,"data":json}));
            }else
            $('[name="'+name+'"]').html(template.render('areaTemplate',{"select_id":select_id,"data":json}));
        });
    }
    /**
     * 切换城市地区
     * @param _self 地域对象
     */
    function areaChangeCallback_more(_self)
    {
        var parent_id = _self.value;
        var childName = $(_self).attr('child');
        var next = $(_self).next('select');

        if(!childName)
        {
            return;
        }

        //拆分子对象
        var childArray = childName.split(',');
        for(var index in childArray)
        {
            $(_self).parent().find('select[name="'+childArray[index]+'"]').empty();
        }

        //生成js联动菜单
        createAreaSelect(childArray[0],parent_id,'',next);
    }
    //添加地域项
    function addArea(_t)
    {
        $(_t).hide();
        var areaHtml = template.render('deliveryTemplate',{});
        $('#deliveryAreaBox').append(areaHtml);
        $('#deliveryAreaBox').find('.content_box:last').find('[name=area_box]').append($('.area').eq(0).clone(true).css('display','inline'));
        
    }

    //获取省份名称
    function getAreaName(provinceId)
    {
        var areaNameList = {echo:JSON::encode($this->area)};
        return areaNameList[provinceId];
    }

    //添加省份城市区域
    function addProvince(_self)
    {
        var parentObject = $(_self).parent();
        var selectObj    = parentObject.find('select');
        var selectPro = parentObject.find('select[name=province]');
        var selectCity = parentObject.find('select[name=city]');
        var selectArea = parentObject.find('select[name=area]');
        var selectAreaId = '';
        if(selectArea.val()){
            selectAreaId = selectArea.val();
        }else if(selectCity.val()){
            selectAreaId = selectCity.val();
        }else if(selectPro.val()){
            selectAreaId = selectPro.val();
        }
        if(selectAreaId=='')return false;
        
        //当前选中的地区ID
        var areaGroupId = parentObject.find('input[name="area_groupid[]"]').val();

        //当前选中的地区NAME
        var areaGroupName = parentObject.find('textarea[name="areaName"]').val();

        //填写areaId
        if(areaGroupId == '')
        {
            parentObject.find('input[name="area_groupid[]"]').val(";" + selectAreaId + ";");
        }
        else if(areaGroupId.indexOf(";" + selectAreaId + ";") == -1)
        {
            parentObject.find('input[name="area_groupid[]"]').val(areaGroupId + selectAreaId + ";");
        }
        else
        {
            alert('该区域已经添加，不要重复添加');
            return;
        }

        //添加areaName
        areaGroupName = areaGroupName == '' ? selectObj.find('option:selected').text() : areaGroupName + "," + selectObj.find('option:selected').text();
        areaGroupName = areaGroupName.replace(/请选择/g,'');
        parentObject.find('textarea[name="areaName"]').val(areaGroupName);
    }
	//校验回调
	function invalid_callback(nameVal)
	{
		if($('.invalid-text').length > 0)
		{
			var parentObj = $('.invalid-text:eq(0)').parents('[name="'+nameVal+'"]');
			$('[name="'+nameVal+'"]').index(parentObj);
			select_tab($('[name="'+nameVal+'"]').index(parentObj));
			return false;
		}
		return true;
	}

	//修改规则
	function change_rule(selectVal)
	{
		//判断是否为真正的onchange事件
		if(selectVal != $('#rule_box').data('index'))
		{
			$('#rule_box').data('index',selectVal);
		}
		else
		{
			return;
		}

		var html = '';
		switch(selectVal)
		{
			case "1":
			{
				html = "<th>优惠金额：</th>"
						+"<td><input type='text' name='award_value' class='small' pattern='float' alt='请填写一个金额数字' />元"
						+"<label>* 优惠的金额，从购物车总金额中减掉此部分金额</label></td>";
			}
			break;

			case "2":
			{
				html = "<th>优惠百分比：</th>"
						+"<td><input type='text' name='award_value' class='small' pattern='float' alt='请填写一个数字' />%"
						+"<label>* 优惠的百分比，从购物车总金额中的折扣百分比，如输入9则表示优惠9%</label></td>";
			}
			break;

			case "3":
			{
				html = "<th>赠送积分：</th>"
						+"<td><input type='text' name='award_value' class='small' pattern='int' alt='请填写一个数字' />"
						+"<label>* 赠送的积分</label></td>";
			}
			break;

			case "4":
			{
				html = "<th>设置代金券：</th>"
						+"<td><select class='auto' name='award_value' pattern='required'><option value=''>请选择</option></select>"
						+"<label>* 选择一个代金券</label></td>";

				//异步获取代金券
				$.getJSON('{url:/market/getTicketList}',function(content){
					for(pro in content)
					{
						var expire = content[pro]['expire'] ? '(已过期)' : '';
						$('select[name="award_value"]').append('<option value="'+content[pro]['id']+'">'+content[pro]['name']+'   面值:'+content[pro]['value']+'元'+expire+'</option>');
					}
					//获取后设置默认的代金券选择
					{set:$value=intval($this->promotionRow["award_value"])}
					formObj.setValue('award_value',"{$value}");
				});
			}
			break;

			case "5":
			{
				html = "<th>选择赠品：</th>"
						+"<td>暂无此功能"
						+"<label>* 购物车总额</label></td>";
			}
			break;
            
			case "7":
			{
				html = "<th>赠送经验：</th>"
						+"<td><input type='text' name='award_value' class='small' pattern='int' alt='请填写一个数字' />"
						+"<label>* 赠送的经验</label></td>";
			}
			break;
		}
		$('#rule_box').html(html);
		formObj.setValue('award_value',"{$this->promotionRow['award_value']}");
        if(selectVal == 6)
        {
            $('.js_select_goods').hide();
            $('.js_select_area').show();
        }
        else
        {
            $('.js_select_goods').show();
            $('.js_select_area').hide();
        }
	}

	//选择参与人群
	function select_all()
	{
		var is_checked = $('[name="group_all"]').attr('checked');
		if(is_checked ==  true)
		{
			var checkedVal  = true;
			var disabledVal = true;
		}
		else
		{
			var checkedVal  = false;
			var disabledVal = false;
		}

		$('input:checkbox[name="user_group[]"]').each(
			function(i)
			{
				$(this).attr('checked',checkedVal);
				$(this).attr('disabled',disabledVal);
			}
		);
	}

	//表单回填
	var formObj = new Form('pro_rule_edit');
	formObj.init
	({
		'id':'{$this->promotionRow['id']}',
		'name':'{$this->promotionRow['name']}',
		'start_time':'{$this->promotionRow['start_time']}',
		'end_time':'{$this->promotionRow['end_time']}',
		'user_group[]':'{echo:str_replace(",",";",$this->promotionRow['user_group']);}',
		'group_all':"{$this->promotionRow['user_group']}",
		'is_close':'{$this->promotionRow['is_close']}',
		'condition':'{$this->promotionRow['condition']}',
		'award_type':'{$this->promotionRow['award_type']}'
	});

	change_rule("{$this->promotionRow['award_type']}");

	//滑动门
	function select_tab(indexVal)
	{
		indexVal = (parseInt(indexVal)>0) ? indexVal : 0;
		$('table[name="rule_table"]').hide();
		$('table[name="rule_table"]:eq('+indexVal+')').show();

		//切换tab样式
		$('ul[name="conf_menu"] li').attr('class','');
		$('ul[name="conf_menu"] li:eq('+indexVal+')').attr('class','selected');
	}
</script>
<div class='area ' style='display:none'>
<select name="province" child="city,area" onchange="areaChangeCallback_more(this);"></select>
<select name="city" child="area" parent="province" onchange="areaChangeCallback_more(this);"></select>
<select name="area" parent="city"></select>
</div>