<link href="{skin:css/tm.css}" rel="stylesheet">

<div class="cnt w1190">

<style type="text/css">
	h1{font-family:"微软雅黑";font-size:20px;margin-top:20px;letter-spacing:2px;}

	.time-item strong{background:#C71C60;color:#fff;line-height:49px;font-size:18px;font-family:Arial;padding:0 5px;margin-right:5px;}
	.time-item a:hover{color:#c71c60}
	#day_show{float:left;line-height:49px;color:#c71c60;font-size:14px;margin:0 5px;font-family:Arial, Helvetica, sans-serif;}
	.item-title .unit{background:none;line-height:49px;font-size:12px;padding:0 5px;float:left;}
	
	.pp_tm_show li{
		position: relative;
		float: left;
		width: 435px;
		height: 300px;
		margin: 20px 10px 0 0;
		padding: 10px;
		border: 1px solid #ccc;
		background: #fff;overflow:hidden;
		font-size:16px;
		
	}
	.pp_tm_show li:hover {
		background: #f15a24;
		border: 1px solid #f15a24;
	}
	.pp_tm_show dd{margin-top:15px;}

	.pp_tm_show .pl{float:left;}
	.pp_tm_show .pr{float:right;}
	ul.shan_count li,b{display:inline;}
	ul.shan-all-li p.name{
		max-height: 38px;
    	overflow: hidden;
	}

</style>

<link rel="stylesheet" type="text/css" href="{skin:css/base.css}">
<link rel="stylesheet" type="text/css" href="{skin:css/index_sg.css}">
<script type="text/javascript" src="{theme:javascript/presell/presell.js}"></script>

		<div class="pp_tm_con">
				  <div class="pp_tm_con_fr"><a name="floor-1"></a>
					<h3>山城预售<i></i></h3>
				  </div>
			<div class="pp_tm_con_se">
				<div class="pp_tm_con_se_l">
				  <!--品牌特卖 -->
	<div class="shan-brand width">
		<input type='hidden' name='start' value='{$this->count}'/>
		<ul class="shan-all-li" style='width:1000px;'>
			{foreach:items=$this->pre_list}
			{if:!$item['presell_img']}{set:$item['presell_img']=$item['img']}{/if}
					<li  style="margin-top:0;float:left;">
						<dl>
							<dt class="brand-img">
								<a href="{url:/pregoods/products/id/$item['goods_id']}"  target="_blank" title="{$item['name']}">
									<img class="lazyload img"  src="{url:$item['presell_img']}" alt="">
								</a>
							</dt>
							<dd>
								<div class="fl" style='width:220px;'>
									<p class="name">
										<a style='text-decoration:none' href="{url:/pregoods/products/id/$item['goods_id']}" title="{$item['name']}" target="_blank">{$item['name']}</a>
									</p>
											<p class="explain" title="&#160;">
												<span class="gzmc_k"></span>
												<span class="gzmc_z"></span>
											</p>
											<p class="prom" title="">
												<span class="dazhe">{$item['price']}</span>
											</p>
								</div>
								<div class="fr">
									<p class="brand-logo"></p>
									<p class="surplus">
									剩余 
										<span id=''>{$item['days']}</span>天
									</p>
								</div>
									<div class="clear"></div>
							</dd>
						</dl>
						<div class="brand-icon" id="brandsale_sold-out-_0">
							<div class="clear"></div>
						</div>
						
					</li>
					
				{/foreach}
		</ul>

<div class="clear"></div>
		</div>
<script type="text/javascript" src="{theme:javsscript/jquery.lazyload.js}">
</script>

				</div>

				<div class="pp_tm_con_se_r">
			  <div class="tm_cn">
				<img src="{skin:images/shan/tm_t1.jpg}" width="246" height="40">
				<img src="{skin:images/shan/tm_07.jpg}" width="246" height="132">
				<img src="{skin:images/shan/tm_08.jpg}" width="246" height="146">
			  </div>
					
				<div class="tm_wb"><img src="{skin:images/shan/tm_wb_20.jpg}" width="248" height="120"></div>
					
			</div>
					<div class="clear"></div>
		  </div>
	
	
	</div>
</div>
		<div class="pp_tm_con"><br/>
				  
				  <div class="pp_tm_con_se">
					<div class="pp_tm_con_se_l" id="brandlist">
						
						<div class="next_more" style='margin-top:20px;'>
						
							<span class="next_more_btn" id="nextgroup" onclick="loadPresell('{url:/pregoods/getMorePresell}');">
								<span class="next_more_text">查看下一组</span>
							</span>
						</div>        
					</div>
				</div>
					<div class="clear"></div>
				  </div>
				</div>
    
 
</div>
<script type='text/html' id='template'>
	<li  style="margin-top:0;float:left;">
		<dl>
			<dt class="brand-img">
				<a href="{url:/pregoods/products/id}/<%=id%>"  target="_blank" title="<%=name%>">
					<img class="lazyload img"  src="{url:<%=presell_img%>}" alt="">
				</a>
			</dt>
			<dd>
				<div class="fl" style='width:220px;'>
					<p class="name">
						<a style='text-decoration:none' href="{url:/pregoods/products/id}/<%=id%>" title="<%=name%>" target="_blank"><%=name%></a>
					</p>
							<p class="explain" title="&#160;">
								<span class="gzmc_k"></span>
								<span class="gzmc_z"></span>
							</p>
							<p class="prom" title="">
								
									<span class="dazhe"><%=price%></span>
							</p>
				</div>
				<div class="fr">
					<p class="brand-logo"></p>
					<p class="surplus countdown">
					剩余 
						<span id=''><%=days%></span>天
					</p>
				<div class="clear"></div>
			</dd>
		</dl>
		<div class="brand-icon" id="brandsale_sold-out-_0">
			<div class="clear"></div>
		</div>
		
	</li>

</script>