<link href="{skin:css/tm.css}" rel="stylesheet">

<div class="cnt w1190">

<style type="text/css">
	h1{font-family:"微软雅黑";font-size:20px;margin-top:20px;letter-spacing:2px;}

	.time-item strong{background:#C71C60;color:#fff;line-height:49px;font-size:18px;font-family:Arial;padding:0 5px;margin-right:5px;}
	.time-item a:hover{color:#c71c60}
	#day_show{float:left;line-height:49px;color:#c71c60;font-size:14px;margin:0 5px;font-family:Arial, Helvetica, sans-serif;}
	.item-title .unit{background:none;line-height:49px;font-size:12px;padding:0 5px;float:left;}
	
	.pp_tm_show li{
		position: relative;
		float: left;
		width: 435px;
		height: 300px;
		margin: 20px 10px 0 0;
		padding: 10px;
		border: 1px solid #ccc;
		background: #fff;overflow:hidden;
		font-size:16px;
		
	}
	.pp_tm_show li:hover {
		background: #f15a24;
		border: 1px solid #f15a24;
	}
	.pp_tm_show dd{margin-top:15px;}

	.pp_tm_show .pl{float:left;}
	.pp_tm_show .pr{float:right;}
	ul.shan_count li,b{display:inline;}
	ul.shan-all-li p.name{
		max-height: 38px;
    	overflow: hidden;
	}

</style>
<link type="text/css" rel="stylesheet" href="{skin:css/resource.css}">
<link rel="stylesheet" type='text/css' href="{skin:css/buynmb_css/jquery.spinner.css}">
<link rel="stylesheet" type="text/css" href="{skin:css/base.css}">
<link rel="stylesheet" type="text/css" href="{skin:css/index_sg.css}">
<script type='text/javascript' src="{theme:javascript/sales_js/jquery-1.11.1.min.js}" ></script>
<script type='text/javascript' src="{theme:javascript/buynmb_js/jquery.spinner.js}" ></script>
<script type="text/javascript" src="{theme:javascript/presell/presell.js}"></script>

		<div class="pp_tm_con">
				  <div class="pp_tm_con_fr"><a name="floor-1"></a>
					<h3>山城预售TOP<i></i></h3>
				  </div>
			<div class="pp_tm_con_se">
				<div class="pp_tm_con_se_l">  
        {foreach:items=$this->topList}
        {if:!$item['presell_img']}{set:$item['presell_img']=$item['img']}{/if}
        <div class="today-deals-con one">
            <div style=" border: 1px solid; border-color:#eaeae2; width: 865px; height: 350px;">
		        <div class="deal-img-wrap">
		            <a title="" href="{url:/pregoods/products/id/$item['goods_id']}" target="_blank"><img src="{url:$item['presell_img']}" alt="{$item['name']}"  width="350" height="350"></a>
		            <div class="all_bicon_box"></div>
		        </div>
		        <div class="deal-summary one">
                <a class="deal-summary-link" target="_blank" href="{url:/pregoods/products/id/$item['goods_id']}">
                <h2>{$item['name']}</h2></a>
		            <a class="deal-summary-link" target="_blank" href="{url:/pregoods/products/id/$item['goods_id']}">
		                <p class="tit"> <!--<em>{$zhe}折/</em>-->{$item['intro']}<b></b></p>
                        <div class="shop_poto one">
                            <p class="price-wrap">
		                    <span class="price"><em>¥</em>{$item['price']}</span>
		                    <!--<span class="dis">参考价<del style="text-decoration: blink;">¥{$item['sell_price']}</del></span>--> 
                            <!--<span class="buy_num_con one"><span class="buy_number"></span>人已经购买</span>-->
		                      </p> 
                            </div>
                               </a>
		                <div class="other clearfix">
		                  <div class="clearfix_left one">
                  <span style="float:left; margin-left:20px;">数量：</span>
                     <input type="text" class="spinnerExample"/> 
                              
                    <a class="now_buy one" target="_blank" href="{url:/pregoods/products/id/$item['goods_id']}">立即购买</a>               
                             </div>
                    <div class="clearfix_right one"> 
                              
                      <span class="bk-timeleft home_timer today_end_time countdown" id="timeRemaining-{$key}">
					<span class="icon one"></span>
					<span id='cd_day_{$key}'></span>天
					<span id='cd_hour_{$key}'></span>小时
					<span id='cd_minute_{$key}'></span>分
					<span id='cd_second_{$key}'></span>秒	
					<input name='endTime' type='hidden' value="{$item['end_timestamp']}" />
				</span> 
                          <div class="hpl_ypl one">  
                         <img src="{skin:images/nice.png}" style=" width:20px; height:20px;" alt="好评" /><p>好评率<i>{$item['comment_rate']}%</i></p>
                           <p class="blue one"><i class="blues">{$item['comment_num']}</i>人评论</p>
                            </div>
                         
                          </div>
		                </div>
		            
		        </div>
           </div>    
      <img style="width:30px; height:51px;float:right;position:relative;bottom: 285px;left: -4px;" border="0" src="{skin:images/yigo.png}" >   
	    </div>       
      {/foreach}  
        
<script type="text/javascript" src="{theme:javsscript/jquery.lazyload.js}">
</script>

				</div>

				<div class="pp_tm_con_se_r">    
				{echo:Ad::show("预售右侧上")}
					
				<div class="tm_wb">{echo:Ad::show("预售右侧下")}</div>
					
			</div>
					<div class="clear"></div>
		  </div>
	
	
	</div>
</div>
		<div class="pp_tm_con"><br/>
				  
				  <!--<div class="pp_tm_con_se">
					<div class="pp_tm_con_se_l" id="brandlist">
						
						<div class="next_more" style='margin-top:20px;'>
						
							<span class="next_more_btn" id="nextgroup" onclick="loadPresell('{url:/pregoods/getMorePresell}');">
								<span class="next_more_text">查看下一组</span>
							</span>
						</div>        
					</div>
				</div>-->
					<div class="clear"></div>
				  </div>
				</div>
    
 
</div>
<script type='text/html' id='template'>
	<li  style="margin-top:0;float:left;">
		<dl>
			<dt class="brand-img">
				<a href="{url:/pregoods/products/id}/<%=id%>"  target="_blank" title="<%=name%>">
					<img class="lazyload img"  src="{url:<%=presell_img%>}" alt="">
				</a>
			</dt>
			<dd>
				<div class="fl" style='width:220px;'>
					<p class="name">
						<a style='text-decoration:none' href="{url:/pregoods/products/id}/<%=id%>" title="<%=name%>" target="_blank"><%=name%></a>
					</p>
							<p class="explain" title="&#160;">
								<span class="gzmc_k"></span>
								<span class="gzmc_z"></span>
							</p>
							<p class="prom" title="">
								
									<span class="dazhe"><%=price%></span>
							</p>
				</div>
				<div class="fr">
					<p class="brand-logo"></p>
					<span class="bk-timeleft home_timer today_end_time countdown" id="timeRemaining-<%=key%>">
										<span class="icon">距预售结束</span>
										<span id='cd_day_<%=key%>'></span>天
										<span id='cd_hour_<%=key%>'></span>小时
										<span id='cd_minute_<%=key%>'></span>分
										<span id='cd_second_<%=key%>'></span>秒	
										<input name='endTime' type='hidden' value='<%=end_timestamp %>' />
					</span>
				<div class="clear"></div>
			</dd>
		</dl>
		<div class="brand-icon" id="brandsale_sold-out-_0">
			<div class="clear"></div>
		</div>
	</li>

</script>

<div class="pp_tm_con">
				  <div class="pp_tm_con_fr"><a name="floor-1"></a>
					<h3>山城预售<i></i></h3>
				  </div>
       <div class="brand_list">
  <ul class="brand">
  {foreach:items=$this->dataList}
  {if:!$item['presell_img']}{set:$item['presell_img']=$item['img']}{/if}
  <li><div class="brand_poto">
     <a href="{url:/pregoods/products/id/$item['goods_id']}"><img src="{url:$item['presell_img']}" style="width:385px; height:195px; border:none;" alt="{$item['name']}" /></a>
        </div>
  <div class="brand_title"><a href="{url:/pregoods/products/id/$item['goods_id']}"><h3>{$item['name']}</h3> </a>   
    <span class="price">¥<b>{$item['price']}</b><!--<del>¥<em>15045</em></del>--></span>  <!--<span class="qiangg">12345人抢购</span>-->
       <a class="msqing" href="{url:/pregoods/products/id/$item['goods_id']}">马上抢</a>
     </div>
    </li>
    
   {/foreach}    
            </ul>
               </div>
<!--购置数量加减-->
    <script type="text/javascript">
                    $('.spinnerExample').spinner({});
                         </script>