<style type="text/css">
.selectbox{width:500px;height:350px;margin-top: 10px;}
.selectbox div{float:left;}
.selectbox #select1{margin-right: 20px;}
.selectbox #select2{margin-left: 20px;}
.selectbox .select-bar select{width:180px;height:350px;}
.selectbox .button{width:50px; height:30px; margin-top:10px; cursor:pointer;padding: 4px 0;}
</style>
<div class="headbar">
	<div class="position"><span>商品</span><span>></span><span>商品组合管理</span><span>></span></span><span>{if:isset($this->object['id'])}编辑{else:}添加{/if}组合</span></div>
</div>
<div class="content_box">
	<div class="content form_content">
		<form action="{url:/goods/combine_save}" method="post" enctype='multipart/form-data'>
			<table class="form_table" cellpadding="0" cellspacing="0">
				<col width="150px" />
				<col />
				<tr>
					<th>组合名称：</th>
					<td><input class="normal" name="name" type="text" value="{$this->object['name']}" pattern="required" alt="品牌名称不能为空" />
						<label>*</label>
						<input name="id" value="{$this->object['id']}" type="hidden" />
					</td>
				</tr>
				<tr>
					<th>排序：</th><td><input class="normal" name="sort" type="text" value="{$this->object['sort']}" pattern='int' empty alt='必需为整形数值'/></td>
				</tr>
				<tr>
					<th>选择主商品：</th>
					<td>
                    <input class="normal" id="js_goods_name" type="text" value="{$this->goods_name}" disabled="disabled" />
                    <input class="normal" id="js_goods_no" js_data="{$this->goods_no}" type="text" value="{$this->goods_no}" placeholder="输入商品货号" />
                    <input type="hidden" name="goods_id" value="{$this->object['goods_id']}" />
					</td>
				</tr>
                <tr>
                    <th valign="top">组合商品选择</th>
                    <td>
                        <input class="normal" type="text" id="js_goods_list" placeholder="输入搜索商品关键字" value="" js_data="{$this->object['combine']}" /><br/>
                        <div class="selectbox">
                            <div class="select-bar js_select">
                                <select multiple="multiple" id="select1">
                                    {if:$this->goodsList}
                                        {foreach: items=$this->goodsList}
                                        <option value="{$item['id']}">{$item['name']}</option>
                                        {/foreach}
                                    {/if}
                                </select>
                            </div>
                            <div class="btn-bar">
                                <span id="add"><input type="button" class="button" value=">"/></span><br />
                                <span id="add_all"><input type="button" class="button" value=">>"/></span><br />
                                <span id="remove"><input type="button" class="button" value="<"/></span><br />
                                <span id="remove_all"><input type="button" class="button" value="<<"/></span>
                            </div>
                            <div class="select-bar js_select">
                                <select multiple="multiple" id="select2" name="ids[]">
                                {if:$this->goods}
                                    {foreach: items=$this->goods}
                                    <option value="{$item['id']}" selected="selected">{$item['name']}</option>
                                    {/foreach}
                                {/if}
                                </select>
                                
                            </div>
                        </div>
                    </td>
                </tr>
				<tr>
                    <th>状态：</th>
                    <td>
                        <label class='attr'><input type="radio" name="status" value="1" {if:$this->object['status'] == 1} checked {/if}> 显示</label>
                        <label class='attr'><input type="radio" name="status" value="2" {if:$this->object['status'] == 2} checked {/if}> 不显示</label>
                        <label class='attr'><input type="radio" name="status" value="0" {if:$this->object['status'] == 0} checked {/if}> 删除</label>
                    </td>
                </tr>
				<tr>
					<td></td><td><button class="submit" type="submit"><span>确 定</span></button></td>
				</tr>
			</table>
		</form>
	</div>
</div>
<script type="text/javascript">
$(function(){
    dbClick();
})
    $('#js_goods_no').blur(function(){
        var no = $(this).attr('js_data');
        var _no = $(this).val();
        if(_no)
        {
            if(no == _no) 
            {
                return;
            }
            $.ajax({
                type: "get",
                 url: "{url:/goods/_change}",
                 data: {goods_no: _no},
                 dataType: "json",
                 success: function(data){
                    if(data)
                    {
                        $('#js_goods_name').val(data.name);
                        $('input[name=goods_id]').val(data.id);
                    }
                    else
                    {
                        alert('请输入正确的商品货号');
                    }
                 }
            })
        }
        else
        {
            alert('请输入商品货号');
        }
    })
    
    $("#js_goods_list").keyup(function(){
        var _v = $(this).val();
        var _exp = $(this).attr('js_data');
        $.ajax({
            type: "get",
            url: "{url:/goods/_search}",
            data: {_v: _v, _exp: _exp},
            dataType: "json",
            success:function(data){
                if(data)
                {
                    var html = '';
                    for(var i in data){
                        html += "<option value="+data[i].id+">"+data[i].name+"</option>";
                    }
                    $("#select1").html(html);
                    dbClick();
                }
            }
        });
    })
    
    $("#add").click(function(){
        $('#select1 option:selected').appendTo('#select2');
        $('#select2 option').attr('selected', 'selected');
    })
    
    $("#add_all").click(function(){
        $('#select1 option').appendTo('#select2');
        $('#select2 option').attr('selected', 'selected');
    })
    
    $("#remove").click(function(){
        $('#select2 option:selected').appendTo('#select1');
        $('#select2 option').attr('selected', 'selected');
    })
    
    $("#remove_all").click(function(){
        $('#select2 option').appendTo('#select1');
    })
    
    function dbClick()
    {
        $('.js_select option').each(function(){
            $(this).dblclick(function(){
                var obj = $(this).parents('.js_select').siblings('.js_select').children('select');
                $(this).appendTo(obj);
                $('#select2 option').attr('selected', 'selected');
            })
        })
    }
    
</script>