{set:
	$seo_data    = array();
	$site_config = new Config('site_config');
	$site_config = $site_config->getInfo();
	$seo_data['title'] = "用户登录_".$site_config['name'];
	seo::set($seo_data);
}

	<link href="{skin:css/log/pc_login.css}" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="{skin:css/log/login.js}"></script>
<script>
	var logPath = '{url:/simple/login_act}';
	var checkErrTimesUrl = '{url:/simple/checkErrTimes}';
	var returnUrl = '{url:$callback}';
	var servicePhone = '{$site_config["phone"]}';
	
	
	var LOGIN_RESULT = {SUCCESS:0,FAIL:1};                  
	var REGISTER_RESULT = {SUCCESS:10,FAIL:11};             
	var DOMAIN_TYPE = {YHD:1,MALL:2,YW_111:3};              
	var LOGIN_SOURCE={NORMAL:1,FRAME:2};  
	var URLPrefix = {"mymall":"#","passport_statics":"#","yiwangauth":"#","yaowang":"#","tracker":"","passport":"#","my":"#","central":"#","validCodeShowUrl":"#","mall":"#","passportother":"#"}; 
	var currSiteId = 1;                         
	           
	var autoLoginFlag= "1";        
	var valid_code_service_flag="1"; 
	var showValidCode = "0"; 
	var mUrl = "#"; 
</script>
  
   
	<input type="hidden" id="isAutoLogin" value="0">
	<input type="hidden" id="autoLoginFlag" value="1">
	<div class="login_wrap">
		<div class="wrap clearfix">
			<div class="mod_login_wrap login_entry_css">
				<div class="clearfix" style="position: relative;">
	            	<div style="position: relative; padding-left: 160px; padding-right: 160px; height: 40px;">
	            		<h3 style="margin: 0 auto;float: none; width: 100%;">山城速购用户登录</h3>
	            	</div>
	            	<!--
	            	-->
	            	<a style="position: absolute; right: 15px; top: 0px;" href="{url:/simple/reg}" class="regist_new blue_link">注册新账号</a>
	            </div>
				<div class="login_form">
					<input id="login_source" type="hidden" value="1">
					<input id="login_pc_home_page" type="hidden" value="1">
	
					<i class="arraow">&nbsp;</i>
					<p id="error_tips" class="error_tips" style="display:none">您填写的账户名不存在请核对后重新填写</p>
					<div class="form_item_wrap">
					    <div class="form_item cur">
					        <label class="user_ico">&nbsp;</label>
					        <input id="un" type="text" name="credentials.username" spellcheck="false" tabindex="1" class="ipt ipt_username" style="outline: none;" value="">
					    </div>
					    <div class="form_item">
					        <label class="paswd_ico">&nbsp;</label>
					        <input id="pwd" type="password" name="credentials.password" tabindex="2" class="ipt ipt_password" style="outline: none;">
					        <a href="{url:/simple/find_password}" target="_blank" class="forget_pswd" tabindex="-1">忘记密码？</a>
					
					    </div>
					    <div id="vcd_div" class="verify_code" style="display: none;">
					    	<input id="validateSig" type="hidden">
					    	<div class="form_item">
					        	<label>验证码：</label>
					        	<input id="vcd" type="text" name="validCode" value="" tabindex="-1" class="ipt ipt_code" style="width: 70px; outline: none;" maxlength="5" onblur="javascript: checkValidCodeOnBlur()" onkeyup="javascript: login_param_validate();">
					        	<span class="code_right" id="code_right" style="display:none"></span>
                                <span class="code_wrong" id="code_wrong"></span>
					        </div>
					    	<span class="verify_code_box" style="margin: 0px 15px 0px 15px;"><img src='{url:/simple/getCaptcha/w/122/h/55/s/15}' onclick="changeCaptcha('{url:/simple/getCaptcha/w/122/h/55/s/15}')" id='captchaImg' /></span>
					    </div>
					    
					    <p id="autoLoginDiv" class="auto_login">

					    	<a id="check_agreement" class="uncheck_agreement" href="#" >自动登录</a>
					    	<input id="autoLoginCheck" type="hidden">
					    	<label id="agreement_tips" style="display:none;color:red;">请勿在公用电脑上启用。</label>

					    </p>
					    
					    <p class="service_agreement" style="">点击登录，表示您同意山城速购<a href="#" class="blue_link" target="_blank">《服务协议》</a>
                    	</p>
                    	
					    <button id="login_button" type="button" class="login_btn" onclick="javascript:double_submit();return false;">登录</button>
					
					</div>
					
					<div class="login_entry">
						<p>合作网站账号登录</p>
						<ul class="account_list_big clearfix">
							<li><a href="#" target="_blank" class="qq" title="QQ"></a></li>
							<li><a href="#" target="_blank" class="sina" title="新浪微博"></a></li>
							<li><a href="#" target="_blank" class="alipay" title="支付宝"></a></li>
							<li><a href="#" target="_blank" class="weixin" title="微信"></a></li>
						</ul>
				
					</div>
					
				
				</div>
			</div>
			<div class="mod_left_banner"><a id="imgLink" target="_blank"><img id="img1" src="{skin:css/log/login_pic.png}" width="400" height="300"></a></div>
		</div>
	</div>
	
	<!--绑定手机送积分 begin -->
	<div class="mod_login_bindmb_point"></div>
	<!--绑定手机送积分 end -->
<script>	
	pageInit();
	function getPageTag(){
        return 1;	 
    }
    
    $(document).ready(function(){
		loadImageUrl("1","Passport_Login_Ad_Click");
		$(document).keydown(function(e){
		if(e.keyCode==13)
			double_submit();
	})
	});
	
</script>
	