{set:$data=$this->data_info}
{set:$type=$this->data_info['deli_type']} 
{js:artTemplate}
<script type='text/javascript' src='{theme:javascript/artTemplate/area_select.js}'></script>
<div class="headbar">
	<div class="position">
		<span>系统</span><span>></span>
		<span>配送管理</span><span>></span>
		<span>配送修改</span>
	</div>
</div>

<div class="content_box">
	<div class="content form_content">
		<form action='{url:/system/delivery_update}' method='post' name='form'>
            <input type="hidden" name="id" value="" />

			<table class="form_table">
				<col width="150px" />
				<col />

				<tr>
					<th>配送方式名称:</th>
					<td>
						<input class="normal" name="name" value="" type="text" pattern="required" alt="配送方式名称不能为空" />
					</td>
				</tr>
                <tr>
                    <th>计费方式:</th>
                    <td>
                       <label class='attr'><input name="deli_type" type="radio" value="1" />重量计算</label>
                        <label class='attr'><input name="deli_type" type="radio" value="2" />数量计算</label> 
                    </td>
                </tr>
				<tr class="js_set" id="js_set_1" {if: $data['deli_type'] <> 1} style="display: none;" {/if}>
					<th>重量设置:</th>
					<td>
						<label class='attr'>
							首重重量
                            <input type="text" name="first_weight" pattern='int' {if: $data['deli_type'] == 1} value="{$data['first_weight']}" {/if}>克
						</label>

						<label class='attr'>首重费用<input class='tiny' name="first_price" {if: $data['deli_type'] == 1} value="{$data['first_price']}" {/if} pattern="float" alt="该项必填且只允许填写数字金额" type="text">元</label>

						<label class='attr'>
							续重重量
                            <input type="text" name="second_weight" pattern='int' {if: $data['deli_type'] == 1} value="{$data['second_weight']}" {/if} >克
						</label>

						<label class='attr'>续重费用<input class='tiny' name="second_price" {if: $data['deli_type'] == 1} value="{$data['second_price']}" {/if} pattern="float" alt="该项必填且只允许填写数字金额" type="text">元</label>

						<p><label>根据重量来计算运费，当物品不足《首重重量》时，按照《首重费用》计算，超过部分按照《续重重量》和《续重费用》乘积来计算</label></p>
					</td>
				</tr>
                
                <tr class="js_set" id="js_set_2" {if: $data['deli_type'] <> 2} style="display: none;" {/if}>
                    <th>个数设置:</th>
                    <td>
                        <label class='attr'>
                            首数计数
                            <input type="text" name="first_num" pattern='int' {if: $data['deli_type'] == 2} value="{$data['first_weight']}" {/if} >
                        </label>

                        <label class='attr'>首数费用<input class='tiny' name="first_num_price"  {if: $data['deli_type'] == 2} value="{$data['first_price']}"{/if}  pattern="float" alt="该项必填且只允许填写数字金额" type="text">元</label>

                        <label class='attr'>
                            增加个数
                            <input type="text" name="second_num" pattern='int' {if: $data['deli_type'] == 2} value="{$data['second_weight']}"{/if}>
                        </label>

                        <label class='attr'>增加费用<input class='tiny' name="second_num_price" {if: $data['deli_type'] == 2} value="{$data['second_price']}"{/if} pattern="float" alt="该项必填且只允许填写数字金额" type="text">元</label>

                        <p><label>根据个数来计算运费，超过部分按照《增加个数》和《增加费用》乘积来计算</label></p>
                    </td>
                </tr>
				<tr>
					<th>支持保价:</th>
					<td>
						<label class='attr'><input name="is_save_price" value="1" type="checkbox" onclick="$('#protectBox').toggle();">支持物流保价</label>

						<!--支持保价隐藏域-->
						<span id='protectBox' style='display:none'>
							<label class='attr'>费率<input name="save_rate" value="" class='tiny' pattern="float" alt="该项必填且只允许填写数字金额" type="text" />%</label>
							<label class='attr'>最低保价费<input name="low_price" value="" class='tiny' pattern="float" alt="该项必填且只允许填写数字金额" type="text" />元</label>
							<label>当用户需要保价后，一般是按照货物总金额的《费率》计算，但是保价金额最低不低于《最低保价费》</label>
						</span>
					</td>
				</tr>

				<tr>
					<th>设置地区运费:</th>
					<td>
						<label class='attr'><input name="price_type" value="0" type="radio" onclick="$('#areaBox').hide();" checked="checked">统一地区运费</label>
						<label class='attr'><input name="price_type" value="1" type="radio" onclick="$('#areaBox').show();">指定地区运费</label>
						<label>《统一地区运费》：全部的地区都使用默认的《重量设置》中的计费方式。《指定地区运费》：单独指定部分地区的运费</label>
					</td>
				</tr>
			</table>

			<!--按照地区设置-->
			<table class="form_table" id="areaBox" style='display:none'>
				<col width="150px" />
				<col />

				<tr>
					<th></th>
					<td>
						<label class='attr'><input name="open_default" value="1" type='checkbox' />其他地区默认运费</label>
						<label>注意：如果不开启此项，那么未设置的地区将无法送达！</label>
					</td>
				</tr>

				<tr>
					<th>支持的配送地区:</th>
					<td>
	                    <div id="deliveryAreaBox"></div>

	                    <!--地域设定模板-->
	                    <script type='text/html' id='deliveryTemplate'>
						<div class='content_box' style='padding:6px'>
							<input type='hidden' name='area_groupid[]' value='<%=area_groupid%>' />
							选择地区：
							<div name='area_box' style='display:inline'>
								
							</div>
							<button type="button" class="btn" onclick='addProvince(this);'><span class="add">添加</span></button>
							<label class='attr'><span class="js_desc_text_1">首重费用</span>：<input class="tiny" name="firstprice[]" value="<%=firstprice%>" pattern="float" alt="该项必填且只允许填写数字金额" type="text" /></label>
							<label class='attr'><span class="js_desc_text_2">续重费用</span>：<input class="tiny" name="secondprice[]" value="<%=secondprice%>" pattern="float" alt="该项必填且只允许填写数字金额" type="text" /></label>
							<label class='attr'><a href="javascript:void(0)" onclick="$(this).parent().parent().remove();"><img alt="删除" src="{skin:images/admin/icon_del.gif}" class="operator"/></a></label>
							<p><textarea name="areaName" readonly="readonly" disabled='disabled' style='width:85%'><%=areaname%></textarea>已选择的地区</p>
						</div>
	                    </script>
						<button type="button" class="btn" onclick='addArea(this)'><span class="add">添加地区</span></button>
					</td>
				</tr>
			</table>

			<table class="form_table">
				<col width="150px" />
				<col />
				<tr>
					<th>排序:</th><td><input class='tiny' type="text" name="sort" value="" size="5" pattern="int" alt="请输入排序项正整数" /></td>
				</tr>
				<tr>
					<th>状态:</th>
					<td>
						<label class='attr'><input name="status" type="radio" value="1" checked="checked" />启用</label>
						<label class='attr'><input name="status" type="radio" value="0" />关闭</label>
					</td>
				</tr>
				<tr>
					<th>详细介绍:</th><td><textarea name="description" rows="5"></textarea></td>
				</tr>
				<tr>
					<th></th><td><button type="submit" class="submit"><span>保 存</span></button></td>
				</tr>
			</table>
		</form>
	</div>
</div>

<script type='text/javascript'>
//DOM加载完毕
$(function()
{
    //设置计费方式
    var id = {$type};     
    $('#js_set_'+id).show();
    $('#js_set_'+id).find('input').removeAttr('disabled');
    $('#js_set_'+id).siblings('.js_set').hide();
    $('#js_set_'+id).siblings('.js_set').find('input').attr('disabled', 'disabled');
    $('input[name=deli_type]').each(function(){
        $(this).click(function(){
            var _id = $(this).val();
            $('#js_set_'+_id).siblings('.js_set').hide();
            $('#js_set_'+_id).siblings('.js_set').find('input').attr('disabled', 'disabled');
            $('#js_set_'+_id).show();
            $('#js_set_'+_id).find('input').removeAttr('disabled');
            if(_id == 2)
            {
                $('.js_desc_text_1').html('首数费用');
                $('.js_desc_text_2').html('增加费用');
            }
            else
            {
                $('.js_desc_text_1').html('首重费用');
                $('.js_desc_text_2').html('续重费用');
            }
        })
    })
    
	//初始化表单
	var formInstance = new Form('form');
	formInstance.init({echo:JSON::encode($data)});

	//设置隐藏域等部分
	{if:isset($data['is_save_price']) && $data['is_save_price'] == 1}
	$('#protectBox').show();
	{/if}

	//设置统一费用
	{if:isset($data['price_type']) && $data['price_type'] == 1}
	$('#areaBox').show();
	{/if}

	//具有特殊省份设置
	{if:isset($data['area_groupid']) && $data['area_groupid']!=''}
	var area_groupid = {echo:JSON::encode($data['area_groupid'])};
	var firstprice   = {echo:JSON::encode(unserialize($data['firstprice']))};
	var secondprice  = {echo:JSON::encode(unserialize($data['secondprice']))};

    for(var index in area_groupid)
    {
    	var areaname = [];
    	var idArray  = area_groupid[index].split(';');
    	for(var i in idArray)
    	{
    		if(idArray[i])
    		{
    			areaname.push(getAreaName(idArray[i]));
    		}
    	}
		var areaHtml = template.render('deliveryTemplate',{"area_groupid":area_groupid[index],"areaname":areaname.join(','),"firstprice":firstprice[index],"secondprice":secondprice[index]});
		$('#deliveryAreaBox').append(areaHtml);
		
    }
	$('[name=area_box]').append($('.area').eq(0).clone(true).css('display','inline'));
	{/if}
	
	//初始化地域联动
	template.compile("areaTemplate",areaTemplate);
	createAreaSelect('province',0,'');
    
    if(id == 2)
    {
        $('.js_desc_text_1').html('首数费用');
        $('.js_desc_text_2').html('增加费用');
    }
    else
    {
        $('.js_desc_text_1').html('首重费用');
        $('.js_desc_text_2').html('续重费用');
    }
});
/**
 * 生成地域js联动下拉框
 * @param name
 * @param parent_id
 * @param select_id
 * @param next 直钉下一个变化的select
 */
function createAreaSelect(name,parent_id,select_id,next)
{
	//生成地区
	$.getJSON("{url:/block/area_child}",{"aid":parent_id,"random":Math.random()},function(json)
	{
		if(next){
			next.html(template.render('areaTemplate',{"select_id":select_id,"data":json}));
		}else
		$('[name="'+name+'"]').html(template.render('areaTemplate',{"select_id":select_id,"data":json}));
	});
}
/**
 * 切换城市地区
 * @param _self 地域对象
 */
function areaChangeCallback_more(_self)
{
	var parent_id = _self.value;
	var childName = $(_self).attr('child');
	var next = $(_self).next('select');

	if(!childName)
	{
		return;
	}

	//拆分子对象
	var childArray = childName.split(',');
	for(var index in childArray)
	{
		$(_self).parent().find('select[name="'+childArray[index]+'"]').empty();
	}

	//生成js联动菜单
	createAreaSelect(childArray[0],parent_id,'',next);
}
//添加地域项
function addArea()
{
	var areaHtml = template.render('deliveryTemplate',{});
    var deli_type =  $("input[name='deli_type']:checked").val();
	$('#deliveryAreaBox').append(areaHtml);
	$('#deliveryAreaBox').find('.content_box:last').find('[name=area_box]').append($('.area').eq(0).clone(true).css('display','inline'));
    if(deli_type == 2)
    {
        $('.js_desc_text_1').html('首数费用');
        $('.js_desc_text_2').html('增加费用');
    }
    else
    {
        $('.js_desc_text_1').html('首重费用');
        $('.js_desc_text_2').html('续重费用');
    }
	
}

//获取省份名称
function getAreaName(provinceId)
{
	var areaNameList = {echo:JSON::encode($this->area)};
	return areaNameList[provinceId];
}

//添加省份城市区域
function addProvince(_self)
{
	var parentObject = $(_self).parent();
	var selectObj    = parentObject.find('select');
	var selectPro = parentObject.find('select[name=province]');
	var selectCity = parentObject.find('select[name=city]');
	var selectArea = parentObject.find('select[name=area]');
	var selectAreaId = '';
	if(selectArea.val()){
		selectAreaId = selectArea.val();
	}else if(selectCity.val()){
		selectAreaId = selectCity.val();
	}else if(selectPro.val()){
		selectAreaId = selectPro.val();
	}
	if(selectAreaId=='')return false;
	
	//当前选中的地区ID
	var areaGroupId = parentObject.find('input[name="area_groupid[]"]').val();

	//当前选中的地区NAME
	var areaGroupName = parentObject.find('textarea[name="areaName"]').val();

	//填写areaId
	if(areaGroupId == '')
	{
		parentObject.find('input[name="area_groupid[]"]').val(";" + selectAreaId + ";");
	}
	else if(areaGroupId.indexOf(";" + selectAreaId + ";") == -1)
	{
		parentObject.find('input[name="area_groupid[]"]').val(areaGroupId + selectAreaId + ";");
	}
	else
	{
		alert('该区域已经添加，不要重复添加');
		return;
	}

	//添加areaName
	areaGroupName = areaGroupName == '' ? selectObj.find('option:selected').text() : areaGroupName + "," + selectObj.find('option:selected').text();
	areaGroupName = areaGroupName.replace(/请选择/g,'');
	parentObject.find('textarea[name="areaName"]').val(areaGroupName);
}
</script>
<div class='area ' style='display:none'>
	<select name="province" child="city,area" onchange="areaChangeCallback_more(this);"></select>
<select name="city" child="area" parent="province" onchange="areaChangeCallback_more(this);"></select>
<select name="area" parent="city"></select>
</div>
