<script type='text/javascript' src='{theme:javascript/fp.js}'></script>
<link rel="stylesheet" type="text/css" href="{skin:/fap/css/fp.css}">
<div class="main f_r">
	<div class="uc_title m_10">
		<label class="current"><span>在线补开发票</span></label>
	</div>
<div class="page">
			<div class="topu">
				<ul>
					<li id="bkfps" class="fis dj_fis"><a class="bkfp" href="#">补开发票</a></li>
					<li id="ptfps"><a class="ptfp" href="#">普通发票记录</a></li>
					<li id="zjss"><a class="zjs" href="#">增值税专用发票记录</a></li>
				</ul>
			</div>
			<!--补开发票-->
			<div class="content">
				<!--无补开发票订单-->
				<div class="no_fap" style="display:none;">
					<div class="tip_one clearfix">
						<i class="icon_laba"></i>
						<p>
							• 1号店销售商品的发票均由所属商家负责提供，所有发票合法有效。<br>
							• 补开发票只能针对1月内订单。<br>
							• 电子发票不能报销使用并只支持个人发票类型。
						</p>
					</div>
					<div class="ts">您没有可以补开发票的订单噢。</div> 
				</div>
				<!--无补开发票订单结束-->
				
				<div id="bk_cont" class="cz_fap">
					<div class="" style="margin:0 0 10px 0;  font-size:13px;"><p>
						可补开发票记录<span style="font-size:20px;color:red;padding:0 5px;">2</span>条
					</p></div>
					<table border="1" cellpadding="0" cellspacing="0">
						<tr class="first_tr">
							<td width="350px">发票详情</td>
							<td>用户</td>
							<td>总计</td>
							<td>发票</td>
						</tr>
						<tr>
							<td>
								<div class="spxq">
									<a class="sp_img" href="#"><img src="img/sptb/li5.jpg"/></a>
									<div class="sp_text">
										<div class="sp_wz">
											<a  href="#"><span>中国电信官方旗舰店 山西手机充值50元电信话费直充快充电信充值</span></a>
										</div>
										<div class="sp_tb">
											<span><a href="#"><img src="img/sptb/TB1P.png"/></a></span>
											<span><a href="#"><img src="img/sptb/TB1P.png"/></a></span>
										</div>
									</div>
								</div>
							</td>
							<td class="cotn">user</td>
							<td class="cotn">￥49.20</td>
							<td class="cotn"><input class="button" type="button" value="申请发票"/></td>
						</tr>
							<tr>
							<td>
								<div class="spxq">
									<a class="sp_img" href="#"><img src="img/sptb/li5.jpg"/></a>
									<div class="sp_text">
										<div class="sp_wz">
											<a  href="#"><span>中国电信官方旗舰店 山西手机充值50元电信话费直充快充电信充值</span></a>
										</div>
										<div class="sp_tb">
											<span><a href="#"><img src="img/sptb/TB1P.png"/></a></span>
											<span><a href="#"><img src="img/sptb/TB1P.png"/></a></span>
										</div>
									</div>
								</div>
							</td>
							<td class="cotn">user</td>
							<td class="cotn">￥49.20</td>
							<td class="cotn"><input class="button" type="button" value="申请发票"/></td>
						</tr>
					</table>
				</div>
			</div>
			<!--补开发票结束-->
			
			<!--普通发票记录-->
			<div class="content">
				<!--无普通发票-->
				<div class="no_fap"  style="display:none;">
					<div class="ts">您没有索要过普通发票的记录噢。</div> 
				</div>
				<!--无普通发票结束-->
				<div id="pt_cont"  class="cz_fap"  style="display:none;">
					<div class="" style="margin:0 0 10px 0;  font-size:13px;"><p>
						普通发票记录<span style="font-size:20px;color:red;padding:0 5px;">2</span>条
					</p></div>
					<table border="1" cellpadding="0" cellspacing="0">
						<tr class="first_tr">
							<td width="350px">发票详情</td>
							<td>用户</td>
							<td>总计</td>
							<td>发票</td>
						</tr>
						<tr>
							<td>
								<div class="spxq">
									<a class="sp_img" href="#"><img src="img/sptb/li5.jpg"/></a>
									<div class="sp_text">
										<div class="sp_wz">
											<a  href="#"><span>中国电信官方旗舰店 山西手机充值50元电信话费直充快充电信充值</span></a>
										</div>
										<div class="sp_tb">
											<span><a href="#"><img src="img/sptb/TB1P.png"/></a></span>
											<span><a href="#"><img src="img/sptb/TB1P.png"/></a></span>
										</div>
									</div>
								</div>
							</td>
							<td class="cotn">user</td>
							<td class="cotn">￥49.20</td>
							<td class="cotn"><span class="yk">已开</span></td>
						</tr>
						<tr>
							<td>
								<div class="spxq">
									<a class="sp_img" href="#"><img src="img/sptb/li5.jpg"/></a>
									<div class="sp_text">
										<div class="sp_wz">
											<a  href="#"><span>中国电信官方旗舰店 山西手机充值50元电信话费直充快充电信充值</span></a>
										</div>
										<div class="sp_tb">
											<span><a href="#"><img src="img/sptb/TB1P.png"/></a></span>
											<span><a href="#"><img src="img/sptb/TB1P.png"/></a></span>
										</div>
									</div>
								</div>
							</td>
							<td class="cotn">user</td>
							<td class="cotn">￥49.20</td>
							<td class="cotn"><span class="wk">未开</span></td>
						</tr>
					</table>
				</div>
			</div>
			<!--普通发票记录结束-->
			<!--增值税专用发票-->
			<div class="content">
				<!--无增值税专用发票-->
				<div class="no_fap" style="display:none;">
					<div class="ts">您没有申请开具增值税专用发票记录噢。</div> 
				</div>
				<!--无增值税专用发票-->
			
				<div id="zj_cont"  class="cz_fap" style="display:none;">
						<div class="" style="margin:0 0 10px 0;  font-size:13px;"><p>
							增值税专用发票记录<span style="font-size:20px;color:red;padding:0 5px;">2</span>条
						</p></div>
					<table border="1" cellpadding="0" cellspacing="0">
						<tr class="first_tr">
							<td width="350px">发票详情</td>
							<td>用户</td>
							<td>总计</td>
							<td>发票</td>
						</tr>
						<tr>
							<td>
								<div class="spxq">
									<a class="sp_img" href="#"><img src="img/sptb/li5.jpg"/></a>
									<div class="sp_text">
										<div class="sp_wz">
											<a  href="#"><span>中国电信官方旗舰店 山西手机充值50元电信话费直充快充电信充值</span></a>
										</div>
										<div class="sp_tb">
											<span><a href="#"><img src="img/sptb/TB1P.png"/></a></span>
											<span><a href="#"><img src="img/sptb/TB1P.png"/></a></span>
										</div>
									</div>
								</div>
							</td>
							<td class="cotn">user</td>
							<td class="cotn">￥49.20</td>
							<td class="cotn"><span class="yk">已开</span></td>
						</tr>
						<tr>
							<td>
								<div class="spxq">
									<a class="sp_img" href="#"><img src="img/sptb/li5.jpg"/></a>
									<div class="sp_text">
										<div class="sp_wz">
											<a  href="#"><span>中国电信官方旗舰店 山西手机充值50元电信话费直充快充电信充值</span></a>
										</div>
										<div class="sp_tb">
											<span><a href="#"><img src="img/sptb/TB1P.png"/></a></span>
											<span><a href="#"><img src="img/sptb/TB1P.png"/></a></span>
										</div>
									</div>
								</div>
							</td>
							<td class="cotn">user</td>
							<td class="cotn">￥49.20</td>
							<td class="cotn"><span class="wk">未开</span></td>
						</tr>
					</table>
				</div>
			</div>
			<!--增值税专用发票结束-->
		</div>
	</div>