{js:my97date}
<div class="main f_r">
    <div class="uc_title m_10">
        <label class="current"><span>我的订单</span></label>
    </div>
	<!--新增搜索-->
	<div class="sstj">
	<form action='{url:/ucenter/order}' method='post' name='search_order'>
		<input type="text" placeholder="输入订单号进行搜索" class="ddss" name='order_no' ><input class="dstxt" value='订单搜索'  type='submit'>
		<span class="showst">精简筛选条件</span>
		<div class="jsx">
			<table>
				<tr>
					
					<td><span>成交时间</span>
					<input class="order_time" type="text" name="beginTime" onfocus="WdatePicker()"  />到
					<input class="order_time" type="text" name="endTime" onfocus="WdatePicker()" />
					</td>
				</tr>
				<tr>
					<td>
						<span>商户状态</span>
						<select name='seller_id' >
							<option  >全部</option>
							<option value='2'>平台</option>
							<option value='1'>商户</option>
						</select>
						<span>订单状态</span>
						
						<select name='status' >
							<option value='0'>全部</option>
							<option value='1'>等待支付</option>
							<option value='2'>取消订单</option>
							<option value='3'>等待发货</option>
							<option value='4'>已发货</option>
							<option value='5'>部分发货</option>
							<option value='6'>已完成</option>
						</select>
					</td>
					<td></td>
				</tr>
			</table>
		</div>
		
	</form>
	</div>
	<form action='{url:/block/dopaymerge}' method='post' name='merge_pay'>
	<div class='m_5' id='merge_pay'>
		<input type="button" class='btn_gray btn_small' value="合并付款" name='merge_show' onclick='merge_pay_toggle()'/>
		<select style='height:25px;' name='payment' class='hide'>
			<option>请选择支付方式</option>
			{set:$paymentList=Api::run('getPaymentList')}
			{foreach:items = $paymentList}
			{if:$item['id']!=0 || $this->freight_collect!=0}
			<option value='{$item["id"]}'>{$item['name']}</option>
			{/if}
			{/foreach}
		</select>
		<input type="button" class='btn_gray btn_small hide' value="确认支付" name='to_pay' onclick='merge_pay_submit()'/>
	</div>
	
	<!--新增搜索结束-->
<!--全选js和显示隐藏筛选条件的js写在nav.js中-->
    <div class="box m_10">
        <table class="list_table" width="100%" cellpadding="0" cellspacing="0">
        	<col width="200px" />
            <tr>
                <th><span class="checktet"><input id="ckAll" class="checks" type="checkbox"/>全部</span>订单编号</th>
                <th>下单日期</th>
                <th width='50px'>收货人</th>
                <th>支付方式</th>
                <th>总金额</th>
                <th>订单状态</th>
            </tr>
            {set:$queryOrderList=$this->order_db}
			{foreach:items = $queryOrderList->find()}
			{set:$status=Order_Class::getOrderStatus($item);}
		
            <tr>
				
                <td>	
                	{if:$status==2}
					<input  name="sub[]" class="checks" type="checkbox" value='{$item["id"]}'/>
					{/if}
                	<a href="{url:/ucenter/order_detail/id/$item[id]}" class="orange">{$item['order_no']}</a>
                </td>
                <td>{$item['create_time']}</td>
                <td>{$item['accept_name']}</td>
                <td>{$this->payments[$item['pay_type']]['name']}</td>
                <td>￥{echo:$item['order_amount']}</td>
               
				<td>
					{if:$status==2}
                	<a topay='{url:/block/dopay/order_id/$item["id"]}' money='{$item["order_amount"]}' href='javascript:void(0)' onclick='pay_confirm(this);' target=='blank'><input type="button" class='btn_gray btn_small' style='margin-bottom:5px;' value="立即支付" onclick="javascript:window.location.href='{url:/block/dopay/order_id/$item['id']}'"/></a>
					<a href="{url:/ucenter/order_status/op/cancel/order_id/$item['id']}"><input type="button" class='btn_gray btn_small' value="取消订单" onclick="javascript:window.location.href='{url:/ucenter/order_status/op/cancel/order_id/$item['id']}'"/></a>
					{elseif:$status==1}
					<a href="{url:/ucenter/order_status/op/cancel/order_id/$item['id']}"><input type="button" class='btn_gray btn_small' value="取消订单" onclick="javascript:window.location.href='{url:/ucenter/order_status/op/cancel/order_id/$item['id']}'"/></a>
					{elseif:in_array($status,array(4,8,9,10,11))}
					<a href="{url:/ucenter/refunds_edit/order_id/$item['id']}"><input type="button" class='btn_gray btn_small' value="申请退换货" onclick="javascript:window.location.href='{url:/ucenter/refunds_edit/order_id/$item['id']}'"/></a>
					{elseif:in_array($status,array(3,11,17))}
					<a href="{url:/ucenter/order_status/op/confirm/order_id/$item['id']}"><input style='margin-bottom:5px;' type="button" class='btn_gray btn_small' value="确认收货" onclick="javascript:window.location.href='{url:/ucenter/order_status/op/confirm/order_id/$item['id']}'"/></a>
					<a href="{url:/ucenter/refunds_edit/order_id/$item['id']}"><input type="button" class='btn_gray btn_small' value="申请退换货" onclick="javascript:window.location.href='{url:/ucenter/refunds_edit/order_id/$item['id']}'"/></a>
					
					{elseif:$status==6 || $status==22}
					<b class="orange">{echo:Order_Class::orderStatusText($status)}</b>
						{if:$item['comment_status']==1}
						<b class="orange">已评价</b>
						{else:}
						<a href="{url:/site/comments/id/$item['comment_id']}"><input type="button" class='btn_gray btn_small' value="评价" onclick="javascript:window.location.href='{url:/site/comments/id/$item['comment_id']}'"/></a>
						
						{/if}
					{elseif:$status==21}
						<b class="orange">{echo:Order_Class::orderStatusText($status)}</b>
				
					{else:}
					<b class="orange">{echo:Order_Class::orderStatusText($status)}</b>
					{/if}
					<!--<img class="img_delt" src="{skin:images/front/ucenter/bin_closed.png}"/>-->
					
                </td>
            {/foreach}
            </tr>
            <tfoot><tr><td colspan="6" class="t_l">{$this->order_db->getPageBar()}</td></tr></tfoot>
        </table>
    </div>
	</form>
</div>
<script type='text/javascript'>
	//表单回填
var formObj = new Form('search_order');
formObj.init({
	'order_no':'{$s_order_no}',
	'beginTime':'{$s_beginTime}',
	'endTime':'{$s_endTime}',
	'status':'{$s_status}',
	'seller_id':'{$s_seller_id}',
});
{if:$s_beginTime||$s_endTime||$s_status||$s_seller_id}
$('.jsx').show();
{/if}

function pay_confirm(_this){
	var to_pay = $(_this).attr('topay');
	var pay_money = $(_this).attr('money');
	confirm('该订单需支付￥'+pay_money+'，确认支付吗',"location.href='"+to_pay+"'",1);
}
</script>
