<script type='text/javascript' src='{theme:javascript/acount.js}' /></script>
<div class="main f_r">
	<div class="uc_title m_10">
		<label class="current"><span>绑定手机</span></label>
	</div>
	<div class="chg-account m_10">
		<ul class="order_step">
		<li class="current">
		<span class="first">1.输入要绑定的手机号</span>
		</li>
		<li class="last">
		<span>2.手机绑定成功</span>
		</li>
		</ul>
	</div>
	<div class="form_content">
	<form action='{url:/ucenter/phone_edit}' method='post'>
			<table class="form_table" cellpadding="0" cellspacing="0">
				<col width="200px" />
				<col />
				<tr>
					<th><span class="red">*</span>要绑定的手机号码：</th><td><input type='text' class="normal" name="phone" pattern='mobi'  /><label></label></td>
				</tr>
				<tr>
					<th><span class="red">*</span>验证码：</th>
					<td ><input type='text' class="small" name="repassword" pattern='required' />
					</td>
					<td >
						<label class="btn"><input type="button" value="获取验证码" /></label>
					</td>
				</tr>
				<tr>
					<th></th>
					<td>
						<label class="btn"><input type="submit" value="确认提交" /></label>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>