{set:$order_id = IFilter::act(IReq::get('order_id'),'int');
$fa = new IModel('order_fapiao');
$this->fapiaoRow = $fa->getObj('order_id='.$order_id);
}
<div class="main f_r">
	<div class="uc_title m_10">
		<label class="current"><span>补开发票</span></label>
	</div>
	<div class="form_content m_10">
		<div class="uc_title2 m_10"><strong>填写发票内容</strong></div>
		<form action='{url:/ucenter/fapiao_add_act}' method='post' name='fapiao'>
			<table class="form_table" width="100%" cellpadding="0" cellspacing="0">
				<input type='hidden' name='order_id' value="{echo:IReq::get('order_id')}"/>
				<input type='hidden' name='id' value=""/>
				<col width="120px" />
				<col />
				<tr>
					<th><span class="red"></span> 发票类型：</th>
					<td>
						<label class='attr'><input type='radio' name='type' value='0' />个人</label>
						<label class='attr'><input type='radio' name='type' value='1' checked=checked />单位</label>
					</td>
				</tr>
				<tr>
					<th><span class="red"></span> 发票抬头：</th>
					<td>
						
						<input class="normal" type="text" name="taitou" {if:isset($this->fapiaoRow['status'])&&$this->fapiaoRow['status']==3}disabled {/if}alt='请填写发票抬头' /><label></label>
					
					</td>
				</tr>
				<!--<tr>
					<th><span class="red"></span> 发票内容：</th>
					<td><select class="small" name="content" style='width:100px;'>
							<option value='0'>请选择</option>
							<option value='1'>食品</option>
							<option value='2'>饮料</option>
						</select>
					</td>
				</tr>-->
				<tr><th></th><td><label class="btn"><input type="submit"  class='btn_gray btn_small' value="申请发票" /></label></td></tr>
			
			</table>
		</form>
	</div>
</div>
<script type='text/javascript' >
	//表单回填
{if:$this->fapiaoRow}
var formObj = new Form('fapiao');
formObj.init({
	'id':'{$this->fapiaoRow['id']}',
	'type':'{$this->fapiaoRow['type']}',
	'taitou':'{$this->fapiaoRow['taitou']}',
	'content':'{$this->fapiaoRow['content']}',
});
{/if}
</script>
