<link rel="stylesheet" type="text/css" href="{skin:/account/css/shouji-1.css}">

<script type='text/javascript' src='{theme:javascript/ucenter.js}'></script>

<div class="main f_r">
	<div class="uc_title m_10">
		<label class="current"><span>修改绑定手机</span></label>
	</div>
	<div class="youxiang">
	
	<div class="kuai">
	   <ul>
	   
		  <li class="sanjiao"><p>1.验证身份</p><img class="yijiao" src="{skin:/account/images/sanjiao_03.jpg}" width="17" height="34" alt="图标"></li>
		  <li class="sanjiao er"><p>2.修改已验证手机</p><img class="yijiao" src="{skin:/account/images/sanjiao_03.jpg}" width="17" height="34" alt="图标"></li>
		  <li class="yanse san">3.修改手机成功</li>
	  
	   </ul>
	</div>
	<div class="wenzi bangding">
	
	
	<img src="{skin:/account/images/duigou.jpg}" width="150" height="150" alt="图片"> 
	
	<p>手机换绑 提交成功</p>
	<p class="tiaozhuan"><span class='count'></span>秒后自动跳转至个人资料，您也可点此<a href="{url:ucenter/info}">直接跳转</a>。</p>
	
	
	</div>
	<hr/>
	
	
	</div>
</div>
<script type='text/javascript'>
	successTo('{url:ucenter/info}');

</script>
