.header{background: url(./images/header_bg.png) repeat-x;height: 58px;}
.header .main{max-width:1190px;height:58px;background: url(./images/header_bg.png) repeat-x;padding: 15px 0px;color: #777;margin:0 auto; }
.header_left{float:left;}.header_right{float:right;}