 html, body { position: relative; height: 100%; }
 body { background: #eee; margin: 0; padding: 0; }
 .swiper_tit{
	/*width:45%;*/
	margin: auto;
	padding: 16px 0px;
 }
  .swiper_bg{
	 background:#fff;
	/* 
	 border-right: 1px solid #c0c0c0;*/
	 
 }
 .active { 
	color: rgb(253, 250, 250);
	background:#dd2727!important;
 }
 .active .swiper_tit:after{
	 content: ' ';
	font-size: 0;
	position: absolute;
	bottom: -6px;
	left: 50%;
	margin-left: -7px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 7px 0;
	border-color: #dd2727 transparent transparent;
 }
 .swiper_height{
	 height:52px;
	 border-bottom: 1px solid  #F4F2F2;
	 text-align:center;
	 
 }


 .section_bg{
	background:#fff;
	margin-top: -6px;
	position: relative;
	z-index: 0;
 }
 .swiper-container {
    width: 100%;
    
 }
.swiper-slide {
	font-size: 15px;
    /* text-align: center;
    
    background: #fff;
    Center slide text vertically 
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;*/
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
	
}
.head{
	border-top: 1px solid  #F4F2F2;
	background:  #F4F2F2;
	position: relative;
	z-index: 100;
	height: 60px;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAA8AQMAAACU1OLDAAAABlBM¡­l2Z/dAAAAAXRSTlMAQObYZgAAAA1JREFUCNdj+EFHiAQAfds0UY9rd5YAAAAASUVORK5CYII=') repeat-x;/*¿½±´µÄÑùÊ½*/
	
}
.swiper-slide .ul_conter{
	list-style-type: none;
	padding: 0;
	width: 99%;
	margin: 0 auto;
	position: relative;
	
	
}
.swiper-slide .ul_conter:before{
	content: '';
	display: table;
	
}
.swiper-slide .ul_conter li{
	display: inline-block;
	width:48%;
	border: 1px solid #eee;
	border-top:0;
	
}
.swiper-slide .ul_conter li a{
	text-decoration: none;
	color:#000;
}
.swiper-slide .ul_conter li a .fl_title{
	line-height: 18px;
	height: 34px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
}
.swiper-slide .ul_conter li a  p{
	font-size:13px;
	text-align:left;
	margin:5px 2px;
}

/*ÏúÊÛ¼þÊýÑùÊ½*/
.swiper-slide .ul_conter li a p .ul_sell{
	color:#c0c0c0;
}
/*¼Û¸ñ*/
.swiper-slide .ul_price{
	color:red;
}
.swiper-slide .ul_conter li a p .ul_gw{
	display: block;
	height: 30px;
	width: 30px;
	background:#fa3735;
	float: right;
	margin-right: 5px;
	position: relative;
	bottom: 15px;
	border-radius: 50%;
}
.swiper-slide .ul_conter li a img{
	width:100%;
	border:0;
	
}
/*活动页面*/
.line-height{
	display: block;
	line-height: 44px;
}
.gd_bottom{
	margin:15px 0;
	border-top: 1px solid #eee; 
	border-bottom: 1px solid #eee;
	text-align: center; 
}
.top_img img{
	width: 100%;
}
.ul_conter .shop_lj{
	display: block;
/*	margin: 5px 10px;*/
	line-height: 25px;
	background: #ed1b24;
	color: #fff !important;
	text-align: center;
}