 html, body { position: relative; height: 100%; }
 body { background: #eee; margin: 0; padding: 0; }
 .swiper_tit{
	/*width:45%;*/
	margin: auto;
	padding: 5px 0px;
 }
  .swiper_bg{
	 background:#fff;
	/* 
	 border-right: 1px solid #c0c0c0;*/
	 
 }
 .active { 
	color: rgb(253, 250, 250);
	background:#dd2727!important;
 }
 .active .swiper_tit:after{
	 content: ' ';
	font-size: 0;
	position: absolute;
	bottom: -6px;
	left: 50%;
	margin-left: -7px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 7px 0;
	border-color: #dd2727 transparent transparent;
 }
 .swiper_height{
	 height:52px;
	 border-bottom: 1px solid  #F4F2F2;
	 text-align:center;
	 
 }
/*点击后商品分类图标开始*/
.swiper_bg  .ls{
	display: block;
	height: 20px;
	width:25px;
	margin:auto;
	background: url(../wap/category.png) no-repeat;
}
.active .tb1{
	background-position:-200px -182px!important;
 }
.active .tb2{
	background-position:-200px -60px!important;

 }
.active .tb3{
	background-position:-200px -120px!important;

 }
.active .tb4{
	background-position:-200px -80px!important;

 }
.active .tb5{
	background-position:-200px -160px!important;

 }
.active .tb6{
	background-position:-200px -100px!important;

 }
 .active .tb7{
	background-position:-200px -240px!important;

 }
 .active .tb8{
	background-position:-200px -140px!important;

 }
 
  /*点击后商品分类图标结束*/
 /*点击前的图标*/
.swiper_bg .tb1{
	background-position:0px -182px;
 }
  .swiper_bg .tb2{
	background-position:0px -60px;
 }
   .swiper_bg .tb3{
	background-position:0px -120px;
 }
   .swiper_bg .tb4{
	background-position:0px -80px;
 }
   .swiper_bg .tb5{
	background-position:0px -160px;
 }
.swiper_bg .tb6{
	background-position:0px -100px;
 }
 .swiper_bg .tb7{
	background-position:0px -240px;
 }
 .swiper_bg .tb8{
	background-position:0px -140px;
 }
 
  /*点击后商品分类图标结束*/
 /*点击前的图标*/
.swiper_bg .tb1{
	background-position:0px -182px;
 }
  .swiper_bg .tb2{
	background-position:0px -60px;
 }
   .swiper_bg .tb3{
	background-position:0px -120px;
 }
   .swiper_bg .tb4{
	background-position:0px -80px;
 }
   .swiper_bg .tb5{
	background-position:0px -160px;
 }
.swiper_bg .tb6{
	background-position:0px -100px;
 }
 .swiper_bg .tb7{
	background-position:0px -240px;
 }
 .swiper_bg .tb8{
	background-position:0px -140px;
 }
  /*点击前的图标结束*/

 .section_bg{
	background:#fff;
	margin-top: -6px;
	position: relative;
	z-index: 0;
 }
 .swiper-container {
    width: 100%;
    
 }
.swiper-slide {
	font-size: 15px;
    /* text-align: center;
    
    background: #fff;
    Center slide text vertically 
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;*/
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
	
}
.head{
	border-top: 1px solid  #F4F2F2;
	background:  #F4F2F2;
	position: relative;
	z-index: 100;
	height: 60px;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAA8AQMAAACU1OLDAAAABlBM…l2Z/dAAAAAXRSTlMAQObYZgAAAA1JREFUCNdj+EFHiAQAfds0UY9rd5YAAAAASUVORK5CYII=') repeat-x;/*拷贝的样式*/
	
}
.swiper-slide .ul_conter{
	list-style-type: none;
	padding: 0;
	width: 99%;
	margin: 0 auto;
	position: relative;
	
	
}
.swiper-slide .ul_conter:before{
	content: '';
	display: table;
	
}
.swiper-slide .ul_conter li{
	display: inline-block;
	width:49%;
	border: 1px solid #eee;
	border-top:0;
	
}
.swiper-slide .ul_conter li a{
	text-decoration: none;
	color:#000;
}
.swiper-slide .ul_conter li a .fl_title{
	line-height: 18px;
	height: 34px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
}
.swiper-slide .ul_conter li a  p{
	font-size:13px;
	text-align:left;
	margin:5px 2px;
}

/*销售件数样式*/
.swiper-slide .ul_conter li a p .ul_sell{
	color:#c0c0c0;
}
/*价格*/
.swiper-slide .ul_price{
	color:red;
}
.swiper-slide .ul_conter li a p .ul_gw{
	display: block;
	height: 30px;
	width: 30px;
	background:#fa3735;
	float: right;
	margin-right: 5px;
	position: relative;
	bottom: 15px;
	border-radius: 50%;
}
.swiper-slide .ul_conter li a img{
	width:100%;
	height:100%;
	border:0;
	
}